$background: #F5F6F6;
$background-dark: #F2F2F2;
$primary: #20419A;
$highlight: #00B5DC;

.aptapro {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/aptapro/header-background.jpg);
			background-position: center bottom;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.browserBar {
		background: rgba(#585C68,0.3);
		
		li {
			background: $background;
		}
	}
	
	.phone {
		background: rgba(#585C68,0.3);
		
		.speaker, .home {
			background: $background;
		}
		
		@media (min-width:$tablet) {
			display: none;
		}
	}
	
	.browser {
		display: none;
		
		@media (min-width:$tablet) {
			display: block;
		}
	}
	
	#challenge {
		overflow: hidden;
		
		.browser {
			margin-bottom: -100px;
		}
	}
	
	.elnn {
		margin: 60px 0px;
		
		img {
			width: 350px;
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
	
	article.video {
		background: rgba(#585C68,0.3);
		border-radius: 0px;
	}
	
	article.video .control-bar .seek .watched:after {
		box-shadow: 0px 0 3px 0px $highlight;
		background: $highlight;
	}
	
	article.video .control-bar .seek .watched {
		background: $highlight;
	}
	
	article.video .control-bar .button-bar .volume .rail .audible {
		background: $highlight;
	}
	
	article.video .control-bar .seek .watched .handle {
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), 0 0 1px 1px $highlight;
	}
	
	article.video .control-bar .seek .watched:before {
		background: $highlight;
		box-shadow: none;
	}
	
	article.video .control-bar .button-bar {
		background: rgba(#585C68,0.8);
		-webkit-backdrop-filter: blur(10px);
	}
	
	article.video .large-play {
		text-shadow: 0px 0px 30px rgba(black,0.5);
	}
	
	.colours {
		max-width: 100%;
	}
	
	.styleguide {
		display: flex;
		flex-flow: column;
		margin-top: -5px;
		
		img {
			max-width: 100%;
			height: auto;
			margin: 10px 0px;
			width: 100%;
		}
		
		@media (min-width:$tablet) {
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			
			img {
				width: 50%;
				margin: 0px;
			}
		}
	}
	
	#solution {
		overflow: hidden;
		
		.browser.article {
			margin-bottom: -100px;
		}
	}
}