$background: #F8F8F8;
$background-dark: #F2F2F2;
$primary: #002E0B;
$highlight: #56A421;

.arc {
	--background: #F8F8F8;
	--background-dark: #F2F2F2;
	--primary: #002E0B;
	--highlight: #56A421;
	
	background: $background;
		
	.categories {
		background: $background-dark;
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-color: rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: linear-gradient(-180deg, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 100%), $background-dark;
		}
	}
	
	header {
		background-color: $background-dark;
		overflow: hidden;
		
		@media (min-width:$tablet) {
			height: 656px;
		}
		
		.coverimage {
			opacity: 1;
		}
		
		.visit-link {
			display: none;
		}
		
		.content {
			height: 100%;
		}
		
		.logo {
			position: relative;
			z-index: 3;
		}
		
		#radar {
			
			width: 200px;
			height: 200px;
			margin: 0px auto;
			margin-top: -220px;
			z-index: 2;
			position: relative;
			
			@media (min-width:375px) {
				width: 250px;
				height: 250px;
				margin-top: -260px;
			}
			
			@media (min-width:414px) {
				margin-top: -270px;
			}
			
			@media (min-width:$tablet) {
				display: block;
				position: absolute;
				margin: 0px;
				right: -100px;
				bottom: 0px;
				width: 550px;
				height: 550px;
			}
			
			@media (min-width:1024px) {
				right: -40px;
			}
			
			@media (min-width:1080px) {
				right: -20px;
			}
					
			@media (min-width:$desktop) {
				right: 0px;
			}
		}
		
		#radar span {
			position:absolute;
			width:200px;
			height:200px;
			border: 1px solid rgba(black,0.1);
			border-radius:50%;
			animation: radar 4s infinite linear;
			opacity: 0;
			
			@media (min-width:375px) {
				width: 250px;
				height: 250px;
			}
			
			@media (min-width:$tablet) {
				width:550px;
				height:550px;
			}
		}
		
		#radar-5 span:nth-child(1) {
			animation-delay: 0s;
		}	
		#radar span:nth-child(2) {
			animation-delay: 1.33s;
		}
		#radar span:nth-child(3) {
			animation-delay: 2.66s;
		}
								
		@keyframes radar {
			0% {transform: scale(0); opacity: 0;}
			25% {transform: scale(0); opacity: 0.5;}
			50% {transform: scale(1); opacity: 1;}
			75% {transform: scale(1.5); opacity: 0.5;}
			100% {transform: scale(2); opacity: 0;}
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		display: none;
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	#challenge {
		display: flex;
		overflow: hidden;
		flex-flow: column;
		
		@media (min-width:$desktop) {
			flex-flow: row;
			height: 600px;
		}
		
		.copy {
			margin-bottom: 30px;
			
			@media (min-width:$desktop) {
				width: 60%;
				padding-right: 30px;
				margin-bottom: 0px;
			}
		}
		
		.image {
			@media (min-width:$desktop) {
				width: 40%;
			}
		}

		img	 {
			max-width: 100%;
			display: block;
			margin: 0px auto;
		}
	}
}