$background: #F9F9F9;
$background-dark: #F2F0EE;
$primary: #9F9D9A;
$highlight: #BC441C;

.eastland {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type, .caption {
		color: $primary !important;
	}
	
	.type::after, .caption::before {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/eastland/header-background.jpg);
			opacity: 0.07;
			background-position: center bottom;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.phone {
		background: rgba($primary,0.3);
		
		.speaker, .home {
			background: $background;
		}
	}
	
	#challenge {
		overflow: hidden;
		
		br {
			display: none;
		}
		
		@media (min-width:$desktop) {
			display: flex;
			
			br {
				display: block;
			}
			
			.copy {
				width: 50%;
			}
			
			.phone {
				margin-top: 0px;
				margin-bottom: -250px;
			}
		}
	}
	
	.row {
		margin-bottom: 30px;
		
		@media (min-width:$tablet) {
			margin-bottom: 100px;
		}
		
		@media (min-width:$desktop) {
			display: flex;
			align-items: flex-end;
			
			p {
				width: 50%;
				padding-left: 30px;
			}
		}
		
		img {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	
	.appgrid {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		div {
			width: 45%;
			margin-bottom: 20px;
			
			img {
				max-width: 100%;
				display: block;
				margin: 0px auto;
			}
		}
		
		p {
			text-align: center;
			@include dinalt;
			text-transform: uppercase;
			font-size: 15px;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		
		@media (min-width:$tablet) {
			div {
				width: 50%;
				margin-bottom: 60px;
			}
		}
		
		@media (min-width:1024px) {
			div {
				width: auto;
			}
		}
	}
	
	#solution {
		img {
			max-width: 100%;
			margin-top: 30px;
			margin-bottom: -20px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			
			@media (min-width:$tablet) {
				margin-bottom: -80px;
				margin-top: 60px;
			}
		}
	}
}

.card.eastland:hover {
	background: $background-dark;
}