.eastland {
	--background: #F9F9F9;
	--background-dark: #F2F0EE;
	--primary: #9F9D9A;
	--highlight: #BC441C;
	
	.coverimage {
		background-image: url(../images/portfolio/eastland/header-background.jpg);
		opacity: 0.07;
		background-position: center bottom;
	}
	
	#solution {
		img {
			max-width: 100%;
			margin-top: 30px;
			margin-bottom: -20px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			
			@media (min-width:$tablet) {
				margin-bottom: -80px;
				margin-top: 60px;
			}
		}
	}
	
	.row {
		margin-bottom: 30px;
		
		@media (min-width:$tablet) {
			margin-bottom: 100px;
		}
		
		@media (min-width:$desktop) {
			display: flex;
			align-items: flex-end;
			
			p {
				width: 50%;
				padding-left: 30px;
			}
		}
		
		img {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}