$background: #4B4740;
$background-dark: #37332C;
$primary: #ACA8A2;
$highlight: #FFD56F;

.epoch {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3, .quote {
		color: $highlight !important;
	}
	
	p, caption, .type {
		color: $primary !important;
	}
	
	.quote {
		text-transform: uppercase;
		@include dinalt;
		font-size: 20px;
		
		&::before {
			content: url(../images/portfolio/epoch/quote.svg);
			margin-right: 30px
		}
		
		&::after {
			content: url(../images/portfolio/epoch/quote.svg);
			transform: rotate(180deg);
			 display: inline-block;
			 margin-left: 30px;
		}
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/epoch/header-background.jpg);
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.thought a {
		color: $primary;
		border-bottom: 2px solid $highlight;
		
		&:hover {
			text-decoration: none;
			color: $highlight;
		}
	}
	
	#challenge {
		display: flex;
		overflow: hidden;
		flex-flow: column;
		position: relative;	
		
		@media (min-width:$desktop) {
			flex-flow: row;
			height: 600px;
		}
		
		.copy, .image {
			width: 100%;
			
			@media (min-width:$desktop) {
				width: 50%;
			}
		}
		
		.image {
			margin-top: 30px;
			//display: flex;
			align-items: center;
			flex-flow: column;
			
			@media (min-width:$desktop) {
				margin-top: 0px;
			}
		}
		
		.phone {
			display: block;
			margin: 0px auto;
			width: 330px;
			background: rgba(black, 0.3);
			
			.speaker, .home {
				background: $background;
			}
		}
		
		#clockdiv {
			bottom: 265px;
		}
	}
	
	#solution {
		position: relative;
		
		.phone {
			display: block;
			margin: 0px auto;
			width: 330px;
			background: rgba(black, 0.3);
			
			.speaker, .home {
				background: $background-dark;
			}
		}
	}
	
	#process {
		display: flex;
		overflow: hidden;
		flex-flow: column;
		
		@media (min-width:$desktop) {
			flex-flow: row;
			height: 620px;
		}
		
		.copy, .image {
			width: 100%;
			
			@media (min-width:$desktop) {
				width: 50%;
			}
		}
		
		.image {
			margin-top: 30px;
			
			@media (min-width:$desktop) {
				margin-top: 0px;
			}
		}		
		
		.phone {
			display: block;
			margin: 0px auto;
			width: 330px;
			background: rgba(black, 0.3);
			
			.speaker, .home {
				background: $background;
			}
		}
	}
	
	#clockdiv {
		display: flex;
		flex-direction: row;
		width: calc(70px * 4);
		position: absolute;
		margin: 0px auto;
		left: 0px;
		right: 0px;
			
		.time {
			width: 70px;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		
		.smalltext {
			color: white;
			opacity: 0.5;
			text-transform: uppercase;
			font-size: 10px;			
		}
		
		.largetext {
			color: white;
			opacity: 0.8;
			font-size: 34px;
			font-weight: bold;
		}
	}
}