$background: #4B4740;
$background-dark: #37332C;
$primary: #ACA8A2;
$highlight: #FFD56F;

.epoch {
	background: $background;
	
	.categories {
		background: $background-dark;
	}
	
	h1, h2, h3, .quote {
		color: $highlight !important;
	}
	
	p, caption, .type, .caption {
		color: $primary !important;
	}
	
	.quote {
		text-transform: uppercase;
		@include dinalt;
		font-size: 20px;
		position: relative;
		margin-left: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		
		&::before {
			content: url(../images/portfolio/epoch/quote.svg);
			position: absolute;
			left: -50px;
		}
		
		&::after {
			content: url(../images/portfolio/epoch/quote.svg);
			transform: rotate(180deg);
			position: absolute;
			right: 10px;
		}
	}
	
	.type::after, .caption::before {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-color: rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.10) 100%), $background-dark;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/epoch/header-background.jpg);
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.thought a {
		color: $primary;
		border-bottom: 2px solid $highlight;
		
		&:hover {
			text-decoration: none;
			color: $highlight;
		}
	}
	
	#challenge {
		display: flex;
		overflow: hidden;
		flex-flow: column;
		position: relative;	
		
		@media (min-width:$desktop) {
			flex-flow: row;
			height: 470px;
		}
		
		.copy, .image {
			width: 100%;
			
			@media (min-width:$desktop) {
				width: 50%;
			}
		}
		
		.image {
			margin-top: 30px;
			align-items: center;
			flex-flow: column;
			
			@media (min-width:$desktop) {
				margin-top: 0px;
			}
		}
		
		.phone {
			display: block;
			margin: 0px auto;
			background: rgba(black, 0.3);
			max-width: 280px;
			
			@media(min-width:$tablet) {
				width: 300px;
				max-width: 300px;
			}
		}
		
		.countdown {
			bottom: 113px;
			
			@media (min-width:$tablet) {
				bottom: 172px;
			}
			
			@media (min-width:$desktop) {
				right: 155px;
				bottom: 55px;
			}
		}
	}
	
	#solution {
		position: relative;
		
		.phone {
			display: block;
			margin: 0px auto;
			max-width: 280px;
			background: rgba(black, 0.3);
			
			@media(min-width:$tablet) {
				width: 300px;
				max-width: 300px;
			}
		}
		
		.image {
			position: relative;
		}
		
		@media (min-width:$desktop) {
			height: 926px;
			overflow: hidden;
		}
		
		.countdown {
			bottom: 93px;
			
			@media (min-width:$desktop) {
				right: 0px !important;
				left: 0px !important;
				position: absolute;
				margin: 0px auto !important;
			}
		}
	}
	
	#process {
		display: flex;
		overflow: hidden;
		flex-flow: column;
		
		@media (min-width:$desktop) {
			flex-flow: row;
			align-items: center;
		}
		
		.copy, .image {
			width: 100%;
			
			@media (min-width:$desktop) {
				width: 50%;
			}
		}
		
		.image {
			margin-top: 30px;
			
			@media (min-width:$desktop) {
				margin-top: 0px;
			}
		}		
		
		.phone {
			display: block;
			margin: 0px auto;
			background: rgba(black, 0.3);
			max-width: 280px;
			
			@media(min-width:$tablet) {
				width: 330px;
			}
		}
	}
	
	.row {
		display: flex;
		flex-flow: column;
		
		@media (min-width:$desktop) {
			flex-flow: row;
		}
	}
	
	.widget {
		@media (min-width:$tablet) {
			flex-flow: row;
			margin-bottom: 60px;
			align-items: center;
			
			.copy {
				width: 60%;
			}
			
			.image {
				width: 40%;
			}
		}
		
		.image {
			position: relative;
		}
		
		img {
			max-width: 100%;
			width: 378px;
			margin: 0px auto;
			display: block;
		}
		
		.time p {
			@media (min-width: $tablet) {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
	
	.location {
		@media (min-width:$desktop) {
			align-items: flex-end;
			
			.image {
				order: 1;
				width: 40%;
			}
			
			.copy {
				order: 2;
				margin-bottom: 30px;
				width: 60%;
			}
		}
	}

	.minicountdown {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 74%;
		
		p {
			color: white !important;
			font-family: helvetica, arial, sans-serif;
			text-align: center;
		}
	}
}