$background: #EEEFF2;
$background-dark: #E9EBEE;
$primary: #6A8A9C;
$highlight: #00A5F0;

.exvo {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
		
		@supports not (-webkit-backdrop-filter:blur(40px)) {
			background: $background;
		}
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type, .caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.caption {
		margin-top: 0px;
		margin-bottom: 0px;
		
		@media (min-width:$tablet) {
			margin-bottom: -10px;	
		}
	}
	
	.caption + p {
		font-size: 15px;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned {
			background: linear-gradient(-180deg, rgba(#6A8A9C,0.05) 0%, rgba(#6A8A9C,0.05) 100%), $background-dark;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/exvo/header-background.jpg);
			background-position: center bottom;
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	#challenge {
		img {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-top: 60px;
		}
		
		@media (min-width:$desktop) {
			display: flex;
			align-items: center;
			
			.copy {
				width: 48%;
			}
			
			img {
				width: 50%;
				margin-top: 0px;
			}
		}
	}
	
	.styleguide {
		img {
			max-width: 100%;
			display: block;
			margin: 0px auto 10px auto;
		}
		
		@media (min-width:$tablet) {
			img {
				max-width: 48%;
				margin: 0px;
				display: inline;
			}
		}
	}
	
	.platform {
		margin: 0px auto;
		max-width: 512px;
		
		div {
			margin-bottom: 20px;
		}
		
		img {
			max-width: 100%;
		}
		
		@media (min-width:$tablet) {
			overflow: auto;
			zoom: 1;
			max-width: 100%;			
			
			div {
				float: left;
				width: calc(50% - 40px);
				margin: 20px;
			}
		}
	}
	
	.icons {
		display: block;
		margin: 60px 0px 30px -15px;
		width: 775px;
		
		@media (min-width:$tablet) {
			margin: 60px 0px 30px -100px;
			width: 1550px;
		}
				
		@media (min-width:$desktop) {
			margin: 60px auto 30px auto;
		}
	}
	
	#process {
		overflow: hidden;
	}
	
	p.constrained {
		text-align: center;
	}
}

.card.exvo:hover {
	background: $background-dark;
}