$background: #373038;
$background-dark: #2D2731;
$primary: #9B9CA6;
$highlight: #D7B48D;

.nightlight {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
		
		@supports not (-webkit-backdrop-filter:blur(40px)) {
			background: $background;
		}
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned {
			background: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.10) 100%), $background-dark;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/nightlight/header-background.jpg);
			opacity: 1;
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.browserBar {
		background: rgba(black,0.2);
		
		li {
			background: $background-dark;
		}
	}
	
	.phone {
		background: rgba(black,0.2);
		
		.speaker, .home {
			background: $background-dark;
		}
		
		@media (min-width:$phone-landscape) {
			display: none;
		}
	}
	
	.browser {
		display: none;
		
		@media (min-width:$phone-landscape) {
			display: block;
		}
	}
	
	article.video {
		background: rgba(#585C68,0.3);
		border-radius: 0px;
	}
	
	article.video .control-bar .seek .watched:after {
		box-shadow: 0px 0 3px 0px $highlight;
		background: $highlight;
	}
	
	article.video .control-bar .seek .watched {
		background: $highlight;
	}
	
	article.video .control-bar .button-bar .volume .rail .audible {
		background: $highlight;
	}
	
	article.video .control-bar .seek .watched .handle {
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), 0 0 1px 1px $highlight;
	}
	
	article.video .control-bar .seek .watched:before {
		background: $highlight;
		box-shadow: none;
	}
	
	article.video .control-bar .button-bar {
		background: rgba(#211A28,0.8);
		-webkit-backdrop-filter: blur(10px);
	}
	
	article.video .large-play {
		text-shadow: 0px 0px 30px rgba(black,0.5);
	}
	
	article.video .spinner {
		display: none;
	}
	
	article.video .loading {
		display: none;
	}
	
	article.video .control-bar .seek {
		z-index: 2;
	}
	
	#solution {
		.chat {
			max-width: 100%;
			box-shadow: 0px 2px 67px 0px rgba(black,0.14);
		}
		
		.like {
			@media (max-width:$tablet) {
				img	{
					margin: 0px auto 10px auto;
					display: block;
				}
				
				p {
					text-align: center;
				}
			}
			
			@media (min-width:$tablet) {
				display: flex;
				align-items: center;
				
				img {
					margin-right: 30px;
					width: 114px;
				}
				
				p {
					flex: 1;
					padding: 0px;
				}
			}
		}
	}
	
	#process {
		.closed {
			max-width: 100%;
			margin: 0px auto 30px auto;
			display: block;
			
			@media (min-width:$tablet) {
				margin-bottom: 30px;
			}
		}
		
		.styleguide {
			background: #2F2D35;
			padding: 20px;
			margin-bottom: 10px;
			
			.copy {
				padding-bottom: 30px;
				
				img {
					max-width: 100%;
				}
				
				.colours {
					margin-top: 20px;
				}
				
				@media (min-width:$tablet) {
					display: flex;
					justify-content: space-between;
					padding-top: 30px;
					align-items: flex-end;
					
					.fonts {
						max-width: 50%;
					}
					
					.colours {
						max-width: 50%;
						height: 68px;
						flex: 1;
						padding-left: 30px;
					}
				}
				
				@media (min-width:$desktop) {
					.fonts {
						max-width: 463px;
					}
					
					.colours {
						max-width: 518px;
					}
				}
			}
			
			.icons {
				
				padding-top: 30px;
				margin-bottom: -10px;
				border-top: 1px solid rgba($primary, 0.1);
				flex-wrap: wrap;
				
				img {
					width: calc(100%/3);
				}
				
				@media (min-width:321px) {
					justify-content: space-between;
					flex-wrap: nowrap;
					
					img {
						width: calc(100%/6.5);
					}
				}
				
				@media (min-width:$tablet) {
					display: flex;
					
					img {
						width: auto;
					}
				}
			}
		}
		
		.sidebar {
			margin-top: 30px;
			
			@media (min-width:$tablet) {
				display: flex;
				align-items: center;
				margin-top: 100px;
				
				img {
					margin-right: 30px;
				}
				
				.copy {
					flex: 1;
				}
			}
		}
	}
	
	
	
}

.card.nightlight:hover {
	background: $background-dark;
}