.nightlight {
	--background: #373038;
	--background-dark: #2D2731;
	--primary: #9B9CA6;
	--highlight: #D7B48D;
	
	.coverimage {
		background-image: url(../images/portfolio/nightlight/header-background.jpg);
		opacity: 1;
	}
	
	.visit-link {
		display: none;
	}
	
	.like {
		@media (max-width:$tablet) {
			img	{
				margin: 0px auto 10px auto;
				display: block;
			}
			
			p {
				text-align: center;
			}
		}
		
		@media (min-width:$tablet) {
			display: flex;
			align-items: center;
			
			img {
				margin-right: 30px;
				width: 114px;
			}
			
			p {
				flex: 1;
				padding: 0px;
			}
		}
	}
	
	.closed {
		max-width: 100%;
		margin: 0px auto 30px auto;
		display: block;
		
		@media (min-width:$tablet) {
			margin-bottom: 30px;
		}
	}
	
	.styleguide {
		background: #2F2D35;
		padding: 20px;
		margin-bottom: 10px;
		
		.copy {
			padding-bottom: 30px;
			
			img {
				max-width: 100%;
			}
			
			.colours {
				margin-top: 20px;
			}
			
			@media (min-width:$tablet) {
				display: flex;
				justify-content: space-between;
				padding-top: 30px;
				align-items: flex-end;
				
				.fonts {
					max-width: 50%;
				}
				
				.colours {
					max-width: 50%;
					height: 68px;
					flex: 1;
					padding-left: 30px;
				}
			}
			
			@media (min-width:$desktop) {
				.fonts {
					max-width: 463px;
				}
				
				.colours {
					max-width: 518px;
				}
			}
		}
		
		.icons {
			
			padding-top: 30px;
			margin-bottom: -10px;
			border-top: 1px solid rgba($primary, 0.1);
			flex-wrap: wrap;
			
			img {
				width: calc(100%/3);
			}
			
			@media (min-width:321px) {
				justify-content: space-between;
				flex-wrap: nowrap;
				
				img {
					width: calc(100%/6.5);
				}
			}
			
			@media (min-width:$tablet) {
				display: flex;
				
				img {
					width: auto;
				}
			}
		}
	}
	
	.sidebar {
		margin-top: 30px;
		
		@media (min-width:$tablet) {
			display: flex;
			align-items: center;
			margin-top: 100px;
			
			img {
				margin-right: 30px;
			}
			
			.copy {
				flex: 1;
			}
		}
	}
}