$background: #2A2A29;
$background-dark: #252524;
$primary: #9B8E84;
$highlight: #FF002B;

.pizzahut {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		@media (min-width:$tablet) {
			height: 656px;
		}
		
		.coverimage {
			background-image: url(../images/portfolio/pizzahut/header-background.jpg);
		}
		
		.content {
			height: 100%;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		display: none;
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	#challenge {
		display: flex;
		overflow: hidden;
		flex-flow: column;
		
		@media (min-width:$desktop) {
			flex-flow: row;
			height: 550px;
		}
		
		.copy, .image {
			width: 100%;
			
			@media (min-width:$desktop) {
				width: 50%;
			}
		}
		
		.image {
			margin-top: 30px;
			
			@media (min-width:$desktop) {
				margin-top: 0px;
			}
		}
		
		.phone {
			display: block;
			margin: 0px auto;
			width: 330px;
			background: rgba(black, 0.3);
			
			.speaker, .home {
				background: $background;
			}
		}
	}
}

.card.pizzahut:hover {
	background: $background-dark;
}