$background: #181818;
$background-dark: #000000;
$primary: #6A6A6A;
$highlight: #CA4750;

.retailerportal {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type, .caption {
		color: $primary !important;
	}
	
	.type::after, .caption::before {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.5);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/retailerportal/header-background.jpg);
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.5);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.browserBar {
		background: rgba($primary,0.3);
		
		li {
			background: $background;
		}
	}
	
	.phone {
		background: rgba($primary,0.3);
		
		.speaker, .home {
			background: $background;
		}
		
		@media (min-width:$tablet) {
			display: none;
		}
	}
	
	.browser {
		display: none;
		
		@media (min-width:$tablet) {
			display: block;
		}
	}
	
	#challenge {
		overflow: hidden;
		
		@media (min-width:$tablet) {
			height: 800px;
		}
		
		@media (min-width:$desktop) {
			height: 1000px;
		}
	}
	
	#solution {
		.row {
			@media (min-width:$tablet) {
				display: flex;
				justify-content: space-between;
				
				p {
					width: 49%;
				}
			}
		}
	}
}