$background: #181818;
$background-dark: #000000;
$primary: #6A6A6A;
$highlight: #CA4750;

.retailerportal {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/retailerportal/header-background.jpg);
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution {
		background: $background-dark;
	}
}