$background: #181818;
$background-dark: #000000;
$primary: #6A6A6A;
$highlight: #CA4750;

.retailerportal {
	background: $background;
	
	.categories {
		background: $background-dark;
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type, .caption {
		color: $primary !important;
	}
	
	.type::after, .caption::before {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-color: rgba($primary, 0.5);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.10) 100%), $background-dark;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/retailerportal/header-background.jpg);
		}
		
		.visit-link {
			display: none;
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.5);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.browserBar {
		background: rgba($primary,0.3);
		
		li {
			background: $background;
		}
	}
	
	.phone {
		background: rgba($primary,0.3);
		
		.speaker {
			background: $background;
		}
		
		.home {
			border: 4px solid $background;
		}
		
		@media (min-width:$phone-landscape) {
			display: none;
		}
	}
	
	.browser {
		display: none;
		
		@media (min-width:$phone-landscape) {
			display: block;
		}
	}
	
	#challenge {
		overflow: hidden;
		
		.browser {
			margin-bottom: -100px;
		}
	}
	
	#solution {
		.card {
			margin: 30px auto;
			max-width: 940px;
			
			img {
				max-width: 100%;
			}
		}
		
		.row {
			@media (min-width:$tablet) {
				display: flex;
				justify-content: space-between;
				
				p {
					width: 49%;
				}
			}
		}
	}
	
	.styleguide {
		height: 1249px;
		position: relative;
		
		.baseline {
			width: 100%;
			height: 100%;
			position: absolute;
			background: url(../images/portfolio/retailerportal/lines.png);
			z-index: 2;
		}
				
		.image {
			background: url(../images/portfolio/retailerportal/styleguide-mobile.png);
			width: 303px;
			height: 1197px;
			margin: 26px auto;
			padding-top: 0px;
			position: absolute;
			left: 0px;
			right: 0px;
			z-index: 1;
		}
		
		@media (min-width:$tablet) {
			height: 1015px;
			
			.image {
				background: url(../images/portfolio/retailerportal/styleguide-tablet.png);
				width: 492px;
				height: 911px;
				margin: 52px auto;
			}
		}
		
		@media (min-width:$desktop) {
			height: 573px;
			
			.image {
				background: url(../images/portfolio/retailerportal/styleguide-desktop.png);
				width: 1054px;
				height: 469px;
				margin: 52px auto;
			}
		}
		
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			.image {
				background: url(../images/portfolio/retailerportal/styleguide-mobile@2x.png);
				background-size: 303px 1197px;
			}
			
			@media (min-width:$tablet) {
				.image {
					background: url(../images/portfolio/retailerportal/styleguide-tablet@2x.png);
					background-size: 492px 911px;
				}
			}
			
			@media (min-width:$desktop) {
				.image {
					background: url(../images/portfolio/retailerportal/styleguide-desktop@2x.png);
					background-size: 1054px 469px;
				}
			}
		}
	}
}