@import "fonts.css";
@import "themes.css";
@import "components.css";

:root{
	--background: #F8F8F8;
	--background-dark: #F3F3F3;
	--primary: #7B7B7B;
	--primary-rgb: 123, 123, 123;
	--highlight: #F78A60;
	--font-body: 'Circular Std Book', helvetica, arial, sans-serif;
	--font-header: 'Circular Std', helvetica, arial, sans-serif;
	--radius: 6px
}
@media (prefers-color-scheme: dark){
	:root{
		--background: #2d2d2d;
		--background-dark: #232323;
		--primary: #C0C0C0;
		--primary-rgb: 192, 192, 192
	}
}