@import "themes.css";
@import "components.css";

:root{
	--background: #F8F8F8;
	--accentPrimary: #CB4507;
	--accentSecondary: #E86634;
	--accentTertiary: #EEE8E2;
	--body: #3C1201;
	--fontBody: 'Inter', helvetica, arial, sans-serif;
	--fontHeader: 'Crimson Pro', 'Times New Roman', serif;
	--fontSize: 14px;
	--spacer: 6px;
}

@media (prefers-color-scheme: dark) {
	:root{
		--background: #2d2d2d;
		--accentPrimary: #FF8F63;
		--accentSecondary: #E86634;
		--accentTertiary: #444240;
		--body: #EEE8E2;
	}
}

@media (min-width: 414px) {
	:root {
		--fontSize: 16px;
		--spacer: 12px;
	}
}

@media (min-width: 1100px) {
	 :root{
			--fontSize: 22px;
			--spacer: 24px;
	}
}