---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Width of the content area
$phone-landscape: 569px;
$tablet: 740px;
$tablet-landscape: 1023px;
$desktop: 1120px;
$desktop-lrg: 1800px;

:root {
  --highlight: black;
  --primary: black;
  --font-body: 'Circular Std Book', helvetica, arial, sans-serif;
  --font-header: 'Circular Std', helvetica, arial, sans-serif;
}

@mixin clearfix {
	overflow: auto;
	zoom: 1;
}

@import
        "fonts",
        "base",
        "portfolio",
        "resume",
        "404",
        "../_sass/portfolio/eastland",
        "../_sass/portfolio/retailerportal",
        "../_sass/portfolio/neutron",
        "../_sass/portfolio/karinourish",
        "../_sass/portfolio/aptapro",
        "../_sass/portfolio/epoch",
        "../_sass/portfolio/nightlight",
        "../_sass/portfolio/mediaportal",
        "../_sass/portfolio/simplescales"
;
