---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

:root {
	--background: #F8F8F8;
	--background-dark: #F3F3F3;
	--primary: #7B7B7B;
	--highlight: #F78A60;
	--font-body: 'Circular Std Book', helvetica, arial, sans-serif;
	--font-header: 'Circular Std', helvetica, arial, sans-serif;
	--radius: 6px;
	
	@media (prefers-color-scheme: dark) {	
		--background: #2d2d2d;
		--background-dark: #232323;
		--primary: #C0C0C0;
	}
}

$phone-landscape: 569px;
$tablet: 740px;
$tablet-landscape: 1023px;
$desktop: 1120px;
$desktop-lrg: 1800px;

@mixin clearfix {
	overflow: auto;
	zoom: 1;
}

@import
	"fonts",
	"components",
	"themes"
;

@media (min-width:$tablet) {
	:root {
		--radius: 12px;
	}
}