@-webkit-keyframes slide  {
	from {
		background-position: left 100% 
	}
	to {
		background-position: left 0% 
	}
}

@keyframes slide  {
	from {
		background-position: left 100% 
	}
	to {
		background-position: left 0% 
	}
}

/* PORTFOLIO */
	.portfolio {
		--highlight: #F78A60 
	}
	
	.portfolio nav {
		border: none;
		padding-left: 10px;
		padding-right: 10px 
	}
	
	.portfolio nav .sitename {
		pointer-events: none 
	}
	
	@media (min-width: 569px) {
		.portfolio nav {
			max-width: 1200px;
			padding-left: calc(20px + env(safe-area-inset-left));
			padding-right: calc(20px + env(safe-area-inset-right)) 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio nav {
			height: 120px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio nav {
			height: 212px 
		}
		
		.portfolio nav .sitename {
			transform: scale(1.3) 
		}
		
		.portfolio nav .contact-link {
			font-size: 30px 
		}
	}
	
	@media (min-width: 1224px) {
		.portfolio nav {
			padding-left: 0px;
			padding-right: 0px 
		}
	}
	
	@media (min-width: 1800px) {
		.portfolio nav {
			width: 1763px;
			max-width: 1763px 
		}
	}
	
	.portfolio .constrained {
		padding-top: 70px;
		padding-bottom: 40px;
		width: calc(100% - 20px);
		display: grid;
		grid-gap: var(--spacer);
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 150px);
		grid-template-areas: 	"ticketek"
								"eastland"
								"mimezz"
								"simplescales"
								"kohab"
								"mediaportal"
								"nightlight"
								"aptapro"
								"retailerportal";
	}
	
	.portfolio .constrained .tile {
		border-radius: var(--spacer);
		position: relative;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(#fff, #000);
		background: var(--accentTertiary);
	}
	
	.portfolio .constrained .tile a {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		padding: 10px 15px 
	}
	
	@media (min-width: 740px) {
		.portfolio .constrained .tile a {
			padding: 10px 20px 
		}
	}
	
	@media (min-width: 1800px) {
		.portfolio .constrained .tile a {
			padding: 15px 30px 
		}
	}
	
	.portfolio .constrained .tile .promo {
		z-index: 1;
		transition: 0.5s transform ease 
	}
	
	.portfolio .constrained .tile:hover .promo {
		transition: 0.8s transform ease;
		transform: scale(1.1) 
	}
	
	.portfolio .constrained .tile:hover a {
		text-decoration: none !important 
	}
	
	.portfolio .constrained .tile h2 {
		font-size: calc(var(--fontSize) * 2);
		line-height: calc(var(--fontSize) * 2);
	}
	
	.portfolio .constrained .tile h5 {
		font-size: calc(var(--fontSize) * 0.6);
		font-weight: 800;
		line-height: calc(var(--fontSize) * 0.6);
	}
	
	.portfolio .constrained .tile .flexwrapper {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center 
	}
	
	@media (min-width: 569px) {
		.portfolio .constrained {
			width: calc(100% - 40px);
			max-width: 1280px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(7, 150px);
			grid-template-areas: 	"ticketek ticketek"
									"eastland kohab"
									"eastland mimezz"
									"nightlight mimezz"
									"mediaportal mediaportal"
									"aptapro simplescales"
									"retailerportal retailerportal";
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .constrained {
			grid-template-rows: repeat(7, 300px);
			padding-top: 120px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .constrained {
			grid-template-rows: repeat(7, 415px);
			padding-top: 212px 
		}
	}
	
	@media (min-width: 1800px) {
		.portfolio .constrained {
			width: 1763px;
			max-width: 1763px;
			grid-gap: 40px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(5, 415px);
			grid-template-areas: 	"ticketek ticketek eastland"
									"mimezz kohab eastland"
									"mimezz mediaportal mediaportal"
									"nightlight aptapro simplescales"
									"retailerportal retailerportal simplescales";
		}
	}
	
	.portfolio .eastland {
		grid-area: eastland;
	}
	
	.portfolio .eastland .promo {
		position: absolute;
		top: -40px;
		left: 160px;
		width: 210px 
	}
	@media (min-width: 569px) {
		.portfolio .eastland .promo {
			top: 10px;
			left: 130px;
			width: 300px 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .eastland .promo {
			left: 40px;
			width: 580px 
		}
	}
	
	@media (min-width: 1023px) {
		.portfolio .eastland .promo {
			left: 60px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .eastland .promo {
			width: auto 
		}
	}
	
	.portfolio .simplescales {
		grid-area: simplescales;
	}
	
	.portfolio .simplescales .promo {
		margin-top: -95px;
		margin-left: 130px 
	}
	
	@media (min-width: 569px) {
		.portfolio .simplescales .promo {
			width: 200px;
			margin-top: -80px;
			margin-left: 130px;
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .simplescales .promo {
			width: 290px;
			margin-top: -50px;
			margin-left: 100px;
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .simplescales .promo {
			width: 390px;
			margin-top: -70px;
		}
	}
	
	@media (min-width: 1800px) {
		.portfolio .simplescales .promo {
			margin-top: 10px;
			margin-left: 0px;
			width: auto 
		}
	}
	
	.portfolio .nightlight {
		grid-area: nightlight;
	}
		
	.portfolio .nightlight .promo {
		margin-top: 10px 
	}
	
	.portfolio .nightlight .chatbar {
		position: absolute;
		bottom: 0px;
		left: 0px 
	}
	
	@media (max-width: 1119px) {
		.portfolio .nightlight .chatbar {
			display: none 
		}
	}
	
	.portfolio .kohab {
		grid-area: kohab;
	}
	
	.portfolio .kohab .promo {
		position: absolute;
		top: 16px;
		right: 20%;
		width: 140px 
	}
	
	@media (min-width: 569px) {
		.portfolio .kohab .promo {
			right: 5% 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .kohab .promo {
			width: 240px;
			top: 70px;
			right: 10% 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .kohab .promo {
			width: auto;
			bottom: 55px;
			right: 73px 
		}
	}
	
	.portfolio .mediaportal {
		grid-area: mediaportal;
	}
	
	.portfolio .mediaportal .promo {
		position: absolute;
		width: 420px;
		top: 30px;
		left: 50px 
	}
	
	@media (min-width: 568px) {
		.portfolio .mediaportal .promo {
			width: 510px;
			top: -30px;
			left: 160px 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .mediaportal .promo {
			width: 880px;
			top: 30px;
			left: 20px 
		}
	}
	
	@media (min-width: 1023px) {
		.portfolio .mediaportal .promo {
			left: 100px;
			top: -40px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .mediaportal .promo {
			width: auto;
			top: 30px;
			left: 50px 
		}
	}
	
	.portfolio .aptapro {
		grid-area: aptapro;
	}
	
	.portfolio .aptapro .promo {
		width: 170px;
		margin-left: 5px 
	}
	
	@media (min-width: 321px) {
		.portfolio .aptapro .promo {
			width: 210px;
			margin-left: 165px;
			margin-top: -26px 
		}
	}
	
	@media (min-width: 569px) {
		.portfolio .aptapro .promo {
			width: 170px;
			margin-left: 35px;
			margin-top: 0px 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .aptapro .promo {
			width: 350px;
			margin-left: 35px;
			margin-top: 30px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .aptapro .promo {
			width: auto;
			margin-left: 35px;
			margin-top: 60px 
		}
	}
	
	@media (min-width: 1800px) {
		.portfolio .aptapro .promo {
			width: auto;
			margin-top: 50px;
			margin-left: 35px 
		}
	}
	
	.portfolio .karinourish {
		grid-area: karinourish;
	}
	
	.portfolio .karinourish .promo {
		position: absolute;
		top: -20px;
		left: 110px;
		width: 420px 
	}
	
	@media (min-width: 568px) {
		.portfolio .karinourish .promo {
			top: -90px;
			left: 150px 
		}
	}
	
	@media (min-width: 667px) {
		.portfolio .karinourish .promo {
			top: -20px;
			left: 110px 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .karinourish .promo {
			top: 30px;
			left: 60px 
		}
	}
	
	@media (min-width: 1023px) {
		.portfolio .karinourish .promo {
			top: 20px;
			left: 100px;
			width: 480px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .karinourish .promo {
			width: 720px 
		}
	}
	
	@media (min-width: 1800px) {
		.portfolio .karinourish .promo {
			width: 980px;
			left: 70px 
		}
	}
	
	.portfolio .retailerportal {
		grid-area: retailerportal;
	}
	
	.portfolio .retailerportal .promo {
		position: absolute;
		width: 420px;
		top: 30px;
		left: 60px 
	}
	
	@media (min-width: 568px) {
		.portfolio .retailerportal .promo {
			width: 510px;
			top: -10px;
			left: 150px 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .retailerportal .promo {
			width: 880px;
			top: 30px;
			left: 20px 
		}
	}
	
	@media (min-width: 1023px) {
		.portfolio .retailerportal .promo {
			left: 150px;
			top: 30px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .retailerportal .promo {
			width: auto;
			top: 30px;
			left: 60px 
		}
	}
	
	.portfolio .ticketek-site {
		grid-area: ticketek;
	}
	
	.portfolio .ticketek-site h3 {
		opacity: 0.5 
	}
	
	.portfolio .ticketek-site .promo {
		position: absolute;
		top: 10px;
		right: 20px;
		width: 50% 
	}
	
	@media (min-width: 740px) {
		.portfolio .ticketek-site .promo {
			top: 20px;
			right: 70px;
			width: 400px 
		}
	}
	
	@media (min-width: 1023px) {
		.portfolio .ticketek-site .promo {
			top: 30px;
			right: 100px;
			width: auto 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .ticketek-site .promo {
			right: 200px 
		}
	}
	
	.portfolio .mimezz {
		grid-area: mimezz;
	}
	
	.portfolio .mimezz .promo {
		position: absolute;
		top: -20px;
		right: 10px;
		width: 300px;
	}
	
	@media (min-width: 569px) {
		.portfolio .mimezz .promo {
			top: 60px;
			right: 20px;
			width: 400px 
		}
	}
	
	@media (min-width: 740px) {
		.portfolio .mimezz .promo {
			top: 70px;
			right: -90px;
			width: 900px 
		}
	}
	
	@media (min-width: 1120px) {
		.portfolio .mimezz .promo {
			width: auto;
			top: 70px;
		}
	}

/* RESUME */
	.resume {
		--background: #F8F8F8;
		--background-dark: #F3F3F3;
		--primary: #7B7B7B;
		--highlight: #F78A60 
	}
	
	@media (prefers-color-scheme: dark) {
		.resume {
			--background: #2d2d2d;
			--primary: #C0C0C0;
			--highlight: #f5a162 
		}
	}
	
	.resume nav {
		border: none;
		padding-left: 20px;
		padding-right: 20px 
	}
	
	.resume nav a {
		color: var(--primary) 
	}
	
	.resume nav a:hover {
		text-decoration: none 
	}
	
	.resume nav .contact-link {
		display: none 
	}
	
	@media (min-width: 569px) {
		.resume nav {
			max-width: 900px;
			padding-left: calc(20px + env(safe-area-inset-left));
			padding-right: calc(20px + env(safe-area-inset-right)) 
		}
	}
	
	@media (min-width: 740px) {
		.resume nav {
			height: 120px;
			padding-left: calc(30px + env(safe-area-inset-left));
			padding-right: calc(30px + env(safe-area-inset-right)) 
		}
	}
	
	@media (min-width: 1023px) {
		.resume nav {
			padding-left: calc(0px + env(safe-area-inset-left));
			padding-right: calc(0px + env(safe-area-inset-right)) 
		}
	}
	
	@media (min-width: 1120px) {
		.resume nav {
			height: 212px 
		}
		
		.resume nav .sitename {
			transform: scale(1.3) 
		}
		
		.resume nav .contact-link {
			font-size: 30px 
		}
	}
	
	@media (min-width: 1224px) {
		.resume nav {
			padding-left: 0px;
			padding-right: 0px 
		}
	}
	
	.resume .constrained {
		max-width: 900px;
		z-index: 2;
		position: relative;
		padding-top: 70px;
	}
	@media (min-width: 740px) {
		.resume .constrained {
			padding-top: 120px;
		}
	}
	
	@media (min-width: 1120px) {
		.resume .constrained {
			padding-top: 212px 
		}
	}
	
	.resume .categories .resumelink {
		display: block 
	}
	
	.resume h3 {
		text-transform: none;
		font-family: var(--fontHeader);
		font-size: 25px;
		margin: 0px;
		margin-bottom: 5px;
		line-height: 26px;
		color: var(--primary);
	}
	
	@media (min-width: 740px) {
		.resume h3 {
			font-size: 28px 
		}
	}
	
	.resume h4 {
		font-family: var(--fontHeader);
		font-size: 16px;
		color: var(--primary);
		margin-bottom: 10px 
	}
	
	.resume p {
		font-family: var(--fontBody);
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 30px 
	}
	
	.resume a {
		color: var(--highlight) 
	}
	
	.resume a:hover {
		text-decoration: underline 
	}
	
	.resume .type {
		margin-left: 10px;
		margin-top: 60px 
	}
	
	@media (min-width: 1120px) {
		.resume .type {
			margin-left: 18px 
		}
	}
	
	.resume .details {
		margin-bottom: 40px;
		margin-left: 10px 
	}
	
	.resume .details ul {
		list-style: none;
		overflow: auto;
		zoom: 1;
		margin: 0px 
	}
	
	.resume .details ul li {
		float: left;
		font-family: var(--fontHeader);
		margin-right: 40px;
		font-size: 22px;
		color: var(--primary) 
	}
	
	.resume .details ul li a {
		color: var(--primary) 
	}
	
	.resume .details ul li a:hover {
		color: var(--highlight) 
	}
	
	.resume .details ul li:first-child {
		display: none 
	}
	
	@media (min-width: 1120px) {
		.resume .details {
			margin-left: 18px 
		}
	}
	
	.resume .job {
		margin-bottom: 20px;
		margin-left: 10px 
	}
	
	@media (min-width: 740px) {
		.resume .job {
			padding: 0px 
		}
	}
	
	@media (min-width: 1120px) {
		.resume .job {
			margin-left: 18px 
		}
	}
	
	.resume .education {
		margin-bottom: 20px;
		margin-left: 10px 
	}
	
	@media (min-width: 1120px) {
		.resume .education {
			margin-left: 18px 
		}
	}
	
	@media print {
		.resume {
			--background: black;
			--background-dark: black;
			--primary: black;
			--highlight: black 
		}
		
		.resume nav {
			height: 40px 
		}
		
		.resume nav .sitename {
			transform: scale(1);
			margin-left: 20px 
		}
		
		.resume nav svg {
			display: none 
		}
		
		.resume .constrained {
			padding-top: 40px 
		}
		
		.resume .details ul li:first-child {
			display: block 
		}
		
		.resume h1 {
			margin-left: 10px 
		}
		
		.resume .details {
			padding-top: 20px 
		}
		
		.resume .type {
			margin-bottom: 15px;
			margin-top: 30px;
			border-bottom: 1px solid var(--primary) 
		}
		
		.resume .job {
			margin-bottom: 0px 
		}
		
		.resume .job h3 {
			font-size: 20px 
		}
		
		.resume .job h4 {
			font-size: 12px;
			margin-bottom: 0px 
		}
		
		.resume .job p {
			font-size: 12px;
			line-height: 18px 
		}
		
		.resume .education {
			margin-bottom: 0px 
		}
		
		.resume .education h3 {
			font-size: 20px;
			margin-bottom: 0px 
		}
		
		.resume .education h4 {
			font-size: 12px;
			margin-bottom: 0px 
		}
		
		.resume .education p {
			font-size: 12px;
			line-height: 18px;
			padding-bottom: 20px 
		}
	}

/* 404 */
	.notfound {
		--background: #13222D;
		--primary: #9bbad8;
		--highlight: #BABCEA;
		overflow: hidden 
	}
	
	.notfound h1 {
		font-family: var(--fontBody);
		text-transform: none;
		font-size: 31px;
		line-height: 39px;
		text-align: center;
		margin-bottom: 50px 
	}
	
	@media (min-width: 740px) {
		.notfound h1 {
			font-size: 50px;
			line-height: 60px 
		}
	}
	
	@media (min-width: 1023px) {
		.notfound h1 {
			font-size: 50px;
			line-height: 60px 
		}
		.notfound h1 br {
			display: none 
		}
	}
	
	@media (min-width: 1120px) {
		.notfound h1 {
			font-size: 70px;
			line-height: 80px 
		}
	}
	
	.notfound nav {
		display: none 
	}
	
	.notfound .backing {
		background: linear-gradient(-180deg, #0C1F26 0%, #3E3252 100%);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top: 0px 
	}
	
	.notfound .flex {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden 
	}
	
	.notfound svg {
		transform: scale(6);
		display: block;
		opacity: 0.1 
	}
	
	.notfound svg g {
		stroke: var(--highlight);
		stroke-width: 2 
	}
	
	.notfound .backlink {
		z-index: 3;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 160px;
		margin: auto;
		text-align: center 
	}

/* APTAPRO */
	.aptapro {
		--accentPrimary: #20419A;
		--accentSecondary: #CF9D44;
		--accentTertiary: #E0EDFC;
		--body: #06153F;
	}
	
	@media (prefers-color-scheme: dark) {
		.aptapro {
			--accentPrimary: #7096FC;
			--accentSecondary: #FFDEA1;
			--accentTertiary: #353A4A;
			--body: #EEF3F7;
		}
	}
	
	.aptapro .elnn {
		margin: 60px 0px 0px 0px 
	}
	
	.aptapro .elnn img {
		width: 350px;
		max-width: 100%;
		margin-bottom: 30px 
	}
	
	.aptapro .styleguide {
		margin-bottom: 60px;
		border-radius: var(--spacer);
		overflow: hidden;
		background: #F5F6F6;
		padding-left: 30px 
	}

/* EASTLAND */
	.eastland {
		--accentPrimary: #BC441C;
		--accentSecondary: #E37652;
		--accentTertiary: #FFCDAF;
		--body: #210901;
	}
	
	@media (prefers-color-scheme: dark) {
		.eastland {
			--accentPrimary: #E37652;
			--accentSecondary: #C75E3C;
			--accentTertiary: #43322E;
			--body: #E3C9C1;
		}
	}
	
	.eastland #solution img {
		max-width: 100%;
		margin-bottom: -20px;
		margin-left: auto;
		margin-right: auto;
		display: block 
	}
	
	@media (min-width: 740px) {
		.eastland #solution img {
			margin-bottom: -80px 
		}
	}
	
	.eastland .row {
		position: relative;
		margin-bottom: 40px 
	}
	
	.eastland .row img {
		max-width: 100% 
	}
	
	@media (min-width: 1023px) {
		.eastland .row {
			margin-bottom: 0px 
		}
		
		.eastland .row img {
			transform: translateX(-70px) 
		}
		
		.eastland .row p {
			width: 50%;
			position: absolute;
			bottom: 90px;
			right: 0px 
		}
	}
	
	.eastland .appgrid {
		margin-bottom: 100px 
	}

/* EPOCH */
	.epoch {
		--accentPrimary: #E08C00;
		--accentSecondary: #A43414;
		--accentTertiary: #F7F1E9;
		--body: #5D3A00;
	}
	
	@media (prefers-color-scheme: dark) {
		.epoch {
			--accentPrimary: #FFC25C;
			--accentSecondary: #F89246;
			--accentTertiary: #3D3431;
			--body: #FFE9C5;
		}
	}
	
	.epoch #intro {
		display: flex;
		flex-direction: column-reverse;
		margin-block-end: calc(var(--spacer) * 4);
		gap: calc(var(--spacer) * 4);
		align-items: center;
	}
	
	@media (min-width: 1023px) {
		.epoch #intro {
			display: grid;
			grid-template-columns: 1fr 378px;
			gap: var(--spacer);
		}
	}
	
	.epoch #intro img + .caption {
		margin-block-start: -40px;
		font-size: calc(var(--fontSize) / 1.2);
	}
	
	.epoch .gridDevices {
		display: flex;
		flex-direction: column;
		gap: calc(var(--spacer) * 4);
	}
	
	@media (min-width: 430px) {
		.epoch .gridDevices {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding-inline: calc(var(--spacer) * 4);
		}
	}
	
	.epoch .gridDevices .device {
		aspect: 1;
		width: 100%;
	}
	
	.epoch .gridDevices .device:nth-child(1) {
		--accentSecondary: #C593E7;
	}
	
	.epoch .gridDevices .device:nth-child(2) {
		--accentSecondary: #B4E393;
	}

/* KARINOURISH */
	.karinourish {
		--accentPrimary: #0D549F;
		--accentSecondary: #198BCC;
		--accentTertiary: #F7F3E9;
		--body: #403104;
	}
	
	@media (prefers-color-scheme: dark) {
		.karinourish {
			--accentPrimary: #F9D275;
			--accentSecondary: #FFF2B7;
			--accentTertiary: #2A3B45;
			--body: #F7F3E9;
		}
	}
	
	.karinourish .grid {
		margin-bottom: 0px 
	}
	
	.karinourish .styleguide {
		background: #F7F3E9;
		padding: 40px 
	}

/* MEDIAPORTAL */
	.mediaportal {
		--accentPrimary: #004277;
		--accentSecondary: #469BDE;
		--accentTertiary: #BEEBF1;
		--body: #001A2F;
	}
	
	@media (prefers-color-scheme: dark) {
		.mediaportal {
			--accentPrimary: #80BEEF;
			--accentSecondary: #C7E7FF;
			--accentTertiary: #213643;
			--body: #E6EEF4;
		}
	}
	
	.mediaportal .cards {
		margin-bottom: 20px;
		padding-bottom: 0px;
		padding-top: 0px 
	}
	
	.mediaportal .cards img {
		max-width: 100% 
	}
	
	.mediaportal #solution .button {
		margin-right: 15px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		display: inline-block 
	}
	
	@media (min-width: 569px) {
		.mediaportal #solution .button {
			width: auto 
		}
	}
	
	@media (min-width: 1023px) {
		.mediaportal .report {
			position: relative 
		}
		
		.mediaportal .report .copy {
			position: absolute;
			width: 48%;
			right: 0px;
			top: 50px 
		}
	}
	
	.mediaportal .mobileapp {
		display: flex;
		flex-direction: column 
	}
	
	@media (min-width: 1023px) {
		.mediaportal .mobileapp {
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 460px 
		}
	}
	
	.mediaportal .mobileapp img {
		margin-bottom: 0px 
	}

/* NIGHT LIGHT */
	.nightlight {
		--accentPrimary: #564263;
		--accentSecondary: #DBA260;
		--accentTertiary: #DFE0E7;
		--body: #373036;
	}
	
	@media (prefers-color-scheme: dark) {
		.nightlight {
			--accentPrimary: #FFD2A0;
			--accentSecondary: #DFE0E7;
			--accentTertiary: #463E45;
			--body: #FFF2E4;
		}
	}
	
	@media (max-width: 740px) {
		.nightlight .like img {
			margin: 0px auto 10px auto;
			display: block 
		}
		
		.nightlight .like p {
			text-align: center 
		}
	}
	
	@media (min-width: 740px) {
		.nightlight .like {
			display: flex;
			align-items: center 
		}
		
		.nightlight .like img {
			margin-right: 30px;
			width: 114px 
		}
		
		.nightlight .like p {
			flex: 1;
			padding: 0px 
		}
	}
	
	.nightlight .closed {
		max-width: 100%;
		margin: 0px auto 30px auto;
		display: block 
	}
	
	@media (min-width: 740px) {
		.nightlight .closed {
			margin-bottom: 30px 
		}
	}
	
	.nightlight .artdirection {
		background: #2F2D35;
		padding: 20px;
		margin-bottom: 10px 
	}
	
	.nightlight .artdirection .copy {
		padding-bottom: 30px 
	}
	
	.nightlight .artdirection .copy img {
		max-width: 100% 
	}
	
	.nightlight .artdirection .copy .colours {
		margin-top: 20px 
	}
	
	@media (min-width: 740px) {
		.nightlight .artdirection .copy {
			display: flex;
			justify-content: space-between;
			padding-top: 30px;
			align-items: flex-end 
		}
		
		.nightlight .artdirection .copy .fonts {
			max-width: 50% 
		}
		
		.nightlight .artdirection .copy .colours {
			max-width: 50%;
			height: 68px;
			flex: 1;
			padding-left: 30px 
		}
	}
	
	@media (min-width: 1120px) {
		.nightlight .artdirection .copy .fonts {
			max-width: 463px 
		}
		
		.nightlight .artdirection .copy .colours {
			max-width: 518px 
		}
	}
	
	.nightlight .artdirection .icons {
		padding-top: 30px;
		margin-bottom: -10px;
		border-top: 1px solid rgba(155, 156, 166, 0.1);
		flex-wrap: wrap 
	}
	
	.nightlight .artdirection .icons img {
		width: calc(100%/3) 
	}
	
	@media (min-width: 321px) {
		.nightlight .artdirection .icons {
			justify-content: space-between;
			flex-wrap: nowrap 
		}
		
		.nightlight .artdirection .icons img {
			width: calc(100%/6.5) 
		}
	}
	
	@media (min-width: 740px) {
		.nightlight .artdirection .icons {
			display: flex 
		}
		
		.nightlight .artdirection .icons img {
			width: auto 
		}
	}
	
	.nightlight .sidebar {
		margin-top: 30px 
	}
	
	@media (min-width: 740px) {
		.nightlight .sidebar {
			display: flex;
			align-items: center;
			margin-top: 100px 
		}
		
		.nightlight .sidebar img {
			margin-right: 30px 
		}
		
		.nightlight .sidebar .copy {
			flex: 1 
		}
	}

/* RETAILER PORTAL */
	.retailerportal {
		--accentPrimary: #CA4750;
		--accentSecondary: #FF3D4A;
		--accentTertiary: #E3E3E3;
		--body: #32070A;
	}
	
	@media (prefers-color-scheme: dark) {
		.retailerportal {
			--accentPrimary: #E15F68;
			--accentSecondary: #FF949C;
			--accentTertiary: #3A3A3A;
			--body: #EED7D0;
		}
	}
	
	.retailerportal #process .constrained {
		padding-block-end: var(--spacer);
	}
	
	.retailerportal .artdirection {
		height: 1249px;
		position: relative;
		margin-bottom: 60px 
	}
	
	.retailerportal .artdirection .baseline {
		width: 100%;
		height: 100%;
		position: absolute;
		background: url(../retailerportal/lines.png);
		z-index: 2 
	}
	
	.retailerportal .artdirection .image {
		background: url(../retailerportal/styleguide-mobile.png);
		width: 303px;
		height: 1197px;
		margin: 26px auto;
		padding-top: 0px;
		position: absolute;
		left: 0px;
		right: 0px;
		z-index: 1 
	}
	
	@media (prefers-color-scheme: dark) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-mobile-dark.png) 
		}
	}
	
	@media (min-width: 740px) {
		.retailerportal .artdirection {
			height: 1015px 
		}
		
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-tablet.png);
			width: 492px;
			height: 911px;
			margin: 52px auto 
		}
	}
	
	@media (min-width: 740px) and (prefers-color-scheme: dark) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-tablet-dark.png) 
		}
	}
	
	@media (min-width: 1120px) {
		.retailerportal .artdirection {
			height: 573px 
		}
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-desktop.png);
			width: 1054px;
			height: 469px;
			margin: 52px auto 
		}
	}
	
	@media (min-width: 1120px) and (prefers-color-scheme: dark) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-desktop-dark.png) 
		}
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-mobile@2x.png);
			background-size: 303px 1197px 
		}
	}
	
	@media (-webkit-min-device-pixel-ratio: 2) and (prefers-color-scheme: dark), (min-resolution: 192dpi) and (prefers-color-scheme: dark) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-mobile-dark@2x.png);
			background-size: 303px 1197px 
		}
	}
	
	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 740px), (min-resolution: 192dpi) and (min-width: 740px) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-tablet@2x.png);
			background-size: 492px 911px 
		}
	}
	
	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 740px) and (prefers-color-scheme: dark), (min-resolution: 192dpi) and (min-width: 740px) and (prefers-color-scheme: dark) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-tablet-dark@2x.png);
			background-size: 492px 911px 
		}
	}
	
	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1120px), (min-resolution: 192dpi) and (min-width: 1120px) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-desktop@2x.png);
			background-size: 1054px 469px 
		}
	}
	
	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1120px) and (prefers-color-scheme: dark), (min-resolution: 192dpi) and (min-width: 1120px) and (prefers-color-scheme: dark) {
		.retailerportal .artdirection .image {
			background: url(../retailerportal/styleguide-desktop-dark@2x.png);
			background-size: 1054px 469px 
		}
	}

/* SIMPLE SCALES */
	.simplescales {
		--highlight: #FF9E2A 
	}
	
	@media (min-width: 1023px) {
		.simplescales #solution .copy {
			margin-top: 100px 
		}
	}
	
	.simplescales .demo {
		position: relative 
	}
	
	.simplescales .demo img {
		z-index: 2;
		position: relative 
	}
	
	.simplescales .demo video {
		position: absolute;
		left: 12.4%;
		top: 46px;
		width: 74.4% 
	}
	
	@media (min-width: 375px) {
		.simplescales .demo video {
			top: 49px 
		}
	}
	
	@media (min-width: 414px) {
		.simplescales .demo video {
			top: 51px 
		}
	}
	
	@media (min-width: 450px) {
		.simplescales .demo video {
			top: 51px 
		}
	}
	
	@media (min-width: 1023px) {
		.simplescales .demo video {
			width: 260px;
			left: 44px;
			top: 17px 
		}
	}
	
	@media (min-width: 1120px) {
		.simplescales .demo video {
			width: 330px;
			left: 56px;
			top: 22px 
		}
	}
	
	.simplescales .phone {
		display: flex;
		flex-direction: column;
		align-items: center 
	}
	
	.simplescales .phone img {
		max-width: 100%;
		margin-top: 30px 
	}
	
	@media (min-width: 1023px) {
		.simplescales .phone {
			flex-direction: row;
			align-items: flex-start 
		}
		
		.simplescales .phone img {
			max-width: 350px;
			margin-top: 0px 
		}
	}
	
	@media (min-width: 1120px) {
		.simplescales .phone img {
			max-width: 525px 
		}
	}
	
	.simplescales .watch {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 60px 
	}
	
	.simplescales .watch img {
		max-width: 100%;
		margin-top: 30px 
	}
	
	@media (min-width: 1023px) {
		.simplescales .watch {
			flex-direction: row;
			margin-top: -150px 
		}
		
		.simplescales .watch img {
			margin-right: 40px;
			margin-top: 0px;
			max-width: 250px 
		}
		
		.simplescales .watch p {
			margin-top: 150px 
		}
	}
	
	@media (min-width: 1120px) {
		.simplescales .watch {
			margin-top: -300px 
		}
		
		.simplescales .watch img {
			max-width: 392px 
		}
	}
	
	.simplescales .earlygrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		margin-bottom: 30px;
		margin-top: 30px 
	}
	
	.simplescales .earlygrid .screenshot {
		margin: 0px 
	}
	
	@media (min-width: 569px) {
		.simplescales .earlygrid {
			grid-template-columns: repeat(4, 1fr) 
		}
	}
	
	.simplescales .othergrid {
		grid-template-columns: 1fr;
		max-width: 600px;
		margin: 0px auto;
		display: grid 
	}
	
	.simplescales .othergrid div {
		display: flex;
		align-items: center;
		flex-direction: column 
	}
	
	.simplescales .othergrid img {
		margin-bottom: 30px;
		margin-top: 60px;
		max-width: 100% 
	}
	
	@media (min-width: 1023px) {
		.simplescales .othergrid {
			grid-template-columns: 1fr 1fr;
			grid-gap: 100px;
			max-width: 100% 
		}
		
		.simplescales .othergrid img {
			height: 298px 
		}
		
		.simplescales .othergrid .health img {
			transform: scale(0.8) 
		}
		
		.simplescales .othergrid .health p {
			margin-top: 0px 
		}
	}

/* TOLQ */
	.tolq {
		--accentPrimary: #158E52;
		--accentSecondary: #19197C;
		--accentTertiary: #E6F5E6;
		--body: #034022;
	}
	
	@media (prefers-color-scheme: dark) {
		.tolq {
			--accentPrimary: #2BD480;
			--accentSecondary: #96C8FA;
			--accentTertiary: #2D2D40;
			--body: #E6F5E6;
		}
	}
	
	.tolq #challenge img {
		max-width: 100% 
	}
	
	@media (min-width: 1120px) {
		.tolq #solution img {
			width: 100% 
		}
	}
	
	.tolq .interfaces {
		display: flex;
		flex-flow: column;
		margin-top: 30px;
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		max-width: 512px 
	}
	
	.tolq .interfaces img {
		max-width: 100% 
	}
	
	.tolq .interfaces h4 {
		margin-bottom: 40px 
	}
	
	@media (min-width: 740px) {
		.tolq .interfaces {
			flex-flow: row;
			justify-content: space-between;
			max-width: 100% 
		}
		
		.tolq .interfaces div {
			width: 48% 
		}
	}
	
	.tolq .whitelogo {
		margin-top: 60px;
		margin-bottom: 60px;
		flex-flow: column 
	}
	
	.tolq .whitelogo img {
		max-width: 300px;
		margin: 0px auto;
		display: block;
		margin-bottom: 20px 
	}
	
	@media (min-width: 740px) {
		.tolq .whitelogo {
			display: flex;
			flex-flow: row;
			align-items: center 
		}
		
		.tolq .whitelogo img {
			width: 492px;
			max-width: 492px;
			margin-right: 30px;
			margin-bottom: 0px 
		}
		
		.tolq .whitelogo p {
			width: 50% 
		}
	}

/* KOHAB */
	.kohab {
		--accentPrimary: #0C324B;
		--accentSecondary: #2EB68C;
		--accentTertiary: #C7F3E5;
		--body: #001523;
	}
	
	@media (prefers-color-scheme: dark) {
		.kohab {
			--accentPrimary: #71D0B2;
			--accentSecondary: #C7F3E5;
			--accentTertiary: #0C324B;
			--body: #D3DDE3;
		}
	}
	
	.kohab .row {
		margin-bottom: 60px;
		display: flex;
		flex-direction: column 
	}
	
	@media (min-width: 1023px) {
		.kohab .row {
			flex-direction: row;
			align-items: center 
		}
		
		.kohab .row p: last-child {
			padding-bottom: 0px 
		}
	}
	
	.kohab #today .panel {
		max-width: 70%;
		align-self: center;
		max-height: 800px 
	}
	
	@media (min-width: 1023px) {
		.kohab #today .panel {
			margin-left: 40px 
		}
	}
	
	@media (min-width: 1023px) {
		.kohab #boards {
			flex-direction: row-reverse 
		}
		
		.kohab #boards .panel {
			margin-right: 40px 
		}
	}
	
	@media (min-width: 1023px) {
		.kohab #inspections .panel {
			margin-left: 40px 
		}
	}
	
	.kohab #chat .panel {
		border: 1px solid rgba(0, 0, 0, 0.1) 
	}
	
	@media (min-width: 1023px) {
		.kohab #chat {
			flex-direction: row-reverse 
		}
		
		.kohab #chat .panel {
			margin-right: 40px 
		}
	}
	
	.kohab #notifications {
		margin-bottom: 0px 
	}
	
	.kohab #notifications .panel {
		border-radius: 13px 
	}
	
	@media (min-width: 1023px) {
		.kohab #notifications {
			display: grid;
			grid-template-columns: 1fr 392px 
		}
		
		.kohab #notifications .panel {
			margin-left: 40px 
		}
	}
	
	.kohab h2 {
		display: flex;
		align-items: center 
	}
	
	.kohab h2 img {
		margin-right: 10px;
		margin-bottom: 10px 
	}
	
	.kohab .components {
		display: flex;
		flex-direction: column 
	}
	
	.kohab .components img {
		max-width: 100%;
		align-self: center;
		margin-bottom: 20px 
	}
	
	.kohab .components img:nth-child(2) {
		display: none 
	}
	
	@media (min-width: 740px) {
		.kohab .components {
			flex-direction: row;
			justify-content: space-around 
		}
		
		.kohab .components img {
			margin-bottom: 10px 
		}
	}
	
	@media (min-width: 1120px) {
		.kohab .components {
			justify-content: space-between 
		}
		
		.kohab .components img:nth-child(2) {
			display: inherit 
		}
	}

/* MARKETPLACE */
	.marketplace {
		--accentPrimary: #015289;
		--accentSecondary: #370D16;
		--accentTertiary: #F6DAC7;
		--body: #001E33;
	}
	
	@media (prefers-color-scheme: dark) {
		.marketplace {
			--accentPrimary: #69C3FF;
			--accentSecondary: #FEA88A;
			--accentTertiary: #422E2D;
			--body: #E9F2F8;
		}
	}
	
	.marketplace .pillars {
		background: var(--accentTertiary);
		margin-block-end: calc(var(--spacer) * 4) !important;
		padding: calc(var(--spacer) * 2);
		border-radius: var(--spacer);
		display: flex;
		flex-direction: column;
		gap: calc(var(--spacer) * 3);
	}
	
	@media (min-width: 1024px) {
		.marketplace .pillars {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			text-align: center;
			gap: var(--spacer);
		}
	}
	
	.marketplace .pillars h5 {
		margin-block-end: calc(var(--spacer) / 2);
		color: var(--body);
	}
	
	@media (min-width: 1100px) {
		.marketplace .pillars {
			--fontSize: 18px;
		}
	}
	
	.marketplace .pillars .icon {
		width: 50px;
		height: 50px;
		margin-block-end: calc(var(--spacer) / 2);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	@media (min-width: 758px) {
		.marketplace .pillars .icon {
			width: 100px;
			height: 100px;
		}
	}
	
	@media (min-width: 1024px) {
		.marketplace .pillars .icon {
			width: 190px;
			height: 190px;
		}
	}
	
	.marketplace .pillars .icon::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		background: var(--accentPrimary);
		opacity: 0.2;
		top: 0px;
		left: 0px;
		z-index: 1;
	}
	
	.marketplace .pillars svg {
		z-index: 2;
		position: absolute;
	}
	
	@media (max-width: 767px) {
		.marketplace .pillars svg {
			width: 24px;
			height: 24px;
		}
	}
	
	@media (min-width: 768px) and (max-width: 1023px) {
		.marketplace .pillars svg {
			width: 60px;
			height: 60px;
		}
	}
	
	
	.marketplace .pillars path,
	.marketplace .pillars g {
		fill: var(--accentSecondary);
	}
	
	@media (max-width: 767px) {
		.marketplace .pillars .item {
			display: grid;
			grid-template-columns: 50px 1fr;
			gap: var(--spacer);
			align-items: center;
		}
	}
	
	@media (min-width: 768px) {
		.marketplace .pillars .item {
			display: grid;
			grid-template-columns: 100px 1fr;
			grid-gap: 30px;
			align-items: center;
		}
	}
	
	@media (min-width: 1024px) {
		.marketplace .pillars .item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	
	.marketplace .tools {
		max-width: 100% 
	}
	
	.marketplace .videoWrapper {
		margin-bottom: 40px 
	}
	
	@media (min-width: 740px) {
		.marketplace .videoWrapper {
			margin-bottom: 60px 
		}
	}

/* TICKETEK SITE */
	.ticketek-site {
		--accentPrimary: #004673;
		--accentSecondary: #0773B7;
		--accentTertiary: #CCD7F7;
		--body: #001C2E;
	}
	
	@media (prefers-color-scheme: dark) {
		.ticketek-site {
			--accentPrimary: #71C8FF;
			--accentSecondary: #1A97E5;
			--accentTertiary: #303A59;
			--body: #CCD7F7;
		}
	}
	
	.ticketek-site .map {
		max-width: 100%;
		margin-bottom: 50px 
	}
	
	.ticketek-site .screenshotpages {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
		margin-bottom: 40px 
	}
	
	.ticketek-site .screenshotpages div:nth-child(3), .ticketek-site .screenshotpages div:nth-child(4) {
		display: none 
	}
	
	.ticketek-site .screenshotpages .screenshotWrapper {
		position: relative 
	}
	
	.ticketek-site .screenshotpages .screenshot {
		margin-bottom: 0px 
	}
	
	.ticketek-site .screenshotpages h4 {
		text-align: center;
		display: block;
		position: absolute;
		width: 100%;
		padding-top: 10px;
		text-transform: uppercase;
		color: var(--primary);
		font-family: var(--fontHeader) 
	}
	
	@media (min-width: 740px) {
		.ticketek-site .screenshotpages {
			grid-template-columns: repeat(4, 1fr) 
		}
		.ticketek-site .screenshotpages div:nth-child(3), .ticketek-site .screenshotpages div:nth-child(4) {
			display: block !important 
		}
	}
	
	.ticketek-site #solution .button {
		margin-right: 15px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		display: inline-block 
	}
	
	@media (min-width: 569px) {
		.ticketek-site #solution .button {
			width: auto 
		}
	}
	
	.ticketek-site .mobileapp {
		margin-top: 40px 
	}
	
	.ticketek-site .mobileapp img {
		max-width: 100%;
		margin: 0px auto;
		display: block 
	}
	
	@media (min-width: 1023px) {
		.ticketek-site .mobileapp {
			display: grid;
			grid-template-columns: 1fr 503px;
			grid-gap: 40px;
			align-items: center 
		}
	}
	
	.ticketek-site .prototype {
		margin-bottom: 20px;
		padding-top: 40px 
	}
	
	.ticketek-site .prototype p {
		padding-bottom: 20px 
	}
	
	.ticketek-site .posterlineup {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 10px 
	}
	
	.ticketek-site .posterlineup img {
		border-radius: 5px;
		max-width: 100% 
	}
	
	.ticketek-site p a {
		text-decoration: underline;
		color: var(--primary) 
	}
	
	.ticketek-site p a:hover {
		color: var(--highlight) 
	}

/* TICKET SHARING */
	.ticket-sharing {
		--accentPrimary: #007A95;
		--accentSecondary: #0AB1BE;
		--accentTertiary: #E1EDF1;
		--body: #043945;
	}
	
	@media (prefers-color-scheme: dark) {
		.ticket-sharing {
			--accentPrimary: #7BF5FF;
			--accentSecondary: #9CDBFC;
			--accentTertiary: #043945;
			--body: #E1EDF1;
		}
	}
	
	.ticket-sharing p a {
		text-decoration: underline;
		color: var(--primary) 
	}
	
	.ticket-sharing p a:hover {
		color: var(--highlight) 
	}
	
	.ticket-sharing .shareticket {
		margin-top: 20px;
		display: flex;
		align-items: center;
		flex-direction: column 
	}
	
	@media (min-width: 1023px) {
		.ticket-sharing .shareticket {
			display: grid;
			grid-template-columns: 1fr 444px;
			align-items: center 
		}
		
		.ticket-sharing .shareticket .copy {
			margin-top: -40px 
		}
	}
	
	.ticket-sharing .receiveticket {
		display: flex;
		align-items: center;
		flex-direction: column 
	}
	
	@media (min-width: 1023px) {
		.ticket-sharing .receiveticket {
			display: grid;
			grid-template-columns: 444px 1fr;
			align-items: center 
		}
		
		.ticket-sharing .receiveticket .demo {
			grid-row: 1 
		}
	}
	
	.ticket-sharing .demo {
		position: relative 
	}
	
	.ticket-sharing .demo img {
		z-index: 2;
		position: relative;
		max-width: 100% 
	}
	
	.ticket-sharing .demo video {
		position: absolute;
		top: 2.7%;
		left: 12.7%;
		width: 74.5% 
	}
	
	@media (min-width: 482px) {
		.ticket-sharing .demo video {
			top: 24px;
			left: 56px;
			width: 330px 
		}
	}
	
	.ticket-sharing .passes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		margin-bottom: 40px 
	}
	
	.ticket-sharing .passes div {
		position: relative 
	}
	
	.ticket-sharing .passes img {
		max-width: 100% 
	}
	
	.ticket-sharing .passes h4 {
		text-align: center;
		display: block;
		position: absolute;
		width: 100%;
		padding-top: 10px;
		text-transform: uppercase;
		color: var(--primary);
		font-family: var(--fontHeader) 
	}
	
	@media (max-width: 414px) {
		.ticket-sharing .passes h4 span {
			display: none 
		}
	}
	
	.ticket-sharing .acceptedscreens {
		margin-bottom: 60px 
	}
	
	@media (min-width: 1023px) {
		.ticket-sharing .acceptedscreens {
			display: grid;
			grid-template-columns: 400px 1fr;
			grid-gap: 20px;
			align-items: center 
		}
	}
	
	.ticket-sharing .acceptedscreens .screens {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		margin-bottom: 40px 
	}
	
	.ticket-sharing .acceptedscreens .screenshotWrapper {
		position: relative 
	}
	
	.ticket-sharing .acceptedscreens .screenshot {
		margin-bottom: 0px 
	}
	
	.ticket-sharing .acceptedscreens h4 {
		text-align: center;
		display: block;
		position: absolute;
		width: 100%;
		padding-top: 10px;
		text-transform: uppercase;
		color: var(--primary);
		font-family: var(--fontHeader) 
	}
	
	@media (max-width: 414px) {
		.ticket-sharing .acceptedscreens h4 span {
			display: none 
		}
	}

/* TICKETEK */
	.ticketek {
		--highlight: #00497A 
	}
	
	@media (prefers-color-scheme: dark) {
		.ticketek {
			--highlight: #32adff 
		}
	}
	
	.ticketek header .copy {
		width: 100% 
	}
	
	.ticketek header .description {
		font-family: var(--fontBody);
		font-size: 16px;
		line-height: 22px 
	}
	
	@media (min-width: 740px) {
		.ticketek header .description {
			font-size: 23px;
			line-height: 33px 
		}
	}
	
	.ticketek #panel-ticketeksite {
		background-image: url(../ticketek/ticketeksite-background.jpg);
		background-position: center center;
		background-size: cover 
	}
	
	.ticketek #panel-ticketsharing {
		background-image: url(../ticketek/ticketsharing-background.jpg);
		background-position: center center;
		background-size: cover 
	}
	
	.ticketek #panel-marketplace {
		background-image: url(../ticketek/marketplace-background.jpg);
		background-position: center center;
		background-size: cover 
	}
	
	.ticketek .linkpanel {
		padding-top: 40px;
		padding-bottom: 40px 
	}
	
	.ticketek .linkpanel .type {
		color: white 
	}
	
	.ticketek .linkpanel .type::after {
		background: white 
	}
	
	@media (max-width: 766px) {
		.ticketek .linkpanel .type {
			margin-top: 20px 
		}
	}
	
	.ticketek .linkpanel h2 {
		color: white 
	}
	
	.ticketek .linkpanel p {
		color: white;
		opacity: 0.8 
	}
	
	.ticketek .linkpanel .button {
		color: #00497A;
		background: white;
		display: inline-block 
	}
	
	@media (min-width: 1023px) {
		.ticketek .linkpanel .constrained {
			display: grid;
			grid-template-columns: 349px 1fr;
			align-items: center;
			grid-gap: 40px 
		}
	}
	
	@media (max-width: 766px) {
		.ticketek .linkpanel img {
			width: 200px 
		}
	}
	
	@media (min-width: 1023px) {
		.ticketek #panel-ticketsharing .constrained {
			grid-template-columns: 1fr 349px 
		}
	}
	
	@media (min-width: 1023px) {
		.ticketek #panel-ticketsharing .copy {
			grid-row: 1 
		}
	}

/* CUBIT ESTIMATING */
	.cubit-estimating {
		--accentPrimary: #0273C7;
		--accentSecondary: #44ABF7;
		--accentTertiary: #DBFBFF;
		--body: #001D32;
	}
	
	@media (prefers-color-scheme: dark) {
		.cubit-estimating {
			--accentPrimary: #6BC0FF;
			--accentSecondary: #B4DFFF;
			--accentTertiary: #001D32;
			--body: #EEFDFF;
		}
	}
	
	.cubit-estimating p a {
		color: var(--primary);
		text-decoration: underline;
	}
	
	.cubit-estimating p a:hover {
		color: var(--highlight);
	}
	
	.cubit-estimating .example {
		width: 100%;
		margin-bottom: 40px;
	}

/* CUBIT SELECT */
	.cubit-select {
		--accentPrimary: #009687;
		--accentSecondary: #0DC9B6;
		--accentTertiary: #D9FBED;
		--body: #003832;
	}
	
	@media (prefers-color-scheme: dark) {
		.cubit-select {
			--accentPrimary: #00CEBA;
			--accentSecondary: #90FFF4;
			--accentTertiary: #193431;
			--body: #D6F4F1;
		}
	}

/* MIMEZZ */
	.mimezz {
		--accentPrimary: #0F56B9;
		--accentSecondary: #B67ADE;
		--accentTertiary: #DAE4F3;
		--body: #002B67;
	}
	
	@media (prefers-color-scheme: dark) {
		.mimezz {
			--accentPrimary: #67A6FF;
			--accentSecondary: #DFB0FE;
			--accentTertiary: #162035;
			--body: #DAE4F3;
		}
	}
	
	.mimezz .iteration {
		display: grid;
		gap: 20px;
		margin-bottom: 40px;
	}
	
	@media (min-width: 766px) {
		.mimezz .iteration {
			grid-template-columns: min(450px, 30vw) 1fr;
			align-items: center;
		}
	}
	
	.mimezz .iteration img {
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	.mimezz .videoWrapper {
		width: 89.9%;
	}
	
	.mimezz .centerVideo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.mimezz .containerIllustration {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}
	
	.mimezz .containerIllustration picture {
		display: flex;
		justify-content: center;
	}
	
	.mimezz .illustration {
		max-width: 80%;
	}
	
	.mimezz .containerIllustration p {
		max-width: 80%;
		text-align: center;
	}

/* MITEK */
	.mitek {
		--highlight: #0033a1;
	}
	
	@media (prefers-color-scheme: dark) {
		.mitek {
			--highlight: #00aeef;
		}
	}
	
	.mitek header .copy {
		width: 100% 
	}
	
	.mitek header .description {
		font-family: var(--fontBody);
		font-size: 16px;
		line-height: 22px 
	}
	
	@media (min-width: 740px) {
		.mitek header .description {
			font-size: 23px;
			line-height: 33px 
		}
	}
	
	.mitek #panel-cubitestimating {
		background-image: url(../mitek/estimating-background.png);
		background-position: center center;
		background-size: cover;
	}
	
	.mitek #panel-cubitselect {
		background-image: url(../mitek/select-background.png);
		background-position: center center;
		background-size: cover;
	}
	
	.mitek #panel-mimezz {
		background-image: url(../mitek/mimezz-background.png);
		background-position: center center;
		background-size: cover;
	}
	
	.mitek #panel-cubitestimating img, .mitek #panel-cubitselect img, .mitek #panel-mimezz img {
		width: 100%;
		max-width: 500px !important;
	}
	
	@media (max-width: 766px) {
		.mitek .linkpanel .type {
			margin-top: 20px 
		}
	}
	
	@media (min-width: 1023px) {
		.mitek .linkpanel .constrained {
			display: grid;
			grid-template-columns: 349px 1fr;
			align-items: center;
			grid-gap: 40px 
		}
	}
	
	@media (min-width: 1023px) {
		.mitek #panel-cubitselect .constrained {
			grid-template-columns: 1fr 349px 
		}
		
		.mitek #panel-cubitselect .copy {
			grid-row: 1 
		}
	}

/* OTHER */
	@-moz-document url-prefix() {
		.portfolio .flexwrapper div {
			width: 100% 
		}
	}
