---
layout: portfolio
title:  "Neutron"
type: "Branding"
class: "neutron"
description: "A Sass framework that empowers you to create flexible, clear, and semantic website layouts"
cta: "Get Neutron"
link: "http://www.neutroncss.com/"
---
<section id="challenge" class="constrained">
	<p class="type">The Challenge</p>
	<h2>REPRESENTING THE LIGHTWEIGHT</h2>
	<p class="description">Born from a dissatisfaction with the status quo in CSS grid frameworks, Christopher Muller was looking to create a framework that did away with all the heavy complexities of other frameworks. A framework that was light and flexible.</p>
</section>
<section id="solution">
	<div class="constrained">
		<p class="type">The Solution</p>
		<h2>GETTING ATOMIC</h2>
		<p class="description">Neutron lives in a crowded market of other me-too frameworks. It needed a branding that was strong and powerful. Something that stood out amongst the rest.</p>
	</div>
</section>
<section id="process" class="constrained">
	<p class="type">The Process</p>
	<h2>EXPLORING THE FUNDAMENTALS</h2>
	<p class="description">As this was a personal project with a friend, this gave me a lot of freedom to explore different avenues without the restrictions of harsh deadlines.</p>
	<p class="description">Early on we settle on a space theme for the name, because space is cool! An early name being thrown around was Pulsar, a type of neutron star. It was this name that lead to us picking Neutron as the name.</p>
	<p class="description">Having a strong name made creating a logo easy. It was all a matter of breaking down what a neutron actually is, which nicely shows how modular the framework is.</p>
	<p class="description">For the colour palette I wanted something dark and futuristic looking. Tron was good inspiration for this.</p>
	<p class="description">My final part of the project was to build the website. I used the Neutron framework to build the site, which made development a lot easier.</p>
	<p class="description">Through user testing it was found the dark look did not work well for the documentation, text was hard to read. So I developed a light theme that could be applied to pages of the site that were heavy with text.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<p class="type">Other Works</p>
		<div class="links">
			{% include link-eastland.html %}
			
			{% include link-arc.html %}
		</div>
	</div>
</section>