---
layout: portfolio
title:  "Tolq"
type: "Translation Service"
class: "tolq"
description: "The power of human translation, at scale, without the hassle of manually managing content"
cta: "Visit Tolq"
link: "http://www.tolq.com/"
---
<section id="challenge" class="constrained">
	<p class="type">The Challenge</p>
	<h2>TALK TO THE WORLD</h2>
	<p class="description">Tolq began life with a simple question, “how to speak the world?” Making translation a simple process would make it easier for businesses to tap in to new markets they didn't think possible.</p>
</section>
<section id="solution">
	<div class="constrained">
		<p class="type">The Solution</p>
		<h2>AS SIMPLE AS A CLICK</h2>
		<p class="description">Traditional website translation requires you to write down all the phrases you want translated, find a translator and give them the phrases, wait for them to translate them, and hope they have returned translated phrases of high quality.</p>
		<p class="description">Tolq does away with all of that. Simply enter your URL and Tolq scans your website for phrases and connects those to translators in an easy to use interface. With the added security of all translations being peer reviewed.</p>
	</div>
</section>
<section id="process" class="constrained">
	<p class="type">The Process</p>
	<h2>INTERACTIVE PROTOTYPING</h2>
	<p class="description">Tolq is essentially two apps in one. The flows for customers needing their websites translated is very different to that of translators completing the translations. There was a need to think in two different mindsets when designing.</p>
	<p class="description">Being this complex, I needed a way to clearly show the developers on the team how everything pieced together. Interactive prototypes were the way to go. This was in a time before tools like InVision, so I designed and prototyped within Fireworks.</p>
	<p class="description">The logo of Tolq is designed to evoke the feeling of being global, the whole pitch of the service. The globe, which is the centre piece of the logo, is designed to resemble a flag to further reinforce the concept.</p>
	<p class="description">I had also started a redesign of the Tolq art direction to give it a more modern look and feel and to bring the colour palette in line with the Tolq brand.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<p class="type">Other Works</p>
		{% include link-karinourish.html %}
		
		{% include link-neutron.html %}
	</div>
</section>