---
layout: portfolio
title:  "Exvo"
type: "Cloud OS"
class: "exvo"
description: "Welcome to your personal cloud"
---
<section id="challenge" class="constrained">
	<p class="type">The Challenge</p>
	<h2>LIVE LIFE IN THE CLOUD</h2>
	<p class="description">Exvo’s goal was simple: live life in the cloud. No matter where you are in the world, all the stuff you care about the most could be accessed from any device.</p>
</section>
<section id="solution">
	<div class="constrained">
		<p class="type">The Solution</p>
		<h2>FROM CIRRUS TO STRATUS</h2>
		<p class="description">A suite of web apps was developed for a cloud OS platform. These included specialised interfaces for all your media. Because everything was in the cloud, you had no need for local storage, just stream it all.</p>
	</div>
</section>
<section id="process" class="constrained">
	<p class="type">The Process</p>
	<h2>FORMING A WHOLE SYSTEM</h2>
	<p class="description">The seed of this project was a UI library. Creating a set of themes from the start was important in insuring consistency throughout the app.</p>
	<p class="description">Interactive prototypes played an integral roll in the design of these interfaces. It allowed me to show the developers exactly how I wanted interactions to perform.</p>
	<p class="description">Icons were required throughout the interfaces which led me to creating a suite 
of 140 icons. This suite included multiple resolutions for use within the apps themselves as well as marketing.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<p class="type">Other Works</p>
		<div class="links">
			{% include related.html item="tolq" collection=site.portfolio %}
			{% include related.html item="aptapro" collection=site.portfolio %}
		</div>
	</div>
</section>