---
layout: portfolio
title:  "Pizza Hut"
type: "App Icon"
class: "pizzahut"
description: "Transforming a real world identity into a digital experience"
cta: "Download the App"
link: "https://itunes.apple.com/au/app/pizza-hut-australia/id353096574?mt=8"
---
<section id="challenge" class="constrained">
	<p class="type">The Challenge</p>
	<h2>TAKE A BITE</h2>
	<p class="description">Pizza Hut introduced a new set of red pizza boxes and were looking to refresh their app icon to match these. To give a sense of depth, a 3D effect with the box being slightly open and showing some delicious pizza inside.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<p class="type">Other Works</p>
		{% include link-neutron.html %}
		
		{% include link-eastland.html %}
	</div>
</section>