---
layout: portfolio
title:  "Apta Professional"
class: "aptapro"
description: "Helping Healthcare Professionals by providing a suite of tools to find the right formula for every infant"
cta: "Visit the site"
link: "http://www.aptaprofessional.com.au/"
theme: "#F2F2F2"
---
<section id="challenge">
	<div class="constrained">
		<h4 class="type">The Challenge</h4>
		<h2>Impartial tools</h2>
		<p>Danone Nutricia were looking for a way to engage with Healthcare Professionals and introduce them to the Aptamil brand. Using the benefits of Aptamil formula as a launching point, it was decided that a comparison tool which showed different brands on equal footing would be able to put Aptamil ahead of the pack in HCPs minds.</p>
		<div class="screenshotWrapper">	
			<picture>
				<source media="(min-width: 568px)" srcset="../images/portfolio/aptapro/comparison.png, ../images/portfolio/aptapro/comparison@2x.png 2x">
				<source media="(min-width: 0px)" srcset="../images/portfolio/aptapro/comparison_mobile.png, ../images/portfolio/aptapro/comparison_mobile@2x.png 2x">
				<img src="../images/portfolio/aptapro/comparison_mobile.png" class="screenshot sunken">
			</picture>
		</div>
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>Informed decisions</h2>
		<p>Two tools were created, the Product Comparison Tool and the Early Life Nutrition. Both tools work together to help HCPs select the right formula for their patients.</p>
		<div class="screenshotWrapper">
			<picture>
				<source media="(min-width: 568px)" srcset="../images/portfolio/aptapro/results.png, ../images/portfolio/aptapro/results@2x.png 2x">
				<source media="(min-width: 0px)" srcset="../images/portfolio/aptapro/results_mobile.png, ../images/portfolio/aptapro/results_mobile@2x.png 2x">
				<img src="../images/portfolio/aptapro/results_mobile.png" class="screenshot">
			</picture>
		</div>
		<p>The Product Comparison tool allows HCPs to select up to five formulas and compare their nutritional value. The challenge with designing this table was creating a fully responsive table so HCPs could make easy comparisons no matter what device they were using.</p>
		
		<div class="elnn">
			<img src="../images/portfolio/aptapro/elnn-logo.svg" alt="Early Life Nutrition Navigator logo" />
			<p>The Early Life Nutrition Navigator presents the user with a series of questions. Depending on the answers selected, an appropriate set of formulas will be presented. These formulas can then be loaded in to the Product Comparison tool and be compared with each other so the right one for the patient can be recommended.</p>
			<div class="videoWrapper">
			    <iframe width="560" height="315" src="https://www.youtube.com/embed/-F2tefjp85c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>	
		</div>
		<p>To round out the offering, product and nutritional information are available so HCPs can provide parents with relevant information.</p>
		<div class="screenshotWrapper">
			<picture>
				<source media="(min-width: 568px)" srcset="../images/portfolio/aptapro/article.png, ../images/portfolio/aptapro/article@2x.png 2x">
				<source media="(min-width: 0px)" srcset="../images/portfolio/aptapro/article_mobile.png, ../images/portfolio/aptapro/article_mobile@2x.png 2x">
				<img src="../images/portfolio/aptapro/article_mobile.png" class="screenshot sunken">
			</picture>
		</div>
	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>Integrated workflow</h2>
		<p>AptaProfessional required a new art direction that felt part of the Aptamil family. Something that was more professional. At first a very different interpretation of the brand was created but after client feedback, a lighter version of the Aptamil palette was chosen.</p>
		<p>Creating the front end for this project required creating a robust UI Kit first. A UI Kit is a collection of components that you will use on the site which can then be put together to make the templates. By using this methodology, I was able to speed up the build process and produce much cleaner and modular code.</p>
		<img class="colours" src="../images/portfolio/aptapro/colours.png" srcset="../images/portfolio/aptapro/colours.png, ../images/portfolio/aptapro/colours@2x.png 2x" alt="Brand colours">
		<div class="styleguide">
			<img class="image1" src="../images/portfolio/aptapro/copy.png" srcset="../images/portfolio/aptapro/copy.png, ../images/portfolio/aptapro/copy@2x.png 2x" alt="Brand fonts and buttons">
			<img class="image2" src="../images/portfolio/aptapro/stock.png" srcset="../images/portfolio/aptapro/stock.png, ../images/portfolio/aptapro/stock@2x.png 2x" alt="Photo of nurse with smiling toddler">
		</div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="mediaportal" collection=site.portfolio %}
			{% include related.html item="karinourish" collection=site.portfolio %}
		</div>
	</div>
</section>