---
layout: portfolio
title:  "ARC"
type: "Icon Set"
class: "arc"
description: "Modernising icons for an internal tool for creating bug report tickets"
weight: 10
theme: "#F2F2F2"
---
<section id="challenge" class="constrained">
	<div class="copy">
		<h4 class="type">The Challenge</h4>
		<h2>MAKING THE ABSTRACT SIMPLE</h2>
		<p>As ARC gained additional features, to maintain and enhance usability, new and easy to understand icons were needed. The app and toolbar icons were designed to feel right at home on Yosemite, the working environment for the users at the time. For the app icon a radar motif was chosen as the metaphor to reflect searching for bugs.</p>
	</div>
	<div class="image">
		<img src="../images/portfolio/arc/window.png" srcset="../images/portfolio/arc/window.png, ../images/portfolio/arc/window@2x.png 2x" alt="Screenshot of the ARC app">
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<p class="type">Other Works</p>
		<div class="links">
			{% include related.html item="pizzahut" collection=site.portfolio %}
			{% include related.html item="epoch" collection=site.portfolio %}
		</div>
	</div>
</section>