---
layout: portfolio
title:  "Eastland"
type: "Mobile App"
class: "eastland"
description: "Creating one face of an omni-channel retail experience"
cta: "Download the app"
link: "https://itunes.apple.com/au/app/eastland-shopping-centre/id774620495?mt=8"
weight: 1
---
<section id="challenge" class="constrained">
	<div class="copy">
		<h4 class="type">The Challenge</h4>
		<h2>CONNECTING THE <br />PHYSICAL WITH DIGITAL</h2>
		<p>As part of a $900m redevelopment of the Eastland Shopping Centre in Victoria, QIC were looking to create a next generation retail platform that enhances the path to purchase for customers and retailers.</p>
	</div>
	<div class="phone">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/eastland/screenshot.gif" alt="Animated slideshow of Eastland app screenshots">
		<div class="home"></div>
	</div>

</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>HANDOFF AND YOU’RE ON THE WAY</h2>
		<p>Beacon enabled kiosks in centre enable customers with the Eastland Mobile app to get wayfinding directions, shopping guides and other services including pay for parking, concierge and click and collect.</p>
		<img src="../images/portfolio/eastland/handoff.png" srcset="../images/portfolio/eastland/handoff.png, ../images/portfolio/eastland/handoff@2x.png 2x" alt="Screenshot showing the Eastland mobile app and kiosk working together to provide indoor directions">
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>HIT THE GROUND SPRINTING</h2>
	<p>The scope of this project required pulling together a team of designers and developers to work on the many facets. My role was Interface Designer and worked collaboratively to come up with novel solutions and oversee implementation.</p>
	<p>An agile approach was chosen as this allowed the app, website, totem, and CMS top be worked on in tandem. The project consisted of 15 team members, working on 4 interfaces, over 8 sprints.</p>
	<div class="grid">
		<img src="../images/portfolio/eastland/photo1.jpg" alt="Sketches of different handoff icon designs">
		<img src="../images/portfolio/eastland/photo2.jpg" alt="Sketches of the handoff proces">
		<img src="../images/portfolio/eastland/photo4.jpg" alt="Sketch of a handoff infographic">
		<img src="../images/portfolio/eastland/photo3.jpg" alt="Sketches of how to include handoff on the app homescreen">
		<h4 class="caption">Sketching out the handoff process</h4>
	</div>
	<div class="row">
		<img src="../images/portfolio/eastland/article.png" srcset="../images/portfolio/eastland/article.png, ../images/portfolio/eastland/article@2x.png 2x" alt="Screenshot showing how the baseline grid works">
		<p>A baseline grid was introduced to keep a visual rhythm to the design as well as keeping consistency with the other platforms.</p>
	</div>
	<p>Eastland was only the beginning. The Eastland app is a template for the other shopping centres in QIC’s portfolio. This required taking each centre’s branding and applying it appropriately to the wireframes.</p>
	<div class="appgrid">
		<div>
			<img src="../images/portfolio/eastland/otherEastland.png" srcset="../images/portfolio/eastland/otherEastland.png, ../images/portfolio/eastland/otherEastland@2x.png 2x" alt="Eastland app icon">
			<p>Eastland</p>
		</div>
		<div>
			<img src="../images/portfolio/eastland/otherRobina.png" srcset="../images/portfolio/eastland/otherRobina.png, ../images/portfolio/eastland/otherRobina@2x.png 2x" alt="Robina Town Centre app icon">
			<p>Robina Town Centre</p>
		</div>
		<div>
			<img src="../images/portfolio/eastland/otherGrandcentral.png" srcset="../images/portfolio/eastland/otherGrandcentral.png, ../images/portfolio/eastland/otherGrandcentral@2x.png 2x" alt="Grand Central app icon">
			<p>Grand Central</p>
		</div>
		<div>
			<img src="../images/portfolio/eastland/otherCanberra.png" srcset="../images/portfolio/eastland/otherCanberra.png, ../images/portfolio/eastland/otherCanberra@2x.png 2x" alt="Cenberra Centre app icon">
			<p>Canberra Centre</p>
		</div>
	</div> 
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="retailerportal" collection=site.portfolio %}
			{% include related.html item="epoch" collection=site.portfolio %}
		</div>
	</div>
</section>