---
layout: portfolio
title:  "Eastland"
type: "Mobile App"
class: "eastland"
description: "Creating one face of an omni-channel retail experience"
cta: "Download the app"
link: "https://itunes.apple.com/au/app/eastland-shopping-centre/id774620495?mt=8"
weight: 1
---
<section id="challenge" class="constrained">
	<h4 class="type">The Challenge</h4>
	<h2>CONNECTING THE PHYSICAL WITH DIGITAL</h2>
	<p>As part of a $900m redevelopment of the Eastland Shopping Centre in Victoria, QIC were looking to create a next generation retail platform that enhances the path to purchase for customers and retailers.</p>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>HANDOFF AND YOU’RE ON THE WAY</h2>
		<p>Beacon enabled kiosks in centre enable customers with the Eastland Mobile app to get wayfinding directions, shopping guides and other services including pay for parking, concierge and click and collect.</p>
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>HIT THE GROUND SPRINTING</h2>
	<p>The scope of this project required pulling together a team of designers and developers to work on the many facets. My role was Interface Designer and worked collaboratively to come up with novel solutions and oversee implementation.</p>
	<p>An agile approach was chosen as this allowed the app, website, totem, and CMS top be worked on in tandem.</p>
	<p>A baseline grid was introduced to keep a visual rhythm to the design as well as keeping consistency with the other platforms.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="retailerportal" collection=site.portfolio %}
			{% include related.html item="epoch" collection=site.portfolio %}
		</div>
	</div>
</section>