---
layout: portfolio
title:  "Epoch"
type: "Mobile App"
class: "epoch"
description: "Making countdowns beautiful"
weight: 7
---
<section id="challenge" class="constrained">
	<div class="copy">
		<h4 class="type">The Challenge</h4>
		<h2>MAKE MY WIDGET GROW</h2>
		<p>Epoch started out life as a widget for Mac OS X called Percount, developed by Gabe Shabazian. Gabe was looking to take that widget and make it a native iPhone app.</p>
	</div>
	<div class="image">
		<div id="clockdiv">
			<div class="time">
				<span class="days largetext"></span>
				<div class="smalltext">Days</div>
			</div>
			<div class="time">
				<span class="hours largetext"></span>
				<div class="smalltext">Hours</div>
			</div>
			<div class="time">
				<span class="minutes largetext"></span>
				<div class="smalltext">Mins</div>
			</div>
			<div class="time">
				<span class="seconds largetext"></span>
				<div class="smalltext">Secs</div>
			</div>
		</div>	
		
		<div class="phone">
			<div class="speaker"></div>
			<img class="screen" src="../images/portfolio/epoch/christmas.jpg" srcset="../images/portfolio/epoch/christmas.jpg, ../images/portfolio/epoch/christmas@2x.jpg 2x">
			<div class="home"></div>
		</div>
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>PERCOUNT GROWS UP</h2>
		<p>Bringing Percount to the iPhone meant taking full advantage of the beautiful screen and hardware. Not only was the interface of Percount scaled up, it became iOS appropriate by using a card based design to swipe through all your countdowns.</p>
		<div class="image">
			<div id="clockdiv">
				<div class="time">
					<span class="days largetext"></span>
					<div class="smalltext">Days</div>
				</div>
				<div class="time">
					<span class="hours largetext"></span>
					<div class="smalltext">Hours</div>
				</div>
				<div class="time">
					<span class="minutes largetext"></span>
					<div class="smalltext">Mins</div>
				</div>
				<div class="time">
					<span class="seconds largetext"></span>
					<div class="smalltext">Secs</div>
				</div>
			</div>	
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/portfolio/epoch/map.jpg" srcset="../images/portfolio/epoch/map.jpg, ../images/portfolio/epoch/map@2x.jpg 2x">
				<div class="home"></div>
			</div>
		</div>
		<h2>Location, Location, Location</h2>
		<p>Location pinning was another feature made available to us based on the hardware of the iPhone. It was a defining feature that other countdown apps did not have.</p>
	</div>
</section>
<section id="process" class="constrained">
	<div class="copy">
		<h4 class="type">The Process</h4>
		<h2>GOING NATIVE</h2>
		<p>The brief for Epoch was to use the card based layout of the original iPhone Weather app. Cards worked really well for Epoch, it allowed for multiple countdowns while making full use of the screen for user images.</p>
		<p class="quote">A period of time in history or a person's life, typically one marked by notable events</p>
		<p>Transitioning to the App Store I felt like Percount needed a more appropriate name. Something that was easy to search and stood out amongst its’ contemporaries. Epoch was a perfect fit.</p>
	</div>
	<div class="image">
		<div class="phone">
			<div class="speaker"></div>
			<img class="screen" src="../images/portfolio/epoch/animated.gif">
			<div class="home"></div>
		</div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="tolq" collection=site.portfolio %}
			{% include related.html item="arc" collection=site.portfolio %}
		</div>
	</div>
</section>

