---
layout: portfolio
title:  "Exvo"
type: "Cloud OS"
class: "exvo"
description: "Welcome to your personal cloud"
weight: 9
theme: "#E9EBEE"
---
<section id="challenge" class="constrained">
	<div class="copy">
		<h4 class="type">The Challenge</h4>
		<h2>LIVE LIFE IN THE CLOUD</h2>
		<p>Exvo’s goal was simple: live life in the cloud. No matter where you are in the world, all the stuff you care about the most could be accessed from any device.</p>
	</div>
	<img src="../images/portfolio/exvo/cloud.jpg" srcset="../images/portfolio/exvo/cloud.jpg, ../images/portfolio/exvo/cloud@2x.jpg 2x" alt="Diagram of the Exvo ecosystem">
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>FROM CIRRUS TO STRATUS</h2>
		<p>A suite of web apps was developed for a cloud OS platform. These included specialised interfaces for all your media. Because everything was in the cloud, you had no need for local storage, just stream it all.</p>
		<div class="platform">
			<div>
				<img src="../images/portfolio/exvo/desktop.png" srcset="../images/portfolio/exvo/desktop.png, ../images/portfolio/exvo/desktop@2x.png 2x" alt="Screenshot of the Desktop app">
				<h4 class="caption">Desktop</h4>
				<p>Quick access to your favourite websites</p>
			</div>
			<div>
				<img src="../images/portfolio/exvo/music.png" srcset="../images/portfolio/exvo/music.png, ../images/portfolio/exvo/music@2x.png 2x" alt="Screenshot of the Music app">
				<h4 class="caption">Music</h4>
				<p>A thousand songs everywhere</p>
			</div>
			<div>
				<img src="../images/portfolio/exvo/photos.png" srcset="../images/portfolio/exvo/photos.png, ../images/portfolio/exvo/photos@2x.png 2x" alt="Screenshot of the Pics app">
				<h4 class="caption">Pics</h4>
				<p>A million snapshots&hellip; and more</p>
			</div>
			<div>
				<img src="../images/portfolio/exvo/games.png" srcset="../images/portfolio/exvo/games.png, ../images/portfolio/exvo/games@2x.png 2x" alt="Screenshot of the Games app">
				<h4 class="caption">Games</h4>
				<p>Insert 1 browser to begin!</p>
			</div>
		</div>
	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>FORMING A WHOLE SYSTEM</h2>
		<p>The seed of this project was a UI library. Creating a set of themes from the start was important in insuring consistency throughout the app.</p>
		<div class="styleguide">
			<img src="../images/portfolio/exvo/frost.png" srcset="../images/portfolio/exvo/frost.png, ../images/portfolio/exvo/frost@2x.png 2x" alt="Screenshot of the Frost theme">
			<img src="../images/portfolio/exvo/raven.png" srcset="../images/portfolio/exvo/raven.png, ../images/portfolio/exvo/raven@2x.png 2x" alt="Screenshot of the Raven theme">
		</div>
		<p>Interactive prototypes played an integral roll in the design of these interfaces. It allowed me to show the developers exactly how I wanted interactions to perform.</p>
	</div>
	<img class="icons" src="../images/portfolio/exvo/icons.jpg" srcset="../images/portfolio/exvo/icons.jpg, ../images/portfolio/exvo/icons@2x.jpg 2x" alt="Example of the Exvo icon set">
	<p class="constrained">Icons were required throughout the interfaces which led me to creating a suite of 140 icons. This suite included multiple resolutions for use within the apps themselves as well as marketing.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="tolq" collection=site.portfolio %}
			{% include related.html item="epoch" collection=site.portfolio %}
		</div>
	</div>
</section>