---
layout: default
title:  "Portfolio"
class: "portfolio"
exclude: true
theme: "#F8F8F8"
description: "Interactive Designer from Sydney"
---

<div class="constrained extra">
	
	{% include name.html %}
	<section class="card-list">
		{% assign featuredItems = site.portfolio %}
		{% assign featuredItems = featuredItems | sort: "weight" %}
		
		<div class="card toast">
			<a class="post-link" href="http://www.toast-studio.com/" target="_blank">
				<div class="border">
					<img src="../images/portfolio/tiletoast.jpg" srcset="../images/portfolio/tiletoast.jpg, ../images/portfolio/tiletoast@2x.jpg 2x">
				</div>
			</a>
		</div>
		
		{% for item in featuredItems %}
			{% unless item.exclude %}
				<div class="card {{ item.class }}">
					<a class="post-link" href="../portfolio/{{ item.class }}.html">
						<div class="border">
							<img src="../images/portfolio/tile{{ item.class }}.jpg" srcset="../images/portfolio/tile{{ item.class }}.jpg, ../images/portfolio/tile{{ item.class }}@2x.jpg 2x">
						</div>
					</a>
				</div>
			{% endunless %}
		{% endfor %}
	</section>


</div>