---
layout: portfolio
title:  "Karinourish"
type: "Responsive Website"
class: "karinourish"
description: "Providing tailored information about Karicare products and support for new parents"
cta: "Visit Karinourish"
link: "http://www.karinourish.com.au/"
weight: 4
---
<section id="challenge" class="constrained">
	<h4 class="type">The Challenge</h4>
	<h2>BEYOND THE TIN</h2>
	<p>Danone Nutricia introduced a brand new look for their Karicare range of infant formulas to match the new demographic they were looking to target. This required the update of the Karinourish website to match.</p>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>A NEW FOCUS</h2>
		<p>The new art direction chosen for Karicare takes a much softer pallet. The yellows are much more welcoming with the strong blue acting as a nice accent. A secondary palette was also introduced as a set of callout colours. The new demographic of more everyday mothers lead to the choice of more adult fonts. in the end the mother is purchasing the formula, so the brand should feel within her age range.</p>
		<p>This change also influenced the style of imagery. Instead of product images being deep etched and placed on coloured backgrounds like previously, the products now sit within realistic scenarios. The images of people also include soft, realistic backgrounds.</p>
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>DATA DRIVEN DESIGN</h2>
	<p>At the beginning this project I spoke with the performance team at Profero to find out how visitors were accessing the site. Their data revealed that most people come in to the site through Google searches and land directly on product pages, skipping the homepage initially.</p>
	<p>This insight led me to restructure the hierarchy of pages so that there was a clear introduction. This is important because it orients the user as they enter the site. There was also a focus on making sure all relevant information of a page was easily accessible.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="aptapro" collection=site.portfolio %}
			{% include related.html item="tolq" collection=site.portfolio %}
		</div>
	</div>
</section>