---
layout: portfolio
title:  "Karinourish"
type: "Responsive Website"
class: "karinourish"
description: "Providing tailored information about Karicare products and support for new parents"
cta: "Visit Karinourish"
link: "http://www.karinourish.com.au/"
weight: 5
theme: "#F7F3E9"
---
<section id="challenge" class="constrained">
	<h4 class="type">The Challenge</h4>
	<h2>BEYOND THE TIN</h2>
	<p>Danone Nutricia introduced a brand new look for their Karicare range of infant formulas to match the new demographic they were looking to target. This required the update of the Karinourish website to match.</p>
	<div class="phone" style="margin-bottom: 0px;">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/karinourish/product-page_mobile.png" srcset="../images/portfolio/karinourish/product-page_mobile.png, ../images/portfolio/karinourish/product-page_mobile@2x.png 2x" alt="Mobile screenshot of the product page">
		<div class="home"></div>
	</div>
	<div class="browser">
		<div class="browserBar">
			<ul>
				<li></li>
				<li></li>
				<li></li>	
			</ul>
		</div>
		<img class="browserWindow" src="../images/portfolio/karinourish/product-page.png" srcset="../images/portfolio/karinourish/product-page.png, ../images/portfolio/karinourish/product-page@2x.png 2x" alt="Desktop screenshot of the product page">
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>A NEW FOCUS</h2>
		<p>The new art direction chosen for Karicare takes a much softer pallet. The yellows are much more welcoming with the strong blue acting as a nice accent. A secondary palette was also introduced as a set of callout colours. The new demographic of more everyday mothers lead to the choice of more adult fonts. in the end the mother is purchasing the formula, so the brand should feel within her age range.</p>
		<div class="styleguide">
			<img src="../images/portfolio/karinourish/colours.png" srcset="../images/portfolio/karinourish/colours.png, ../images/portfolio/karinourish/colours@2x.png 2x" alt="Brand colours and icons">
			<img src="../images/portfolio/karinourish/text.png" srcset="../images/portfolio/karinourish/text.png, ../images/portfolio/karinourish/text@2x.png 2x" alt="Brand fonts and buttons">
		</div>
		<p>This change also influenced the style of imagery. Instead of product images being deep etched and placed on coloured backgrounds like previously, the products now sit within realistic scenarios. The images of people also include soft, realistic backgrounds.</p>
		<div class="images">
			<img src="../images/portfolio/karinourish/ladies.jpg" srcset="../images/portfolio/karinourish/ladies.jpg, ../images/portfolio/karinourish/ladies@2x.jpg 2x" alt="Photo of the careline ladies">
			<img src="../images/portfolio/karinourish/tins.jpg" srcset="../images/portfolio/karinourish/tins.jpg, ../images/portfolio/karinourish/tins@2x.jpg 2x" alt="Photo of Karicare tins">
		</div>
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>DATA DRIVEN DESIGN</h2>
	<p>At the beginning of this project I spoke with the performance team at Profero to find out how visitors were accessing the site. Their data revealed that most people come in to the site through Google searches and land directly on product pages, skipping the homepage initially.</p>
	<div class="phone">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/karinourish/wireframe_mobile.png" srcset="../images/portfolio/karinourish/wireframe_mobile.png, ../images/portfolio/karinourish/wireframe_mobile@2x.png 2x" alt="Mobile wireframe of the product page">
		<div class="home"></div>
	</div>
	<div class="browser">
		<div class="browserBar">
			<ul>
				<li></li>
				<li></li>
				<li></li>	
			</ul>
		</div>
		<img class="browserWindow" src="../images/portfolio/karinourish/wireframe.png" srcset="../images/portfolio/karinourish/wireframe.png, ../images/portfolio/karinourish/wireframe@2x.png 2x" alt="Desktop wireframe of the product page">
	</div>
	<p>This insight led me to restructure the hierarchy of pages so that there was a clear introduction. This is important because it orients the user as they enter the site. There was also a focus on making sure all relevant information of a page was easily accessible.</p>
	<div class="phone" style="margin-bottom: 0px;">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/karinourish/careline_mobile.png" srcset="../images/portfolio/karinourish/careline_mobile.png, ../images/portfolio/karinourish/careline_mobile@2x.png 2x" alt="Mobile screenshot of the Careline page">
		<div class="home"></div>
	</div>
	<div class="browser careline">
		<div class="browserBar">
			<ul>
				<li></li>
				<li></li>
				<li></li>	
			</ul>
		</div>
		<img class="browserWindow" src="../images/portfolio/karinourish/careline.png" srcset="../images/portfolio/karinourish/careline.png, ../images/portfolio/karinourish/careline@2x.png 2x" alt="Desktop screenshot of the Careline page">
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="nightlight" collection=site.portfolio %}
			{% include related.html item="aptapro" collection=site.portfolio %}
		</div>
	</div>
</section>