---
layout: portfolio
title:  "Mediaportal"
type: "Media Intelligence Platform"
class: "mediaportal"
description: "Modernising a comprehensive media intelligence platform"
cta: "Visit Isentia"
link: "http://www.isentia.com/"
weight: 1
theme: "#F2F0EE"
---
<section id="challenge">
	<div class="constrained">
		<h4 class="type">The Challenge</h4>
		<h2>Modernising a market leader</h2>
		<p>Isentia is a market leader in the media monitoring game. Their platform, Mediaportal, has been providing brands up to date mentions in the news for many years now.</p>
		<p>Times have changed though. Clients are now looking not just for mentions, but also intelligence and understand of how their brand is being portrayed in the news. It was time to modernise Mediaportal.</p>
		<div class="videoWrapper">
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/zMkGkVItvgQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>	
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>One story gives a thousand insights</h2>
		<p>We wanted to change the way users browse their media coverage. Today they are heavily focused on individual items in the media, but an individual item never lives alone. It’s always part of a story.</p>
		<p>Stories is a new way to browse the media. Related items are clustered in to different stories and presented in a more visual fashion. This allows a user to quickly see an overview of their brand in the media.</p>
		<p>News happens 24 hours a day now and we aren’t just at our desks anymore. That’s why a native app was developed so users could be kept up to date immediately with push notifications.</p>
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>Customer driven design</h2>
	<p>Mediaportal is used by a wide range of clients. From big name brands, to government agencies, and even little PR firms. A client base so diverse meant it was important to interview a wide set of clients. Clients were shown various prototypes and their feedback helped to inform the final product.</p>
	<p>Bringing insights to users meant not just introducing new tools, but also a fresh new look to make sure everything was consistent. I introduced a fresh new look with crisp blues, clean typography, and consistent iconography.</p>
	<p>No page was left untouched. Even the no data states were improved to be helpful and provide a splash of colour.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="retailerportal" collection=site.portfolio %}
			{% include related.html item="karinourish" collection=site.portfolio %}
		</div>
	</div>
</section>