---
layout: portfolio
title:  "Mediaportal"
class: "mediaportal"
description: "Modernising a comprehensive media intelligence platform"
cta: "Visit the site"
link: "http://www.isentia.com/"
theme: "#EDF0F0"
---
<section id="challenge">
	<div class="constrained">
		<h4 class="type">The Challenge</h4>
		<h2>Finding the signal from the noise</h2>
		<p>Isentia is a market leader in the media monitoring game. Their platform, Mediaportal, has been providing brands up to date mentions in the news for many years now.</p>
		<p>Times have changed though. Clients are now looking not just for mentions, but also intelligence and understand of how their brand is being portrayed in the news. It was time to modernise Mediaportal.</p>
		<div class="videoWrapper">
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/zMkGkVItvgQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>	
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>One story gives a thousand insights</h2>
		<p>We wanted to change the way users browse their media coverage. Today they are heavily focused on individual items in the media, but an individual item never lives alone. It’s always part of a story.</p>
		<div class="screenshotWrapper">
			<picture>
				<source media="(min-width: 568px)" srcset="../images/portfolio/mediaportal/dashboard.png, ../images/portfolio/mediaportal/dashboard@2x.png 2x">
				<source media="(min-width: 0px)" srcset="../images/portfolio/mediaportal/dashboard_mobile.png, ../images/portfolio/mediaportal/dashboard_mobile@2x.png 2x">
				<img src="../images/portfolio/mediaportal/dashboard_mobile.png" alt="Screenshot of the Stories page" class="screenshot">
			</picture>
		</div>
		<p>Stories is a new way to browse the media. Related items are clustered in to different stories and presented in a more visual fashion. This allows a user to quickly see an overview of their brand in the media.</p>
		<div class="screenshotWrapper">
			<picture>
				<source media="(min-width: 568px)" srcset="../images/portfolio/mediaportal/detail.png, ../images/portfolio/mediaportal/detail@2x.png 2x">
				<source media="(min-width: 0px)" srcset="../images/portfolio/mediaportal/detail_mobile.png, ../images/portfolio/mediaportal/detail_mobile@2x.png 2x">
				<img src="../images/portfolio/mediaportal/detail.png" alt="Screenshot of a story detail page" class="screenshot sunken">
			</picture>
		</div>
	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>Client driven design</h2>
		<p>Mediaportal is used by a wide range of clients. From big name brands, to government agencies, and even little PR firms. A client base so diverse meant it was important to interview a wide set of clients. Clients were shown various prototypes and their feedback helped to inform the final product.</p>
		<div class="grid">
			<img src="../images/portfolio/mediaportal/sketch3.png" alt="Sketch of a media item">
			<img src="../images/portfolio/mediaportal/sketch2.png" alt="Sketch of the story detail page">
			<h4 class="caption">Sketches of various Mediaportal components</h4>
		</div>
		<section class="cards">
			<picture>
				<source media="(max-width: 767px)" srcset="../images/portfolio/mediaportal/cards_mobile.png, ../images/portfolio/mediaportal/cards_mobile@2x.png 2x" alt="Different card designs that heavily featured images">
				<source media="(min-width: 768px)" srcset="../images/portfolio/mediaportal/cards.png, ../images/portfolio/mediaportal/cards@2x.png 2x" alt="Different card designs that heavily featured images">
				<img src="../images/portfolio/mediaportal/cards.png" alt="Different card designs that heavily featured images">
			</picture>		
			<h4 class="caption">Rejected by interviewed users as they didn’t want their tool looking like a news site</h4>
		</section>
		<p>Bringing insights to users meant not just introducing new tools, but also a fresh new look to make sure everything was consistent. I introduced a fresh new look with crisp blues, clean typography, and consistent iconography.</p>
		<div class="styleguide">
			<img src="../images/portfolio/mediaportal/icons.svg" alt="Brand colours and icons">
			<img src="../images/portfolio/mediaportal/copy.svg" alt="Brand fonts and buttons">
		</div>
		<p>No page was left untouched. Even the no data states were improved to be helpful and provide a splash of colour.</p>
		<div class="screenshotWrapper">
			<picture>
				<source media="(min-width: 568px)" srcset="../images/portfolio/mediaportal/nodata.png, ../images/portfolio/mediaportal/nodata@2x.png 2x">
				<source media="(min-width: 0px)" srcset="../images/portfolio/mediaportal/nodata_mobile.png, ../images/portfolio/mediaportal/nodata_mobile@2x.png 2x">
				<img src="../images/portfolio/mediaportal/nodata_mobile.png" alt="Screenshot of a no data page" class="screenshot sunken">
			</picture>
		</div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="epoch" collection=site.portfolio %}
			{% include related.html item="aptapro" collection=site.portfolio %}
		</div>
	</div>
</section>