---
layout: portfolio
title:  "Neutron"
type: "Branding"
class: "neutron"
description: "A Sass framework that empowers you to create flexible, clear, and semantic website layouts"
cta: "Get Neutron"
link: "http://www.neutroncss.com/"
weight: 5
---
<section id="challenge" class="constrained">
	<h4 class="type">The Challenge</h4>
	<h2>REPRESENTING THE LIGHTWEIGHT</h2>
	<p>Born from a dissatisfaction with the status quo in CSS grid frameworks, Christopher Muller was looking to create a framework that did away with all the heavy complexities of other frameworks. A framework that was light and flexible.</p>
	<div class="phone" style="margin-bottom: 0px;">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/neutron/home_mobile.png" srcset="../images/portfolio/neutron/home_mobile.png, ../images/portfolio/neutron/home_mobile@2x.png 2x">
		<div class="home"></div>
	</div>
	<div class="browser">
		<div class="browserBar">
			<ul>
				<li></li>
				<li></li>
				<li></li>	
			</ul>
		</div>
		<img class="browserWindow" src="../images/portfolio/neutron/home.png" srcset="../images/portfolio/neutron/home.png, ../images/portfolio/neutron/home@2x.png 2x">
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>GETTING ATOMIC</h2>
		<p>Neutron lives in a crowded market of other me-too frameworks. It needed a branding that was strong and powerful. Something that stood out amongst the rest.</p>
		<img src="../images/portfolio/neutron/results_mobile.png" srcset="../images/portfolio/neutron/results_mobile.png, ../images/portfolio/neutron/results_mobile@2x.png 2x">
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>EXPLORING THE FUNDAMENTALS</h2>
	<p>As this was a personal project with a friend, this gave me a lot of freedom to explore different avenues without the restrictions of harsh deadlines.</p>
	<img class="sketch" src="../images/portfolio/neutron/sketch.jpg" srcset="../images/portfolio/neutron/sketch.jpg, ../images/portfolio/neutron/sketch@2x.jpg 2x">	
	<div class="row">
		<p>Early on we settle on a space theme for the name, because space is cool! An early name being thrown around was Pulsar, a type of neutron star. It was this name that lead to us picking Neutron as the name.</p>
		<p>Having a strong name made creating a logo easy. It was all a matter of breaking down what a neutron actually is, which nicely shows how modular the framework is.</p>
	</div>
	<div class="colours">
		<img src="../images/portfolio/neutron/swatches.png" srcset="../images/portfolio/neutron/swatches.png, ../images/portfolio/neutron/swatches@2x.png 2x">
		<p>For the colour palette I wanted something dark and futuristic looking. Tron was good inspiration for this.</p>
	</div>
	<div class="phone" style="margin-bottom: 30px;">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/neutron/docs_mobile.png" srcset="../images/portfolio/neutron/docs_mobile.png, ../images/portfolio/neutron/docs_mobile@2x.png 2x">
		<div class="home"></div>
	</div>
	<div class="browser">
		<div class="browserBar">
			<ul>
				<li></li>
				<li></li>
				<li></li>	
			</ul>
		</div>
		<img class="browserWindow" style="margin-bottom: 0px;" src="../images/portfolio/neutron/docs.png" srcset="../images/portfolio/neutron/docs.png, ../images/portfolio/neutron/docs@2x.png 2x">
	</div>
	<div class="row">
		<p>My final part of the project was to build the website. I used the Neutron framework to build the site, which made development a lot easier.</p>
		<p>Through user testing it was found the dark look did not work well for the documentation, text was hard to read. So I developed a light theme that could be applied to pages of the site that were heavy with text.</p>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="eastland" collection=site.portfolio %}
			{% include related.html item="arc" collection=site.portfolio %}
		</div>
	</div>
</section>