---
layout: portfolio
title:  "Night Light"
type: "Chatroom"
class: "nightlight"
description: "A place to come together and chat about the things keeping you and bub up"
weight: 4
theme: "#373038"
---
<section id="challenge" class="constrained">
	<h4 class="type">The Challenge</h4>
	<h2>Getting through tonight together</h2>
	<p>Johnson’s Baby were looking to increase awareness of their sleep products and their expertise in baby sleep routine. To accomplish this, a product would need to be developed that  would help parents when they needed it most.</p>
	<div class="videoWrapper">
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/tzBLj0y8leU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>	
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>A place to get support</h2>
		<p>Parents need help the most when their baby has trouble sleeping. Being up late at night and not knowing what to do can make them feel all alone. That’s why a chatroom was chosen. It would allow parents to connect with one and other. To keep each other company and provide advice.</p>
		<div class="phone">
			<img class="screen" src="../images/portfolio/nightlight/chat_mobile.png" srcset="../images/portfolio/nightlight/chat_mobile.png, ../images/portfolio/nightlight/chat_mobile@2x.png 2x" alt="Mobile screenshot of the Night Light chatroom">
		</div>
		<div class="browser"><img class="chat" src="../images/portfolio/nightlight/chat.png" srcset="../images/portfolio/nightlight/chat.png, ../images/portfolio/nightlight/chat@2x.png 2x" alt="Desktop screenshot of the Night Light chatroom"></div>
		<p style="padding-bottom: 0px;">A wealth of other resources were also available to parents. The Reading Room provided links to helpful articles and the Nurses Office provided quick access to the Tresillian help line, Australia’s largest child and family health organisation.</p>
		<div class="phone">
			<img class="screen" src="../images/portfolio/nightlight/readingroom_mobile.png" srcset="../images/portfolio/nightlight/readingroom_mobile.png, ../images/portfolio/nightlight/readingroom_mobile@2x.png 2x" alt="Mobile screenshot of the Reading Room">
		</div>
		<div class="browser">
			<div class="browserBar">
				<ul>
					<li></li>
					<li></li>
					<li></li>	
				</ul>
			</div>
			<img class="browserWindow" src="../images/portfolio/nightlight/readingroom.jpg" srcset="../images/portfolio/nightlight/readingroom.jpg, ../images/portfolio/nightlight/readingroom@2x.jpg 2x" alt="Desktop screenshot of the Reading Room">
		</div>
		<div class="like">
			<img src="../images/portfolio/nightlight/like.svg" class="like" alt="Facebook Like icon" />
			<p>Johnson’s Baby has an active Facebook community which was tapped to promote Night Light. It was liked over 400 times during the period that Night Light was active.</p>
		</div>
	</div>
</section>
<section id="process" class="constrained">
	<h4 class="type">The Process</h4>
	<h2>Illuminating the night</h2>
	<p>Initially Night Light was only going to be a chatroom. Once it was decided that it would only be open between 5pm and 5am, as a way to differentiate it from places like Facebook, their needed to be some sort of content for users to see during the day. From that, the Reading Room was born.</p>
	<img class="closed" src="../images/portfolio/nightlight/closed.png" srcset="../images/portfolio/nightlight/closed.png, ../images/portfolio/nightlight/closed@2x.png 2x" alt="Chatroom closed panel">
	<p>The art direction was specifically chosen to be easy on the eyes at night. Instead of being completely dark, there are warm purples and creams which are inviting and friendly.</p>
	<div class="styleguide">
		<div class="copy">
			<img class="fonts" src="../images/portfolio/nightlight/copy.png" srcset="../images/portfolio/nightlight/copy.png, ../images/portfolio/nightlight/copy@2x.png 2x" alt="Brand fonts">
			<img class="colours" src="../images/portfolio/nightlight/colours.png" srcset="../images/portfolio/nightlight/colours.png, ../images/portfolio/nightlight/colours@2x.png 2x" alt="Brand colours">
		</div>
		<div class="icons">
			<img src="../images/portfolio/nightlight/icon_tips.png" srcset="../images/portfolio/nightlight/icon_tips.png, ../images/portfolio/nightlight/icon_tips@2x.png 2x" alt="Baby Care Tips icon">
			<img src="../images/portfolio/nightlight/icon_fun.png" srcset="../images/portfolio/nightlight/icon_fun.png, ../images/portfolio/nightlight/icon_fun@2x.png 2x" alt="Fun and Games icon">
			<img src="../images/portfolio/nightlight/icon_laughs.png" srcset="../images/portfolio/nightlight/icon_laughs.png, ../images/portfolio/nightlight/icon_laughs@2x.png 2x" alt="Just for Laughs icon">
			<img src="../images/portfolio/nightlight/icon_growth.png" srcset="../images/portfolio/nightlight/icon_growth.png, ../images/portfolio/nightlight/icon_growth@2x.png 2x" alt="Helping them Grow icon">
			<img src="../images/portfolio/nightlight/icon_sleep.png" srcset="../images/portfolio/nightlight/icon_sleep.png, ../images/portfolio/nightlight/icon_sleep@2x.png 2x" alt="Sleep and Settling icon">
			<img src="../images/portfolio/nightlight/icon_mum.png" srcset="../images/portfolio/nightlight/icon_mum.png, ../images/portfolio/nightlight/icon_mum@2x.png 2x" alt="Being a Mum icon">
		</div>
	</div>
	<div class="sidebar">
		<img src="../images/portfolio/nightlight/sidebar.png" srcset="../images/portfolio/nightlight/sidebar.png, ../images/portfolio/nightlight/sidebar@2x.png 2x" alt="Screenshot of example users">
		<div class="copy">
			<p>It was important that when people entered the chatroom they could display how they were feeling to other users so everyone could be a little more considerate if someone was having a hard time. Three different moods were chosen and initially they were labelled, but by launch the labels were removed to let users infer their own meanings.</p>
			<p style="padding-bottom: 0px;">Upon entering the chatroom, each user is randomly assigned a different colour to help differentiate who is talking.</p>
		</div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="retailerportal" collection=site.portfolio %}
			{% include related.html item="karinourish" collection=site.portfolio %}
		</div>
	</div>
</section>
<script src="../video.js"></script>