---
layout: portfolio
title:  "Pizza Hut"
type: "App Icon"
class: "pizzahut"
description: "Transforming a real world identity into a digital experience"
cta: "Download the App"
link: "https://itunes.apple.com/au/app/pizza-hut-australia/id353096574?mt=8"
weight: 11
theme: "#252524"
exclude: 1
---
<section id="challenge" class="constrained">
	<div class="copy">
		<h4 class="type">The Challenge</h4>
		<h2>Take a bite</h2>
		<p>Pizza Hut introduced a new set of red pizza boxes and were looking to refresh their app icon to match these. To give a sense of depth, a 3D effect is used with the box being slightly open and showing some delicious pizza inside.</p>
	</div>
	<div class="image">
		<div class="phone">
			<img class="screen" src="../images/portfolio/pizzahut/homescreen.jpg" srcset="../images/portfolio/pizzahut/homescreen.jpg, ../images/portfolio/pizzahut/homescreen@2x.jpg 2x" alt="Screenshot of the Pizza Hut app icon on the homescreen">
		</div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="epoch" collection=site.portfolio %}
			{% include related.html item="mediaportal" collection=site.portfolio %}
		</div>
	</div>
</section>