---
layout: portfolio
title:  "Retailer Portal"
type: "Custom CMS"
class: "retailerportal"
description: "Managing an omni-channel retail experience for sixteen shopping centres"
weight: 2
---
<section id="challenge" class="constrained">
	<p class="type">The Challenge</p>
	<h2>FRICTION-FREE RETAIL MANAGEMENT</h2>
	<p class="description">As part of a redevelopment effort, beginning with the Eastland Shopping Centre, QIC were looking to create a next generation retail platform allowing retailers to manage all of their stores with QIC centres.</p>
</section>
<section id="solution">
	<div class="constrained">
		<p class="type">The Solution</p>
		<h2>FROM SMALL OUTLET TO GLOBAL RETAILER</h2>
		<p class="description">A custom CMS was developed that focuses on retailers instead of centre management. A retailer can easily log in and see all the information relevant to their brand and each of their stores within QIC centres.</p>
		<p class="description">The design of the CMS pushes towards a native app than a traditional CMS. This provides a richer and much more focused experience for retailers as they manage their stores.</p>
	</div>
</section>
<section id="process" class="constrained">
	<p class="type">The Process</p>
	<h2>BRIDGING BRANDS ACROSS PLATFORMS</h2>
	<p class="description">Making the retailer portal a really fluid experience was important to me. I wanted users who came to the portal to feel like they could accomplish any edits they needed to do. This lead me to use a more app-like paradigm which made it easy to accomodate the breadth of options available for a user.</p>
	<p class="description">It was important for the client that this CMS felt a part of their brand. This really comes through in the use of typography and restricted colour. A baseline grid was also used to fully evoke the rigidity and structure of the brand.</p>
</section>
<section id="other-works">
	<div class="constrained">
		<p class="type">Other Works</p>
		<div class="links">
			{% include related.html item="eastland" collection=site.portfolio %}
			{% include related.html item="karinourish" collection=site.portfolio %}
		</div>
	</div>
</section>