---
layout: portfolio
title:  "Retailer Portal"
type: "Custom CMS"
class: "retailerportal"
description: "Managing an omni-channel retail experience for sixteen shopping centres"
weight: 3
theme: "#000000"
---
<section id="challenge" class="constrained">
	<h4 class="type">The Challenge</h4>
	<h2>FRICTION-FREE RETAIL MANAGEMENT</h2>
	<p>As part of a redevelopment effort, beginning with the Eastland Shopping Centre, QIC were looking to create a next generation retail platform allowing retailers to manage all of their stores with QIC centres.</p>
	<div class="phone" style="margin-bottom: 0px;">
		<div class="speaker"></div>
		<img class="screen" src="../images/portfolio/retailerportal/mockup_mobile.png" srcset="../images/portfolio/retailerportal/mockup_mobile.png, ../images/portfolio/retailerportal/mockup_mobile@2x.png 2x" alt="Mobile screenshot of the Retailer Portal">
		<div class="home"></div>
	</div>
	<div class="browser">
		<div class="browserBar">
			<ul>
				<li></li>
				<li></li>
				<li></li>	
			</ul>
		</div>
		<img class="browserWindow" src="../images/portfolio/retailerportal/mockup.png" srcset="../images/portfolio/retailerportal/mockup.png, ../images/portfolio/retailerportal/mockup@2x.png 2x" alt="Desktop screenshot of the Retailer Portal">
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>FROM SMALL OUTLET TO GLOBAL RETAILER</h2>
		<p>A custom CMS was developed that focuses on retailers instead of centre management. A retailer can easily log in and see all the information relevant to their brand and each of their stores within QIC centres.</p>
		<div class="card">
			<img src="../images/portfolio/retailerportal/job.png" srcset="../images/portfolio/retailerportal/job.png, ../images/portfolio/retailerportal/job@2x.png 2x" alt="Screenshot of an offer card">
			<h4 class="caption">Each piece of content within the system is a card</h4>
		</div>
		<p>The design of the CMS pushes towards a native app than a traditional CMS. This provides a richer and much more focused experience for retailers as they manage their stores.</p>
	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>BRIDGING BRANDS ACROSS PLATFORMS</h2>
		<p>Making the retailer portal a really fluid experience was important to me. I wanted users who came to the portal to feel like they could accomplish any edits they needed to do. This lead me to use a more app-like paradigm which made it easy to accomodate the breadth of options available for a user.</p>
		<div class="grid">
			<img src="../images/portfolio/retailerportal/photo1.jpg" srcset="../images/portfolio/retailerportal/photo1.jpg, ../images/portfolio/retailerportal/photo1@2x.jpg 2x" alt="Sketch of the UI frame">
			<img src="../images/portfolio/retailerportal/photo2.jpg" srcset="../images/portfolio/retailerportal/photo2.jpg, ../images/portfolio/retailerportal/photo2@2x.jpg 2x" alt="Sketch of different sidebar icons">
			<img src="../images/portfolio/retailerportal/photo4.jpg" srcset="../images/portfolio/retailerportal/photo4.jpg, ../images/portfolio/retailerportal/photo4@2x.jpg 2x" alt="Sketch of a dashboard retailer card">
			<img src="../images/portfolio/retailerportal/photo3.jpg" srcset="../images/portfolio/retailerportal/photo3.jpg, ../images/portfolio/retailerportal/photo3@2x.jpg 2x" alt="Sketches of the footer and a gallery card">
			<h4 class="caption">Sketching out various components</h4>
		</div>
		<p>It was important for the client that this CMS felt a part of their brand. This really comes through in the use of typography and restricted colour. A baseline grid was also used to fully evoke the rigidity and structure of the QIC brand.</p>
	</div>
	<div class="styleguide">
		<div class="baseline"></div>
		<div class="image"></div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="eastland" collection=site.portfolio %}
			{% include related.html item="karinourish" collection=site.portfolio %}
		</div>
	</div>
</section>
