---
layout: portfolio
title:  "Simple Scales"
class: "simplescales"
description: "The quickest way to keep track of your weight"
cta: "Download the app"
link: "https://itunes.apple.com/au/app/eastland-shopping-centre/id774620495?mt=8"
theme: "#EDF0F0"
---
<section id="challenge">
	<div class="constrained">
		<div class="copy">
			<h4 class="type">The Challenge</h4>
			<h2>Track your weight in seconds</h2>
			<p>Simple Scales was born out of a desire to have a fast way to keep track of your weight inside HealthKit. Accomplishing this with other apps, even the Health app itself, is a slow task for something that should be quick and easy.</p>
		</div>
		<img src="../images/portfolio/simplescales/icon.png" srcset="../images/portfolio/simplescales/icon.png, ../images/portfolio/simplescales/icon@2x.png 2x" alt="Simple Scales icon">
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>Scroll to your desired weight</h2>
		<p>Saving your weight shouldn’t involves lots of taps and screens, especially if it’s something you do every day. That’s why a sliding scroller is an obvious choice. It’s immediately available, starts on your last saved weight, and allows you to enter small or large increments with equal control.</p>
		<img src="../images/portfolio/simplescales/phone.png" srcset="../images/portfolio/simplescales/phone.png, ../images/portfolio/simplescales/phone@2x.png 2x" alt="Simple Scales on an iPhone X">
		<p>An Apple Watch app was a very natural extension. It fits in perfectly with watchOS’ goal of simple 2 second interactions. An added bonus was the Digital Crown makes changing your weight a breeze.</p>
		<img src="../images/portfolio/simplescales/watch.png" srcset="../images/portfolio/simplescales/watch.png, ../images/portfolio/simplescales/watch@2x.png 2x" alt="Simple Scales on an Apple Watch">
	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>Constant refinement</h2>
		<p>Since the initial release, there have been 4 major releases which have greatly improved the app in different ways. Whether that’s the addition of something big, like adding an Apple Watch app, or something small like switching to monospace fonts for a better feel when scrolling.</p>
		
		<div class="earlygrid">
			<div class="screenshotWrapper">
				<img class="screenshot" src="../images/portfolio/simplescales/early1.png" alt="An early mockup of Simple Scales featuring a text entry field">
			</div>
			
			<div class="screenshotWrapper">
				<img class="screenshot" src="../images/portfolio/simplescales/early2.png" alt="An early mockup of Simple Scales featuring a number spinner">
			</div>
			
			<div class="screenshotWrapper">
				<img class="screenshot" src="../images/portfolio/simplescales/early3.png" alt="An early mockup of Simple Scales featuring a dial to enter numbers">
			</div>
			
			<div class="screenshotWrapper">
				<img class="screenshot" src="../images/portfolio/simplescales/early4.png" alt="An early mockup of Simple Scales featuring a slider">
			</div>
	
		</div>
		<p class="center">I experimented with different input methods and styles. I wanted to try different spinners to see what had the right feel. I ended up settling on the sliding tape because that felt the quickest and could be placed where your thumb sits on the screen.</p>				
		<div class="grid">
			<img src="../images/portfolio/simplescales/oldvsnew.png" srcset="../images/portfolio/simplescales/oldvsnew.png, ../images/portfolio/simplescales/oldvsnew@2x.png 2x" alt="Two screenshots comparing the original watch app design to the new design">			
			<img src="../images/portfolio/simplescales/health.svg" alt="Body Measurements icon from the Health app">		
		</div>
		
		<div class="grid">
			<p class="center">The original design featured a spinner to enter your weight. In use the text was hard to read so I designed a more legible spinner that resembled the phone version of the app.</p>
			<p class="center">Why yellow? A major part of the app is the integration with Apple Health and I wanted to signal that by making the app the same colour as the Body Measurements category.</p>
		</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="eastland" collection=site.portfolio %}
			{% include related.html item="neutron" collection=site.portfolio %}
		</div>
	</div>
</section>
