---
layout: portfolio
title:  "Simple Scales"
class: "simplescales"
description: "The quickest way to keep track of your weight"
cta: "Download the app"
link: "https://itunes.apple.com/au/app/eastland-shopping-centre/id774620495?mt=8"
theme: "#EDF0F0"
---
<section id="challenge">
	<div class="constrained">
		<h4 class="type">The Challenge</h4>
		<h2>xxx</h2>

	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>xxx</h2>

	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>xxx</h2>

</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="eastland" collection=site.portfolio %}
			{% include related.html item="neutron" collection=site.portfolio %}
		</div>
	</div>
</section>
