---
layout: portfolio
title:  "Tolq"
type: "Translation Service"
class: "tolq"
description: "The power of human translation, at scale, without the hassle of manually managing content"
cta: "Visit Tolq"
link: "http://www.tolq.com/"
weight: 8
theme: "#122E39"
---
<section id="challenge">
	<div class="constrained">
		<h4 class="type">The Challenge</h4>
		<h2>Talk to the world</h2>
		<p>Tolq began life with a simple question, “how to speak the world?” Making translation a simple process would make it easier for businesses to tap in to new markets they didn't think possible.</p>
		<img src="../images/portfolio/tolq/translate.png" srcset="../images/portfolio/tolq/translate.png, ../images/portfolio/tolq/translate@2x.png 2x" alt="Diagram of website translation">
	</div>
</section>
<section id="solution">
	<div class="constrained">
		<h4 class="type">The Solution</h4>
		<h2>As simple as a click</h2>
		<p>Traditional website translation requires you to write down all the phrases you want translated, find a translator and give them the phrases, wait for them to translate them, and hope they have returned translated phrases of high quality.</p>
		<p>Tolq does away with all of that. Simply enter your URL and Tolq scans your website for phrases and connects those to translators in an easy to use interface. With the added security of all translations being peer reviewed.</p>
		<div class="phone" style="margin-bottom: 0px;">
			<img class="screen" src="../images/portfolio/tolq/add_mobile.png" srcset="../images/portfolio/tolq/add_mobile.png, ../images/portfolio/tolq/add_mobile@2x.png 2x" alt="Mobile screenshot of the add website screen">
		</div>
		<div class="browser">
			<div class="browserBar">
				<ul>
					<li></li>
					<li></li>
					<li></li>	
				</ul>
			</div>
			<img class="browserWindow" src="../images/portfolio/tolq/add.png" srcset="../images/portfolio/tolq/add.png, ../images/portfolio/tolq/add@2x.png 2x" alt="Desktop screenshot of the add website screen">
		</div>
	</div>
</section>
<section id="process">
	<div class="constrained">
		<h4 class="type">The Process</h4>
		<h2>Interactive prototyping</h2>
		<p>Tolq is essentially two apps in one. The flows for customers needing their websites translated is very different to that of translators completing the translations. There was a need to think in two different mindsets when designing.</p>
		<p>Being this complex, I needed a way to clearly show the developers on the team how everything pieced together. Interactive prototypes were the way to go. This was in a time before tools like InVision, so I designed and prototyped within Fireworks.</p>
		<div class="interfaces">
			<div>
				<img src="../images/portfolio/tolq/translate.png" srcset="../images/portfolio/tolq/client.png, ../images/portfolio/tolq/client@2x.png 2x" alt="Screenshot of the client interface">
				<h4 class="caption">Client Interface</h4>
			</div>
			<div>
				<img src="../images/portfolio/tolq/translate.png" srcset="../images/portfolio/tolq/translator.png, ../images/portfolio/tolq/translator@2x.png 2x" alt="Screenshot of the translator interface">
				<h4 class="caption">Translator Interface</h4>
			</div>
		</div>
		<div class="whitelogo">
			<img src="../images/portfolio/tolq/logo.png" srcset="../images/portfolio/tolq/logo.png, ../images/portfolio/tolq/logo@2x.png 2x" alt="Tolq logo">
			<p>The logo of Tolq is designed to evoke the feeling of being global, the whole pitch of the service. The globe, which is the centre piece of the logo, is designed to resemble a flag to further reinforce the concept.</p>
		</div>
		<p>I had also started a redesign of the Tolq art direction to give it a more modern look and feel and to bring the colour palette in line with the Tolq brand.</p>
		<div class="phone" style="margin-bottom: 0px;">
			<img class="screen" src="../images/portfolio/tolq/new_mobile.png" srcset="../images/portfolio/tolq/new_mobile.png, ../images/portfolio/tolq/new_mobile@2x.png 2x" alt="Mobile screenshot of the new dashboard">
		</div>
		<div class="browser new">
			<div class="browserBar">
				<ul>
					<li></li>
					<li></li>
					<li></li>	
				</ul>
			</div>
			<img class="browserWindow" src="../images/portfolio/tolq/new.png" srcset="../images/portfolio/tolq/new.png, ../images/portfolio/tolq/new@2x.png 2x" alt="Desktop screenshot of the new dashboard">
		</div>
	</div>
</section>
<section id="other-works">
	<div class="constrained">
		<h4 class="type">Other Works</h4>
		<div class="links">
			{% include related.html item="neutron" collection=site.portfolio %}
			{% include related.html item="exvo" collection=site.portfolio %}
		</div>
	</div>
</section>