---
layout: default
class: "portfolio"
---

<div class="constrained">
	
	{% include name.html %}
	
  <section class="card-list">
    {% for post in site.portfolio %}

      <div class="card {{ post.class }}">
	  	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
			<picture>
			    <img srcset="images/tile{{ post.class }}.jpg, images/tile{{ post.class }}@2x.jpg 2x">
			</picture>		  	
		  	
		  	
	        <p class="type">{{ post.type }}</p>
	        <h2>{{ post.title }}</h2>
	        <p class="description">{{ post.description }}</p>
	  	</a>
      </div>

    {% endfor %}
  </section>


</div>
