$background: #0F9DEE;
$background-dark: #0789D3;
$primary: #F3F3F3;
$highlight: #F6D989;

.airmail {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.airmail:hover {
	background: $background-dark;
}