$background: #142927;
$background-dark: #0F2422;
$primary: #3F827B;
$highlight: #6EB47B;

.atom {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.atom:hover {
	background: $background-dark;
}