$background: #40212B;
$background-dark: #351822;
$primary: #914C65;
$highlight: #D9B72C;

.color {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.color:hover {
	background: $background-dark;
}