$background: #33342F;
$background-dark: #2A2B24;
$primary: #977C73;
$highlight: #DED9D8;

.compressor {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.compressor:hover {
	background: $background-dark;
}