$background: #1B1B1B;
$background-dark: #141313;
$primary: #589489;
$highlight: #6AB470;

.fcs {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.fcs:hover {
	background: $background-dark;
}