$background: #222427;
$background-dark: #17191C;
$primary: #51565C;
$highlight: #B7C1D7;

.shake {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.shake:hover {
	background: $background-dark;
}