$background: #213C44;
$background-dark: #173038;
$primary: #597481;
$highlight: #EFA786;

.soundtrack {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
}

.card.soundtrack:hover {
	background: $background-dark;
}