$background: #F8F8F8;
$primary: #254A63;
$highlight: #65D3DE;

.apps {
	background: $background;
	
	.cover {
		background: rgba($background,0.9);
		
		@supports not (-webkit-backdrop-filter:blur(40px)) {
			background: $background;
		}
	}
	
	h1 {
		color: $highlight;
	}
	
	.name {
		h1	{
			color: $highlight;
		}
		
		h2 {
			color: $primary;
		}
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename span {
			display: none;
		}
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: $background;
		}
	}
	
	.spin {
		z-index: 1;
		opacity: 0.02 !important;
		
		&.one {
			#logo {
				stroke: $highlight;
			}
		}
		
		&.two {
			#logo {
				stroke: $primary;
			}
		}
	}
	
	.constrained {
		z-index: 2;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.appsList {
		@media (max-width:$tablet) {
			margin-top: -60px;
		}
	}
	
	.appContainer {
		position: relative;
		width: calc(100% / 2);
		display: flex;
		align-content: center;
		
		@media (min-width:$phone-landscape) {
		 width: calc(100% / 3);	
		}
		
		@media (min-width:$tablet) {
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 50px;
			width: calc(100% / 2 - 40px);
		}
		
		@media (min-width:$tablet-landscape) {
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 50px;
			width: calc(100% / 3 - 40px);
		}
		
		@media (min-width:$desktop-lrg) {
			width: calc(100% / 4 - 40px);
			border: none;
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	
	.border {
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
		border-radius: 10px;
		transition: box-shadow 1s ease;
	}
	
	.screen {
		display: none;
		max-width: 100%;
		border-radius: 10px;
		z-index: -1;
		transition: box-shadow 1s ease;
		
		@media (min-width:$tablet) {
			display: block;
			position: relative;
		}
	}
	
	.appLink {
		width: 100%;
		text-decoration: none;
		
		&:hover .screen {
			box-shadow: 0 12px 34px 0 rgba(0,0,0,0.15);
			transition: box-shadow 1s ease;
		}
		
		&:hover .border {
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
			transition: box-shadow 1s ease;
		}
	}
		
	.icon {
		margin: 0px auto;
		display: block;
		max-width: 100%;
		
		@media (min-width:$tablet) {
			max-width: 40px;
			margin: 0px;
			display: inline;
			vertical-align: middle;
			margin-top: -5px;
		}
		
		
	}
	
	h3 {
		color: $primary;
		text-align: center;
		font-size: 16px;
		@include dinalt;
				
		@media (min-width:$tablet) {
			font-size: 22px;
			margin-top: 20px;
		}
	}
}