.aptapro {
	--background: #F5F6F6;
	--background-dark: #F2F2F2;
	--primary: #20419A;
	--highlight: #00B5DC;
	
	header {
		.coverimage {
			background-image: url(../images/portfolio/aptapro/header-background.jpg);
			background-position: center bottom;
		}
		
		@media (min-width:$tablet) and (max-width:1300px) {
			h1 {
				font-size: 98px;
			}
			
			.copy {
				width: 100%;
			}
			
			.visit-link {
				margin-top: 30px;
			}
			
			.logo img {
				max-height: 100px;
				margin: 0px;
			}
		}
		
		@media (min-width:1300px) {
			.copy {
				width: 75%;
			}
			
			.logo {
				width: 45%;
			}
		}
	}
	
	.elnn {
		margin: 60px 0px;
		
		img {
			width: 350px;
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
	
	.colours {
		max-width: 100%;
	}
	
	.styleguide {
		display: flex;
		flex-flow: column;
		margin-top: -5px;
		
		img {
			max-width: 100%;
			height: auto;
			margin: 10px 0px;
			width: 100%;
		}
		
		@media (min-width:$tablet) {
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			
			img {
				width: 50%;
				margin: 0px;
			}
		}
	}
}