$background: #F8F8F8;
$background-dark: #F2F2F2;
$primary: #002E0B;
$highlight: #56A421;

.arc {
	background: $background;
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
}