$background: #4B4740;
$background-dark: #37332C;
$primary: #ACA8A2;
$highlight: #FFD56F;

.epoch {
	background: $background;
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
}