.mediaportal {
	--background: #F6F8F8;
	--background-dark: #EDF0F0;
	--primary: #212121;
	--highlight: #2196F3;
	
	
	.coverimage {
		background-image: url(../images/portfolio/mediaportal/header-background.jpg);
		opacity: 0.2;
		background-position: right center;
	}
	
	.cards {
		margin-bottom: 20px;
		
		img {
			max-width: 100%;
		}
	}
	
	.styleguide {
		margin-top: 30px;
		margin-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		img {
			max-width: 100%;
			margin-bottom: 20px;
			
			&:last-child {
				margin-bottom: 0px;
			}
		}
		
		@media (min-width:$tablet) {
			flex-direction: row;
			justify-content: space-between;
			
			img {
				width: 48%;
				margin-bottom: 0px;
			}
		}
		
		@media (min-width:$desktop) {
			margin-bottom: 140px;
			
			img {
				width: auto;
			}
		}
	}
}