$background: #F8F8F8;
$background-dark: #F3F3F3;
$primary: #7B7B7B;
$highlight: #FD9F3C;

.portfolio {
	background: $background;
	
	.categories {
		background: $background-dark;
	}
	
	h1 {
		color: $highlight;
	}
	
	.name {
		h1	{
			color: $highlight;
		}
		
		h2 {
			color: $primary;
		}
	}
	
	nav {
		border: none;
		width: 1763px;
		margin-top: 60px;
		
		.sitename {
			font-size: 60px;
			
			svg {
				width: 88px;
				height: 88px;
			}
		}
		
		.sitename span {
			display: none;
		}
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary;
		}
		
		.categories {
			height: 95px;
			font-size: 27px;
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: $background;
		}
	}
	
	.constrained {
		padding-top: 240px;
		padding-bottom: 40px;
		width: calc(100% - 20px);
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 150px);
		grid-template-areas: 	"eastland"
								"simplescales"
								"neutron"
								"nightlight"
								"epoch"
								"mediaportal"
								"aptapro"
								"karinourish"
								"retailerportal";										
		
		.tile {
			border-radius: 10px;
			padding: 10px 15px;
			position: relative;
			overflow: hidden;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
			
			.promo {
				//transform: scale(1);
				z-index: 1;
				transition: 0.5s transform ease;
			}
			
			&:hover .promo {
				transition: 0.8s transform ease;
				transform: scale(1.1);
			}
			
			&:hover a {
				text-decoration: none !important;
			}
						
			h2 {
				font-size: 22px;
				margin-bottom: -5px;
				z-index: 2;
				color: var(--highlight);
			}
			
			h3 {
				font-size: 13px;
				z-index: 2;
				color: var(--primary);
			}
			
			.flexwrapper {
				width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
			}
			
			@media (min-width:$tablet) {
				padding: 10px 20px;
				
				h2 {
					font-size: 30px;
					margin-bottom: -5px;
				}
			}
			
			@media (min-width:$desktop-lrg) {
				border-radius: 20px;
				padding: 15px 30px;
				
				h2 {
					font-size: 35px;
					margin-bottom: -5px;
				}
				
				h3 {
					font-size: 15px;
				}
			}
		}
		
		@media (min-width:$phone-landscape) {
			width: calc(100% - 40px);
			max-width: 1200px;
			grid-gap: 20px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(7, 150px);
			grid-template-areas: 	"eastland eastland"
									"simplescales neutron"
									"simplescales nightlight"
									"epoch nightlight"
									"mediaportal mediaportal"
									"aptapro karinourish"
									"retailerportal retailerportal";										
		}
		
		@media (min-width:$tablet) {
			grid-template-rows: repeat(7, 300px);
		}
		
		@media (min-width:$desktop) {
			grid-template-rows: repeat(7, 415px);
		}
		
		@media (min-width:$desktop-lrg) {
			width: 1763px;
			max-width: 1763px;
			grid-gap: 40px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(5, 415px);
			grid-template-areas: 	"eastland eastland simplescales"
									"nightlight neutron simplescales"
									"nightlight mediaportal mediaportal"
									"epoch aptapro karinourish"
									"retailerportal retailerportal karinourish";										
		}
	}
	
	.eastland {
		grid-area: eastland;
		background: #F2F0EE;
		
		.promo {
			position: absolute;
			top: 40px;
			left: -80px;
			width: 460px;
			
			@media (min-width:568px) {
				top: 20px;
				left: 0px;
				width: 570px;
			}
			
			@media (min-width:$tablet) {
				top: 40px;
				left: -300px;
				width: 1030px;
			}
			
			@media (min-width:$tablet-landscape) {
				left: -120px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				top: 50px;
				left: -400px;
			}
			
			@media (min-width:$desktop-lrg) {
				width: auto;
				top: 50px;
				right: 20px;
			}
		}
	}
	
	.simplescales {
		grid-area: simplescales;
		
		.promo {
			margin-top: -95px;
			margin-left: 130px;
			
			@media (min-width:$phone-landscape) {
				width: 160px;
				margin-top: 10px;
				margin-left: 0px;
			}

			@media (min-width:$tablet) {
				width: 310px;
				margin-top: 40px;
			}

			@media (min-width:$desktop) {
				margin-top: 50px;
				width: auto;
			}
		}
	}
	
	.nightlight {
		grid-area: nightlight;
		background: #4B444C;
		
		.promo {
			margin-top: 10px;
		}
		
		.chatbar {
			position: absolute;
			bottom: 0px;
			left: 0px;
			
			@media (max-width:766px) {
				display: none;
			}
		}
	}
	
	.neutron {
		grid-area: neutron;
		background: url(../images/portfolio/background-neutron.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			top: 28px;
			right: 20%;
			width: 100px;
			
			@media (min-width:$tablet) {
				width: 190px;
				top: 70px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				bottom: 55px;
				right: 73px;
			}
		}
	}
	
	.mediaportal {
		grid-area: mediaportal;
		background: #EDF0F0;
		
		.promo {
			position: absolute;
			width: 420px;
			top: 30px;
			left: 50px;
			
			@media (min-width:568px) {
				width: 510px;
				top: -30px;
				left: 160px;
			}
			
			@media (min-width:$tablet) {
				width: 880px;
				top: 30px;
				left: 20px;
			}
			
			@media (min-width:$tablet-landscape) {
				left: 100px;
				top: -40px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				top: 30px;
				left: 50px;
			}
		}
	}
	
	.epoch {
		grid-area: epoch;
		background: url(../images/portfolio/background-epoch.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			bottom: -80px;
			left: 30px;
			
			@media (min-width:568px) {
				left: 50px;
			}
			
			@media (min-width:$tablet) {
				bottom: -120px;
				left: 20px;
			}
			
			@media (min-width:$desktop) {
				bottom: -40px;
				left: 30px;
			}
			
			img {
				width: 580px;
				
				@media (min-width:$tablet) {
					width: auto;
				}
			}
		}
		
		.countdown {
			z-index: 10;
			position: absolute;
			transform: rotate(23deg) scale(0.7) skew(-40deg);
			bottom: 95px;
			left: 60px;
			margin: 0px;
			
			@media (min-width:$tablet) {
				transform: rotate(23deg) scale(1.35) skew(-40deg);
				bottom: 195px;
				left: 213px;
			}
			
			@media (min-width:$desktop-lrg) {
				bottom: 195px;
				left: 213px;
			}
		}
	}
	
	.aptapro {
		grid-area: aptapro;
		background: #F7F9FB;
		background: url(../images/portfolio/background-aptapro.png);
		background-size: cover;
		
		.promo {
			width: 170px;
			margin-left: 5px;
			
			@media (min-width:321px) {
				width: 210px;
				margin-left: 165px;
				margin-top: -26px;
			}
			
			@media (min-width:569px) {
				width: 170px;
				margin-left: 35px;
				margin-top: 0px;
			}
			
			@media (min-width:$tablet) {
				width: 350px;
				margin-left: 35px;
				margin-top: 30px;				
			}
			
			@media (min-width:$desktop) {
				width: auto;
				margin-left: 35px;
				margin-top: 60px;
			}
			
			@media (min-width:$desktop-lrg) {
				width: auto;
				margin-top: 50px;
				margin-left: 35px;
			}
		}
	}
	
	.karinourish {
		grid-area: karinourish;
		background: #F3EDE0;
		
		.promo {
			position: absolute;
			top: -20px;
			left: 110px;
			width: 420px;
			
			@media (min-width:568px) {
				top: -90px;
				left: 200px;
			}
			
			@media (min-width:667px) {
				top: -20px;
				left: 110px;
			}
			
			@media (min-width:$tablet) {
				top: 30px;
				left: 60px;
			}
			
			@media (min-width:$tablet-landscape) {
				top: 20px;
				left: 100px;
				width: 480px;
			}
			
			@media (min-width:$desktop) {
				width: 720px;
			}
			
			@media (min-width:$desktop-lrg) {
				width: 980px;
				left: 70px;
			}
		}
	}
	
	.retailerportal {
		grid-area: retailerportal;
		background: url(../images/portfolio/background-retailerportal.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			width: 420px;
			top: 30px;
			left: 60px;
			
			@media (min-width:568px) {
				width: 510px;
				top: -10px;
				left: 150px;
			}
			
			@media (min-width:$tablet) {
				width: 880px;
				top: 30px;
				left: 20px;
			}
			
			@media (min-width:$tablet-landscape) {
				left: 150px;
				top: 30px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				top: 30px;
				left: 60px;
			}
		}
	}
}