$background: #F8F8F8;
$background-dark: #F3F3F3;
$primary: #7B7B7B;
$highlight: #FD9F3C;

.portfolio {
	background: $background;
	
	.categories {
		background: $background-dark;
	}
	
	h1 {
		color: $highlight;
	}
	
	.name {
		h1	{
			color: $highlight;
		}
		
		h2 {
			color: $primary;
		}
	}
	
	.main-nav {
		border: none;
		width: 1763px;
		margin-top: 60px;
		
		.sitename span {
			display: none;
		}
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: $background;
		}
	}
	
	.constrained {
		padding-top: 160px;
		padding-bottom: 160px;
		width: 1763px;
		display: grid;
		grid-gap: 40px;
		grid-template-columns: 561px 561px 561px;
		grid-template-rows: 415px 415px 415px 415px 415px;
		
		grid-template-areas: 	"eastland eastland simplescales"
								"nightlight neutron simplescales"
								"nightlight mediaportal mediaportal"
								"epoch aptapro karinourish"
								"retailerportal retailerportal karinourish";										
		
		.tile {
			border-radius: 20px;
			padding: 30px;
			position: relative;
			overflow: hidden;
			transition: 0.5s transform ease;
			
			img {
				transform: scale(1);
			}
			
			&:hover img {
				transform: scale(1.1);
				transition: 0.8s transform ease;
			}
			
			&:hover a {
				text-decoration: none !important;
			}
			
			h2 {
				font-size: 35px;
				margin-bottom: -5px;
				text-decoration: none !important;
			}
			
			h3 {
				font-size: 15px;
			}
		}
	}
	
	.eastland {
		grid-area: eastland;
		background: #F2F0EE;
		
		img {
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
	
	.simplescales {
		grid-area: simplescales;
	}
	
	.nightlight {
		grid-area: nightlight;
	}
	
	.neutron {
		grid-area: neutron;
	}
	
	.mediaportal {
		grid-area: mediaportal;
	}
	
	.epoch {
		grid-area: epoch;
	}
	
	.aptapro {
		grid-area: aptapro;
	}
	
	.karinourish {
		grid-area: karinourish;
	}
	
	.retailerportal {
		grid-area: retailerportal;
	}
}