$background: #F8F8F8;
$background-dark: #F3F3F3;
$primary: #7B7B7B;
$highlight: #FD9F3C;

.portfolio {
	background: $background;
	
	.categories {
		background: $background-dark;
	}
	
	h1 {
		color: $highlight;
	}
	
	.name {
		h1	{
			color: $highlight;
		}
		
		h2 {
			color: $primary;
		}
	}
	
	.main-nav {
		border: none;
		width: 1763px;
		margin-top: 60px;
		
		.sitename span {
			display: none;
		}
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: $background;
		}
	}
	
	.constrained {
		padding-top: 160px;
		padding-bottom: 160px;
		width: calc(100% - 20px);
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
		grid-template-areas: 	"eastland"
								"simplescales"
								"neutron"
								"nightlight"
								"epoch"
								"mediaportal"
								"aptapro"
								"karinourish"
								"retailerportal";										
		
		.tile {
			border-radius: 10px;
			padding: 10px 15px;
			position: relative;
			overflow: hidden;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
			
			.promo {
				//transform: scale(1);
				z-index: 1;
				transition: 0.5s transform ease;
			}
			
			&:hover .promo {
				transition: 0.8s transform ease;
				transform: scale(1.1);
			}
			
			&:hover a {
				text-decoration: none !important;
			}
			
			h2 {
				font-size: 22px;
				margin-bottom: -5px;
				z-index: 2;
			}
			
			h3 {
				font-size: 13px;
				z-index: 2;
			}
			
			@media (min-width:$tablet) {
				padding: 10px 20px;
				
				h2 {
					font-size: 30px;
					margin-bottom: -5px;
				}
			}
			
			@media (min-width:$desktop-lrg) {
				border-radius: 20px;
				padding: 15px 30px;
				
				h2 {
					font-size: 35px;
					margin-bottom: -5px;
				}
				
				h3 {
					font-size: 15px;
				}
			}
		}
		
		@media (min-width:$phone-landscape) {
			width: calc(100% - 40px);
			max-width: 1000px;
			grid-gap: 20px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
			grid-template-areas: 	"eastland eastland"
									"simplescales neutron"
									"simplescales nightlight"
									"epoch nightlight"
									"mediaportal mediaportal"
									"aptapro karinourish"
									"retailerportal retailerportal";										
		}
		
		@media (min-width:$tablet) {
			grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
		}
		
		@media (min-width:$desktop-lrg) {
			width: 1763px;
			max-width: 1763px;
			grid-gap: 40px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 415px 415px 415px 415px 415px;
			grid-template-areas: 	"eastland eastland simplescales"
									"nightlight neutron simplescales"
									"nightlight mediaportal mediaportal"
									"epoch aptapro karinourish"
									"retailerportal retailerportal karinourish";										
		}
	}
	
	.eastland {
		grid-area: eastland;
		background: #F2F0EE;
		
		img {
			position: absolute;
			top: 50px;
			right: 20px;
		}
	}
	
	.simplescales {
		grid-area: simplescales;
		
		img {
			position: absolute;
			bottom: 20px;
			right: 30px;
		}
	}
	
	.nightlight {
		grid-area: nightlight;
	}
	
	.neutron {
		grid-area: neutron;
		background: url(../images/portfolio/background-neutron.png);
		background-size: cover;
		
		img {
			position: absolute;
			bottom: 55px;
			right: 73px;
		}
	}
	
	.mediaportal {
		grid-area: mediaportal;
		background: #EDF0F0;
		
		.promo {
			position: absolute;
			top: 30px;
			left: 50px;
		}
		
		@media (min-width:$tablet) {
			.promo {
				width: 837px;
				top: 30px;
				left: 100px;
			}
		}
		
		@media (min-width:$desktop-lrg) {
			.promo {
				width: auto;
				top: 30px;
				left: 50px;
			}
		}
	}
	
	.epoch {
		grid-area: epoch;
		background: url(../images/portfolio/background-epoch.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			bottom: -80px;
			left: 30px;
			
			@media (min-width:$tablet) {
				bottom: -120px;
				left: 20px;
			}
			
			@media (min-width:$desktop-lrg) {
				bottom: -80px;
				left: 30px;
			}
			
			
		}
		
		.countdown {
			z-index: 10;
			position: absolute;
			transform: rotate(23deg) scale(0.7) skew(-40deg);
			bottom: 95px;
			left: 60px;
			margin: 0px;
			
			@media (min-width:$tablet) {
				transform: rotate(23deg) scale(1.35) skew(-40deg);
				bottom: 195px;
				left: 213px;
			}
		}
	}
	
	.aptapro {
		grid-area: aptapro;
		background: #F7F9FB;
		background: url(../images/portfolio/background-aptapro.png);
		background-size: cover;
		
		img {
			position: absolute;
			bottom: 35px;
			right: 10px;
		}
	}
	
	.karinourish {
		grid-area: karinourish;
		background: #F3EDE0;
		
		img {
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}
	
	.retailerportal {
		grid-area: retailerportal;
		background: url(../images/portfolio/background-retailerportal.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			top: 30px;
			left: 60px;
		}
		
		@media (min-width:$tablet) {
			.promo {
				width: 837px;
				top: 30px;
				left: 100px;
			}
		}
		
		@media (min-width:$desktop-lrg) {
			.promo {
				width: auto;
				top: 30px;
				left: 60px;
			}
		}
	}
}