$background: #F8F8F8;
$background-dark: #F3F3F3;
$primary: #7B7B7B;
$highlight: #F78A60;

.resume {
	background: $background;
	
	.constrained {
		max-width: 900px;
		z-index: 2;
		position: relative;
	}
	
	.categories {
		background: $background-dark;
		
		.resumelink {
			display: block;
		}
	}
	
	h1, h3 {
		color: $highlight;
	}
	
	h3 {
		text-transform: none;
		@include font-header;
		font-size: 25px;
		margin: 0px;
		margin-bottom: 5px;
		line-height: 26px;
		
		@media (min-width:$tablet) {
			font-size: 28px;
		}
	}
	
	h4 {
		@include font-header;
		font-size: 16px;
		color: $primary;
	}
	
	p, caption, .type, .caption {
		color: $primary !important;
	}
	
	p {
		@include font-book;
		font-size: 16px;
		line-height: 24px;
	}
	
	a {
		color: $highlight;
	}
	
	.type::after {
		background: $primary;
	}
	
	.type {
		margin-left: 10px;
		
		@media (min-width:$desktop) {
			margin-left: 18px;
		}
	}
	
	.name {
		margin-left: 0px;
		text-align: left;
		padding-bottom: 0px;
		
		h1	{
			color: $highlight;
		}
		
		h2 {
			color: $primary;
			display: none;
		}
	}
	
	.main-nav {
		border-color: rgba($primary, 0.2);
		
		.sitename span {
			display: none;
		}
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: linear-gradient(-180deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 100%), $background;
		}
	}
	
	.details {
		margin-bottom: 40px;
		margin-left: 10px;
				
		ul {
			list-style: none;
			@include clearfix;
			margin: 0px;
			
			li {
				float: left;
				@include font-header;
				margin-right: 40px;
				font-size: 22px;
				color: $primary;
				
				&:first-child {
					display: none;
				}
			}
		}
		
		@media (min-width: $desktop) {
			margin-left: 18px;
		}
	}
	
	.job {
		margin-bottom: 50px;
		margin-left: 10px;
		
		@media (min-width:$tablet) {
			border: none;
			margin-bottom: 80px;
			padding: 0px;
		}
		
		@media (min-width:$desktop) {
			margin-left: 18px;
		}
	}
	
	.education {
		margin-bottom: 40px;
		margin-left: 10px;
		
		@media (min-width:$desktop) {
			margin-left: 18px;
		}
	}
	
	@media print {
		.main-nav {
			display: none;
		}
		
		.name {
			margin-top: 0px;
			margin-bottom: 10px;
			
			h1 {
				font-size: 63px;
			}
			
			h2 {
				display: none;
			}
		}
		
		h1, h3, a, p {
			color: black !important;
		}
		
		.details ul li:first-child {
			display: block;
		}
		
		h1 {
			margin-left: 10px;
		}
		
		.details {
			padding-top: 20px;
		}
		
		.spin {
			display: none;
		}
		
		.type {
			margin-bottom: 0px;
		}
		
		.job {
			margin-bottom: 20px;
			
			h3 {
				font-size: 20px;
			}
			
			h4 {
				font-size: 12px;
				margin-bottom: 0px;
			}
			
			p {
				font-size: 12px;
				line-height: 18px;
			}
		}
		
		
		.education {
			margin-bottom: 10px;
			
			h3 {
				font-size: 20px;
			}
			
			h4 {
				font-size: 12px;
				margin-bottom: 0px;
			}
			
			p {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}
}