$background: #F8F8F8;
$background-dark: #F3F3F3;
$primary: #7B7B7B;
$highlight: #C669DF;

.thoughts {
	background: $background;
	
	.categories {
		background: $background-dark;
	}
	
	h1 {
		color: $highlight;
	}
	
	.name {
		h1	{
			color: $highlight;
		}
		
		h2 {
			color: $primary;
		}
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename span {
			display: none;
		}
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
		
		&.not-top.pinned, &.xunpinned, &.bottom {
			background: $background;
		}
	}
	
	.spin {
		&.one {
			#logo {
				stroke: $highlight;
			}
		}
		
		&.two {
			#logo {
				stroke: $primary;
			}
		}
	}
}