@-webkit-keyframes slide {
  from {
    background-position: left 100%;
  }
  to {
    background-position: left 0%;
  }
}

@keyframes slide {
  from {
    background-position: left 100%;
  }
  to {
    background-position: left 0%;
  }
}

.portfolio {
	--highlight: #F78A60;
		
	nav {
		border: none;
		padding-left: 10px;
		padding-right: 10px;
		
		.sitename {
			pointer-events: none;
		}		
		
		@media (min-width:$phone-landscape) {
			max-width: 1200px;
			padding-left: calc(20px + env(safe-area-inset-left));
		    padding-right: calc(20px + env(safe-area-inset-right));
		}
		
		@media (min-width:$tablet) {
			height: 120px;
		}
		
		@media (min-width:$desktop) {
			height: 212px;
			
			.sitename {
				transform: scale(1.3);
			}
			
			.contact-link {
				font-size: 30px;
			}
		}
		
		@media (min-width: 1224px) {
			padding-left: 0px;
		    padding-right: 0px;
		}
		
		@media (min-width:$desktop-lrg) {
			width: 1763px;
			max-width: 1763px;
		}
	}
	
	.constrained {
		padding-top: 70px;
		padding-bottom: 40px;
		width: calc(100% - 20px);
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 150px);
		grid-template-areas: 	"eastland"
								"simplescales"
								"kohab"
								"marketplace"
								"mediaportal"
								"nightlight"
								"aptapro"
								"karinourish"
								"retailerportal";										
		
		.tile {
			border-radius: 10px;
			position: relative;
			overflow: hidden;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
			
			a {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				padding: 10px 15px;	
				
				@media (min-width:$tablet) {
					padding: 10px 20px;
				}
				
				@media (min-width:$desktop-lrg) {
					padding: 15px 30px;
				}
			}
			
			.promo {
				z-index: 1;
				transition: 0.5s transform ease;
			}
			
			&:hover .promo {
				transition: 0.8s transform ease;
				transform: scale(1.1);
			}
			
			&:hover a {
				text-decoration: none !important;
			}
						
			h2 {
				font-size: 22px;
				margin-bottom: -5px;
				z-index: 2;
				color: var(--highlight);
			}
			
			h3 {
				font-size: 13px;
				z-index: 2;
				color: var(--primary);
			}
			
			.flexwrapper {
				width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
				
				div {
					//width: 100%;
				}
			}
			
			@media (min-width:$tablet) {
				h2 {
					font-size: 30px;
					margin-bottom: -5px;
				}
			}
			
			@media (min-width:$desktop-lrg) {
				border-radius: 20px;
				
				h2 {
					font-size: 35px;
					margin-bottom: -5px;
				}
				
				h3 {
					font-size: 15px;
				}
			}
		}
		
		@media (min-width:$phone-landscape) {
			width: calc(100% - 40px);
			max-width: 1200px;
			grid-gap: 20px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(7, 150px);
			grid-template-areas: 	"eastland eastland"
									"simplescales kohab"
									"simplescales marketplace"
									"nightlight marketplace"
									"mediaportal mediaportal"
									"aptapro karinourish"
									"retailerportal retailerportal";										
		}
		
		@media (min-width:$tablet) {
			grid-template-rows: repeat(7, 300px);
			padding-top: 120px;
		}
		
		@media (min-width:$desktop) {
			grid-template-rows: repeat(7, 415px);
			padding-top: 212px;
		}
		
		@media (min-width:$desktop-lrg) {
			width: 1763px;
			max-width: 1763px;
			grid-gap: 40px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(5, 415px);
			grid-template-areas: 	"eastland eastland simplescales"
									"marketplace kohab simplescales"
									"marketplace mediaportal mediaportal"
									"nightlight aptapro karinourish"
									"retailerportal retailerportal karinourish";										
		}
	}
	
	.eastland {
		grid-area: eastland;
		background: #F2F0EE;
		
		@media (prefers-color-scheme: dark) {	
			background: #3B3A3A;
		}
		
		.promo {
			position: absolute;
			top: 40px;
			left: -80px;
			width: 460px;
			
			@media (min-width:568px) {
				top: 20px;
				left: 0px;
				width: 570px;
			}
			
			@media (min-width:$tablet) {
				top: 40px;
				left: -300px;
				width: 1030px;
			}
			
			@media (min-width:$tablet-landscape) {
				left: -120px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				top: 50px;
				left: -400px;
			}
			
			@media (min-width:$desktop-lrg) {
				width: auto;
				top: 50px;
				right: 20px;
			}
		}
	}
	
	.simplescales {
		grid-area: simplescales;
		background: url(../portfolio/background-simplescales.jpg);
		background-size: cover;
		
		@media (prefers-color-scheme: dark) {	
			background: url(../portfolio/background-simplescales-dark.jpg);
			background-size: cover;
		}
		
		.promo {
			margin-top: -95px;
			margin-left: 130px;
			
			@media (min-width:$phone-landscape) {
				width: 160px;
				margin-top: 10px;
				margin-left: 0px;
			}

			@media (min-width:$tablet) {
				width: 310px;
				margin-top: 40px;
			}

			@media (min-width:$desktop) {
				margin-top: 50px;
				width: auto;
			}
		}
	}
	
	.nightlight {
		grid-area: nightlight;
		background: #4B444C;
		
		h2 {
			color: #D7B48D !important;
		}
		
		.promo {
			margin-top: 10px;
		}
		
		.chatbar {
			position: absolute;
			bottom: 0px;
			left: 0px;
			
			@media (max-width:1119px) {
				display: none;
			}
		}
	}
	
	.neutron {
		grid-area: neutron;
		background-image: linear-gradient(-30deg, rgba(#4DF1FF,0.25) 0%, rgba(#FFCE55,0.25) 100%);
		background-color: #243739;
		
		.promo {
			position: absolute;
			top: 28px;
			right: 20%;
			width: 100px;
						
			@media (min-width:$tablet) {
				width: 190px;
				top: 70px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				bottom: 55px;
				right: 73px;
			}
		}
	}
	
	.kohab {
		grid-area: kohab;
		background: url(../portfolio/background-kohab.png);
		background-size: cover;
		
		@media (prefers-color-scheme: dark) {	
			background: url(../portfolio/background-kohab-dark.jpg);
			background-size: cover;
		}
		
		.promo {
			position: absolute;
			top: 16px;
			right: 20%;
			width: 140px;
			
			@media (min-width:$phone-landscape) {
				right: 5%;
			}
			
			@media (min-width:$tablet) {
				width: 240px;
				top: 70px;
				right: 10%;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				bottom: 55px;
				right: 73px;
			}
		}
	}
	
	.mediaportal {
		grid-area: mediaportal;
		background: url(../portfolio/background-mediaportal.png);
		background-size: cover;
		
		@media (prefers-color-scheme: dark) {	
			background: url(../portfolio/background-mediaportal-dark.jpg);
			background-size: cover;
		}
		
		.promo {
			position: absolute;
			width: 420px;
			top: 30px;
			left: 50px;
			
			@media (min-width:568px) {
				width: 510px;
				top: -30px;
				left: 160px;
			}
			
			@media (min-width:$tablet) {
				width: 880px;
				top: 30px;
				left: 20px;
			}
			
			@media (min-width:$tablet-landscape) {
				left: 100px;
				top: -40px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				top: 30px;
				left: 50px;
			}
		}
	}
	
	.epoch {
		grid-area: epoch;
		background: url(../portfolio/background-epoch.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			bottom: -80px;
			left: 30px;
			
			@media (min-width:568px) {
				left: 50px;
			}
			
			@media (min-width:$tablet) {
				bottom: -120px;
				left: 20px;
			}
			
			@media (min-width:$desktop) {
				bottom: -40px;
				left: 30px;
			}
			
			img {
				width: 580px;
				
				@media (min-width:$tablet) {
					width: auto;
				}
			}
		}
		
		.countdown {
			z-index: 10;
			position: absolute;
			transform: rotate(23deg) scale(0.7) skew(-40deg);
			bottom: 95px;
			left: 60px;
			margin: 0px;
			
			@media (min-width:$tablet) {
				transform: rotate(23deg) scale(1.35) skew(-40deg);
				bottom: 195px;
				left: 200px !important;
			}
			
			@media (min-width:$desktop) {
				bottom: 195px;
				left: -391px !important;
			}
		}
	}
	
	.aptapro {
		grid-area: aptapro;
		background: #F7F9FB;
		background: url(../portfolio/background-aptapro.png);
		background-size: cover;
		
		@media (prefers-color-scheme: dark) {	
			background: url(../portfolio/background-aptapro-dark.jpg);
			background-size: cover;
		}
		
		.promo {
			width: 170px;
			margin-left: 5px;
			
			@media (min-width:321px) {
				width: 210px;
				margin-left: 165px;
				margin-top: -26px;
			}
			
			@media (min-width:569px) {
				width: 170px;
				margin-left: 35px;
				margin-top: 0px;
			}
			
			@media (min-width:$tablet) {
				width: 350px;
				margin-left: 35px;
				margin-top: 30px;				
			}
			
			@media (min-width:$desktop) {
				width: auto;
				margin-left: 35px;
				margin-top: 60px;
			}
			
			@media (min-width:$desktop-lrg) {
				width: auto;
				margin-top: 50px;
				margin-left: 35px;
			}
		}
	}
	
	.karinourish {
		grid-area: karinourish;
		background: url(../portfolio/background-karinourish.jpg);
		background-size: cover;	
		
		@media (prefers-color-scheme: dark) {	
			background: url(../portfolio/background-karinourish-dark.jpg);
			background-size: cover;
		}
		
		.promo {
			position: absolute;
			top: -20px;
			left: 110px;
			width: 420px;
			
			@media (min-width:568px) {
				top: -90px;
				left: 150px;
			}
			
			@media (min-width:667px) {
				top: -20px;
				left: 110px;
			}
			
			@media (min-width:$tablet) {
				top: 30px;
				left: 60px;
			}
			
			@media (min-width:$tablet-landscape) {
				top: 20px;
				left: 100px;
				width: 480px;
			}
			
			@media (min-width:$desktop) {
				width: 720px;
			}
			
			@media (min-width:$desktop-lrg) {
				width: 980px;
				left: 70px;
			}
		}
	}
	
	.retailerportal {
		grid-area: retailerportal;
		background: url(../portfolio/background-retailerportal.png);
		background-size: cover;
		
		.promo {
			position: absolute;
			width: 420px;
			top: 30px;
			left: 60px;
			
			@media (min-width:568px) {
				width: 510px;
				top: -10px;
				left: 150px;
			}
			
			@media (min-width:$tablet) {
				width: 880px;
				top: 30px;
				left: 20px;
			}
			
			@media (min-width:$tablet-landscape) {
				left: 150px;
				top: 30px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
				top: 30px;
				left: 60px;
			}
		}
	}
	
	.marketplace {
		grid-area: marketplace;
		background: url(../portfolio/background-marketplace.jpg);
		background-size: cover;
		
		@media (prefers-color-scheme: dark) {	
			background: url(../portfolio/background-marketplace-dark.jpg);
			background-size: cover;
		}
		
		h2, h3 {
			color: white !important;
		}
		
		h3 {
			opacity: 0.5;
		}
		
		.flexwrapper {
			margin-top: -30px;
			
			@media (min-width:$desktop) {
				margin-top: -70px;
			}
		}
		
		.promo {
			width: 250px;
			
			@media (min-width:$tablet) {
				width: 420px;
			}
			
			@media (min-width:$desktop) {
				width: auto;
			}
		}
	}
}

.resume {
	--background: #F8F8F8;
	--background-dark: #F3F3F3;
	--primary: #7B7B7B;
	--highlight: #F78A60;
	
	@media (prefers-color-scheme: dark) {	
		--background: #2d2d2d;
		--primary: #C0C0C0;
		--highlight: #f5a162;
	}
	
	nav {
		border: none;
		padding-left: 20px;
		padding-right: 20px;
		
		a {
			color: var(--primary);
			
			 &:hover {
				 text-decoration: none;
			 }
		}
		
		.contact-link {
			display: none;
		}
		
		@media (min-width:$phone-landscape) {
			max-width: 900px;
			padding-left: calc(20px + env(safe-area-inset-left));
		    padding-right: calc(20px + env(safe-area-inset-right));
		}
		
		@media (min-width:$tablet) {
			height: 120px;
			padding-left: calc(30px + env(safe-area-inset-left));
		    padding-right: calc(30px + env(safe-area-inset-right));
			
		}
		
		
		@media (min-width:$tablet-landscape) {
			padding-left: calc(0px + env(safe-area-inset-left));
		    padding-right: calc(0px + env(safe-area-inset-right));
			
		}
		
		@media (min-width:$desktop) {
			height: 212px;
			
			.sitename {
				transform: scale(1.3);
			}
			
			.contact-link {
				font-size: 30px;
			}
		}
		
		@media (min-width: 1224px) {
			padding-left: 0px;
		    padding-right: 0px;
		}
	}
	
	.constrained {
		max-width: 900px;
		z-index: 2;
		position: relative;
		padding-top: 70px;
		
		@media (min-width:$tablet) {
			padding-top: 120px;
		}
		
		@media (min-width:$desktop) {
			padding-top: 212px;
		}
	}
	
	.categories {
		
		.resumelink {
			display: block;
		}
	}
	
	h3 {
		text-transform: none;
		font-family: var(--font-header);
		font-size: 25px;
		margin: 0px;
		margin-bottom: 5px;
		line-height: 26px;
		
		@media (min-width:$tablet) {
			font-size: 28px;
		}
	}
	
	h4 {
		font-family: var(--font-header);
		font-size: 16px;
		color: var(--primary);
		margin-bottom: 10px;
	}
	
	p {
		font-family: var(--font-body);
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 30px;
	}
	
	a {
		color: var(--highlight);
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	.type {
		margin-left: 10px;
		margin-top: 60px;
		
		@media (min-width:$desktop) {
			margin-left: 18px;
		}
	}
	
	.details {
		margin-bottom: 40px;
		margin-left: 10px;
				
		ul {
			list-style: none;
			@include clearfix;
			margin: 0px;
			
			li {
				float: left;
				font-family: var(--font-header);
				margin-right: 40px;
				font-size: 22px;
				color: var(--primary);
				
				a {
					color: var(--primary);
					
					&:hover {
						color: var(--highlight);
					}
				}
				
				&:first-child {
					display: none;
				}
			}
		}
		
		@media (min-width: $desktop) {
			margin-left: 18px;
		}
	}
	
	.job {
		margin-bottom: 20px;
		margin-left: 10px;
		
		@media (min-width:$tablet) {
			padding: 0px;
		}
		
		@media (min-width:$desktop) {
			margin-left: 18px;
		}
	}
	
	.education {
		margin-bottom: 20px;
		margin-left: 10px;
		
		@media (min-width:$desktop) {
			margin-left: 18px;
		}
	}
	
	@media print {
		--background: black;
		--background-dark: black;
		--primary: black;
		--highlight: black;
		
		nav {
			height: 40px;
			
			.sitename {
				transform: scale(1);
				margin-left: 20px;
			}
			
			svg {
				display: none;
			}
		}
		
		.constrained {
			padding-top: 40px;
		}
		
		.details ul li:first-child {
			display: block;
		}
		
		h1 {
			margin-left: 10px;
		}
		
		.details {
			padding-top: 20px;
		}
		
		.type {
			margin-bottom: 15px;
			margin-top: 30px;
			border-bottom: 1px solid var(--primary);
		}
		
		.job {
			margin-bottom: 0px;
			
			h3 {
				font-size: 20px;
			}
			
			h4 {
				font-size: 12px;
				margin-bottom: 0px;
			}
			
			p {
				font-size: 12px;
				line-height: 18px;
			}
		}
		
		
		.education {
			margin-bottom: 0px;
			
			h3 {
				font-size: 20px;
				margin-bottom: 0px;
			}
			
			h4 {
				font-size: 12px;
				margin-bottom: 0px;
			}
			
			p {
				font-size: 12px;
				line-height: 18px;
				padding-bottom: 20px;
			}
		}
	}
}

.notfound {
	--background: #13222D;
	--primary: #9bbad8;
	--highlight: #BABCEA;
	
	overflow: hidden;
	
	
	h1 {
		font-family: var(--font-body);
		text-transform: none;
		font-size: 31px;
		line-height: 39px;
		text-align: center;
		margin-bottom: 50px;
		
		@media (min-width:$tablet) {
			font-size: 50px;
			line-height: 60px;
		}
		
		@media (min-width:$tablet-landscape) {
			font-size: 50px;
			line-height: 60px;
			
			br {
				display: none;
			}
		}
		
		
		@media (min-width:$desktop) {
			font-size: 70px;
			line-height: 80px;
		}
	}
	
	nav {
		display: none;
	}
	
	.backing {
		background: linear-gradient(-180deg, #0C1F26 0%, #3E3252 100%);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top: 0px;
	}
	
	.flex {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	
	svg {
		transform: scale(6);
		display: block;
		opacity: 0.1;
		
		g {
			stroke: var(--highlight);
			stroke-width: 2;
		}
	}
	
	.backlink {
		z-index: 3;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 160px;
		margin: auto;
		text-align: center;
	}
}

.aptapro {
	--highlight: #00B5DC;
	
	header {
		.coverimage {
			background-image: url(../aptapro/header-background.jpg);
			background-position: center bottom;
		}
		
		@media (min-width:$tablet) and (max-width:1300px) {			
			.copy {
				width: 100%;
			}
			
			.visit-link {
				margin-top: 30px;
			}
			
			.logo img {
				max-height: 100px;
				margin: 0px;
			}
		}
		
		@media (min-width:1300px) {
			.copy {
				width: 75%;
			}
			
			.logo {
				width: 45%;
			}
		}
	}
	
	.center {
		margin-top: -30px;
	}
	
	.elnn {
		margin: 60px 0px 0px 0px;
		
		img {
			width: 350px;
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
	
	.styleguide {
		margin-bottom: 60px;
		border-radius: var(--radius);
		overflow: hidden;
		background: #F5F6F6;
		padding-left: 30px;
	}
}

.eastland {
	--highlight: #BC441C;
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #e05c30;
	}
	
	.coverimage {
		background-image: url(../eastland/header-background.jpg);
		opacity: 0.07;
		background-position: center bottom;
	}
	
	.center {
		padding: 0px;
	}
	
	#solution img {
		max-width: 100%;
		margin-bottom: -20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		
		@media (min-width:$tablet) {
			margin-bottom: -80px;
		}
	}
	
	.row {
		position: relative;
		margin-bottom: 40px;
		
		img {
			max-width: 100%;
		}

		@media (min-width:$tablet-landscape) {
			margin-bottom: 0px;
			
			img {
				transform: translateX(-70px);
			}
			
			p {
				width: 50%;
				position: absolute;
				bottom: 90px;
				right: 0px;
			}
		}
	}
	
	.appgrid {
		margin-bottom: 100px;
	}
}

.epoch {
	--highlight: #fea000;
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #FFD56F;
	}
	
	header {
		.coverimage {
			background-image: url(../epoch/header-background.jpg);
		}
	}
	
	.center {
		padding: 0px;
	}
	
	.appgrid {
		margin-top: 0px;
	}
	
	.appgrid > div {
		position: relative;
	}
		
	.countdown {
		bottom: 100px;
		
		@media (min-width:$desktop) {
			right: 0px !important;
			left: 0px !important;
			position: absolute;
			margin: 0px auto !important;
		}
	}
	
	.row {
		display: flex;
		flex-flow: column;
		justify-content: center;
		
		.image {
			position: relative;
			width:378px;
			transform: scale(0.75);
			transform-origin: left top;
			margin-bottom: -100px;
			
			@media (min-width:$tablet) {
				transform: none;
				margin-bottom: 0px;
			}
			
			@media (min-width:$desktop) {
				transform: translateY(26px);
			}
		}
		
		@media (min-width:$tablet) and (max-width:1022px) {
			align-items: center;
		}
		
		@media (min-width:$tablet-landscape) {
			flex-flow: row;
		}
	}
	
	.widget {
			flex-flow: row;
			margin-bottom: 60px;
			align-items: center;
			
			.copy {
				width: 60%;
			}
			
			.image {
				width: 40%;
			}
		
		.image {
			position: relative;
		}
		
		img {
			max-width: 100%;
			width: 378px;
			margin: 0px auto;
			display: block;
		}
		
		.time p {
			@media (min-width: $tablet) {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}

	.minicountdown {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 60px;
		
		p {
			color: white !important;
			font-family: -apple-system, helvetica, arial, sans-serif;
			text-align: center;
		}
	}
}

.karinourish {
	--highlight: #005B9F;
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #1A8BCC;
	}
	
	.coverimage {
		background-image: url(../karinourish/header-background.jpg);
		opacity: 0.5;
		background-position: center bottom;
		
		@media (prefers-color-scheme: dark) {	
			opacity: 0.1;
		}
	}
	
	.grid {
		margin-bottom: 0px;
	}
	
	.styleguide {
		background: #F7F3E9;
		padding: 40px;
	}
}

.mediaportal {
	--highlight: #2196F3;
	
	.coverimage {
		background-image: url(../mediaportal/header-background.jpg);
		opacity: 0.3;
		background-position: right center;
	}
	
	.cards {
		margin-bottom: 20px;
		padding-bottom: 0px;
		padding-top: 0px;
		
		img {
			max-width: 100%;
		}
	}
		
	#solution .button {
		margin-right: 15px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		display: inline-block;
		
		@media (min-width:$phone-landscape) {
			width: auto;
		}
	}
	
	@media (min-width:$tablet-landscape) {
		.report {
			position: relative;
			
			.copy {
				position: absolute;
				width: 48%;
				right: 0px;
				top: 50px;
			}
		}
	}
	
	.mobileapp {
		display: flex;
		flex-direction: column;
		
		@media (min-width:$tablet-landscape) {
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 460px;
		}
		
		img {
			margin-bottom: 0px;
		}
		
		
	}
}

.nightlight {
	--highlight: #373038;
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #D7B48D;
	}
	
	h1 {
		color: #D7B48D !important;
	}
	
	.description, nav .contact-link, .sitename {
		color: #C0C0C0 !important;
	}
	
	.sitename #logo {
		stroke: #C0C0C0 !important;
	}
		
	.coverimage {
		background-image: url(../nightlight/header-background.jpg);
		opacity: 1;
	}
	
	.like {
		@media (max-width:$tablet) {
			img	{
				margin: 0px auto 10px auto;
				display: block;
			}
			
			p {
				text-align: center;
			}
		}
		
		@media (min-width:$tablet) {
			display: flex;
			align-items: center;
			
			img {
				margin-right: 30px;
				width: 114px;
			}
			
			p {
				flex: 1;
				padding: 0px;
			}
		}
	}
	
	.closed {
		max-width: 100%;
		margin: 0px auto 30px auto;
		display: block;
		
		@media (min-width:$tablet) {
			margin-bottom: 30px;
		}
	}
	
	.artdirection {
		background: #2F2D35;
		padding: 20px;
		margin-bottom: 10px;
		
		.copy {
			padding-bottom: 30px;
			
			img {
				max-width: 100%;
			}
			
			.colours {
				margin-top: 20px;
			}
			
			@media (min-width:$tablet) {
				display: flex;
				justify-content: space-between;
				padding-top: 30px;
				align-items: flex-end;
				
				.fonts {
					max-width: 50%;
				}
				
				.colours {
					max-width: 50%;
					height: 68px;
					flex: 1;
					padding-left: 30px;
				}
			}
			
			@media (min-width:$desktop) {
				.fonts {
					max-width: 463px;
				}
				
				.colours {
					max-width: 518px;
				}
			}
		}
		
		.icons {
			
			padding-top: 30px;
			margin-bottom: -10px;
			border-top: 1px solid rgba(#9B9CA6, 0.1);
			flex-wrap: wrap;
			
			img {
				width: calc(100%/3);
			}
			
			@media (min-width:321px) {
				justify-content: space-between;
				flex-wrap: nowrap;
				
				img {
					width: calc(100%/6.5);
				}
			}
			
			@media (min-width:$tablet) {
				display: flex;
				
				img {
					width: auto;
				}
			}
		}
	}
	
	.sidebar {
		margin-top: 30px;
		
		@media (min-width:$tablet) {
			display: flex;
			align-items: center;
			margin-top: 100px;
			
			img {
				margin-right: 30px;
			}
			
			.copy {
				flex: 1;
			}
		}
	}
}

.retailerportal {
	--highlight: #CA4750;
	
	.coverimage {
		background-image: url(../retailerportal/header-background.jpg);
	}
	
	header {
		background: black;
	}
	
	.card {
		margin: 30px auto;
		max-width: 940px;
		
		img {
			max-width: 100%;
		}
	}
	
	.artdirection {
		height: 1249px;
		position: relative;
		margin-bottom: 60px;
		
		.baseline {
			width: 100%;
			height: 100%;
			position: absolute;
			background: url(../retailerportal/lines.png);
			z-index: 2;
		}
				
		.image {
			background: url(../retailerportal/styleguide-mobile.png);
			width: 303px;
			height: 1197px;
			margin: 26px auto;
			padding-top: 0px;
			position: absolute;
			left: 0px;
			right: 0px;
			z-index: 1;
			
			@media (prefers-color-scheme: dark) {	
				background: url(../retailerportal/styleguide-mobile-dark.png);
			}
		}
		
		@media (min-width:$tablet) {
			height: 1015px;
			
			.image {
				background: url(../retailerportal/styleguide-tablet.png);
				width: 492px;
				height: 911px;
				margin: 52px auto;
				
				@media (prefers-color-scheme: dark) {	
					background: url(../retailerportal/styleguide-tablet-dark.png);
				}
			}
		}
		
		@media (min-width:$desktop) {
			height: 573px;
			
			.image {
				background: url(../retailerportal/styleguide-desktop.png);
				width: 1054px;
				height: 469px;
				margin: 52px auto;
				
				@media (prefers-color-scheme: dark) {	
					background: url(../retailerportal/styleguide-desktop-dark.png);
				}
			}
		}
		
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			.image {
				background: url(../retailerportal/styleguide-mobile@2x.png);
				background-size: 303px 1197px;
				
				@media (prefers-color-scheme: dark) {	
					background: url(../retailerportal/styleguide-mobile-dark@2x.png);
					background-size: 303px 1197px;
				}
			}
			
			@media (min-width:$tablet) {
				.image {
					background: url(../retailerportal/styleguide-tablet@2x.png);
					background-size: 492px 911px;
					
					@media (prefers-color-scheme: dark) {	
						background: url(../retailerportal/styleguide-tablet-dark@2x.png);
						background-size: 492px 911px;
					}
				}
			}
			
			@media (min-width:$desktop) {
				.image {
					background: url(../retailerportal/styleguide-desktop@2x.png);
					background-size: 1054px 469px;
					
					@media (prefers-color-scheme: dark) {	
						background: url(../retailerportal/styleguide-desktop-dark@2x.png);
						background-size: 1054px 469px;
					}
				}
			}
		}
	}
}

.simplescales {
	--highlight: #FF9E2A;
	
	.coverimage {
		background-image: url(../simplescales/header.jpg);
		opacity: 0.2;
		background-position: right top;
	}
			
	#solution .copy {
		@media (min-width:$tablet-landscape) {
			margin-top: 100px;
		}
	}
	
	
	.demo {
		position: relative;
		
		img {
			z-index: 2;
			position: relative;				
		}
		
		video {
			position: absolute;
			left: 13%;
			top: 46px;
			width: 74%;
			
			@media (min-width:375px) {
				top: 49px;
			}
			
			@media (min-width:414px) {
				top:51px;
			}
			
			@media (min-width:450px) {
				top: 55px;
			}
			
			
			@media (min-width: $tablet-landscape) {
				width: 259px;
				left: 46px;
				top: 20px;				
			}
			
			@media (min-width:$desktop) {
				width: 329px;
				left: 58px;
				top: 24px;	
			}		
		}
	}
	
	
	.phone {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		img {
			max-width: 100%;
			margin-top: 30px;
		}
		
		@media (min-width:$tablet-landscape) {
			flex-direction: row;
			align-items: flex-start;
			
			img {
				max-width: 350px;
				margin-top: 0px;
			}
		}
		
		@media (min-width:$desktop) {
			img {
				max-width: 525px;
			}
		}
	}
	
	.watch {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 60px;
		
		img {
			max-width: 100%;
			margin-top: 30px;
		}
						
		@media (min-width:$tablet-landscape) {
			flex-direction: row;
			margin-top: -150px;
			
			img {
				margin-right: 40px;
				margin-top: 0px;
				max-width: 250px;
			}
			
			p {
				margin-top: 150px;
			}
		}
		
		@media (min-width:$desktop) {
			margin-top: -300px;
			
			img {
				max-width: 392px;
			}
		}
	}
	
	.earlygrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		margin-bottom: 30px;
		margin-top: 30px;
		
		.screenshot {
			margin: 0px;
		}
		
		@media (min-width:$phone-landscape) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
		
	.othergrid {
		grid-template-columns: 1fr;
		max-width: 600px;
		margin: 0px auto;
		display: grid;
		
		div {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		
		img {
			margin-bottom: 30px;
			margin-top: 60px;
			max-width: 100%;
		}
		
		@media (min-width:$tablet-landscape) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 100px;
			max-width: 100%;
			
			img {
				height: 298px;
			}
			
			.health img {
				transform: scale(0.8);
			}
			
			.health p {
				margin-top: 0px;
			}
		}
	}
}

.tolq {
	--highlight: #00AF5B;
	
	header {
		
		.coverimage {
			background-image: url(../tolq/header-background.jpg);
			background-position: center bottom;
		}
	}
	
	#challenge img {
		max-width: 100%;
	}
	
	#solution img {
		@media (min-width:$desktop) {
			width: 100%;
		}
	}		
	
	.interfaces {
		display: flex;
		flex-flow: column;
		margin-top: 30px;
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		max-width: 512px;
		
		img {
			max-width: 100%;
		}
		
		h4 {
			margin-bottom: 40px;
		}
		
		@media (min-width:$tablet) {
			flex-flow: row;
			justify-content: space-between;
			max-width: 100%;
			
			div {
				width: 48%;
			}
		}
	}

	
	.whitelogo {
		margin-top: 60px;
		margin-bottom: 60px;
		flex-flow: column;
		
		img {
			max-width: 300px;
			margin: 0px auto;
			display: block;
			margin-bottom: 20px;
		}
		
		@media (min-width:$tablet) {
			display: flex;
			flex-flow: row;
			align-items: center;
			
			img {
				width: 492px;
				max-width: 492px;
				margin-right: 30px;
				margin-bottom: 0px;
			}
			
			p {
				width: 50%;
			}
		}
	}
}

.kohab {
	--highlight: #2EB68C;
	
	.coverimage {
		background-image: url(../kohab/header-background.jpg);
		opacity: 0.1;
		background-position: center top;
	}
	
	.row {
		margin-bottom: 60px;
		display: flex;
		flex-direction: column;
		
		@media (min-width:$tablet-landscape) {
			flex-direction: row;
			align-items: center;
			
			p:last-child {
				padding-bottom: 0px;
			}
		}
	}
	
	#today img {
		max-width: 70%;
		align-self: center;
	}
	
	#boards {
		@media (min-width:$tablet-landscape) {
			flex-direction: row-reverse;
			
			.panel {
				margin-right: 40px;
			}
		}
	}
	
	#inspections {
		@media (min-width:$tablet-landscape) {
			.panel {
				margin-left: 40px;
			}
		}
	}
	
	#chat {
		.panel {
			border: 1px solid rgba(0,0,0,0.1);
		}
		
		@media (min-width:$tablet-landscape) {
			flex-direction: row-reverse;
			
			.panel {
				margin-right: 40px;
			}
		}
	}
	
	#notifications {
		margin-bottom: 0px;
		
		.panel {
			border-radius: 13px;
		}
		
		@media (min-width:$tablet-landscape) {
			.panel {
				margin-left: 40px;
			}
			
			display: grid;
			grid-template-columns: 1fr 392px;
		}
	}
	
	h2 {
		display: flex;
		align-items: center;
		
		img {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
	
	.components {
		display: flex;
		flex-direction: column;
		
		img {
			max-width: 100%;
			align-self: center;
			margin-bottom: 20px;
			
			&:nth-child(2) {
				display: none;
			}
		}
		
		@media (min-width:$tablet) {
			flex-direction: row;
			justify-content: space-around;
			
			img {
				margin-bottom: 10px;
			}
		}
		
		@media (min-width:$desktop) {
			justify-content: space-between;
			
			img {
				&:nth-child(2) {
					display: inherit;
				}
			}
		}
	}
}

.marketplace {
	--highlight: #007ACC;
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #32adff;
	}
	
	.coverimage {
		background-image: url(../marketplace/header-background.jpg);
		background-position: center center;
		opacity: 1;
	}
	
	h1, .description, .sitename, .contact-link {
		color: white;
	}
	
	.sitename #logo {
		stroke: white;
	}
	
	.pillars {
		@media (max-width: 767px) {
			.item {
				display: grid;
				grid-template-columns: 50px 1fr;
				grid-gap: 10px;
				align-items: center;
				margin-top: 20px;
				
				img {
					max-width: 100%;
				}
				
				h3 {
					margin-bottom: 0px;
				}
				
				p {
					font-size: 14px;
					line-height: 18px;
					padding-bottom: 0px;
				}
			}
		}
		
		@media (min-width:$tablet) and (max-width: 1023px) {
			.item {
				display: grid;
				grid-template-columns: 100px 1fr;
				grid-gap: 30px;
				align-items: center;
				margin-top: 40px;
				
				img {
					width: 100%;
				}
				
				h3 {
					margin-bottom: 0px;
					font-size: 26px;
				}
				
				p {
					font-size: 18px;
					line-height: 23px;
					padding-bottom: 0px;
				}
			}
		}
		
		@media (min-width:$tablet-landscape) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			text-align: center;
			grid-gap: 40px;
			margin-top: 40px;
			
			h3 {
				font-size: 33px;
				margin-bottom: 5px;
				margin-top: 10px;
			}
			
			p {
				font-size: 18px;
				line-height: 23px;
			}
		}
	}
	
	.tools {
		max-width: 100%;
	}
	
	.videoWrapper {
		margin-bottom: 40px;
		
		@media (min-width:$tablet) {
			margin-bottom: 60px;
		}
	}
}

.ticketek-site {
	--highlight: #00497A;
	
	header .button {
		background: #007ACC;
	}
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #32adff;
		
		header .button {
			background: #007ACC;
		}
	}
	
	.coverimage {
		background-image: url(../ticketek-site/header-background.jpg);
		background-position: center center;
		opacity: 1;
	}
	
	h1, .description, .sitename, .contact-link {
		color: white;
	}
	
	.sitename #logo {
		stroke: white;
	}
	
	.map {
		max-width: 100%;
		margin-bottom: 50px;
	}
	
	.screenshotpages {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
		margin-bottom: 40px;
		
		div:nth-child(3), div:nth-child(4)  {
			display: none;
		}
		
		.screenshotWrapper {
			position: relative;
		}
		
		.screenshot {
			margin-bottom: 0px;
		}
		
		h4 {
			text-align: center;
			display: block;
			position: absolute;
			width: 100%;
			padding-top: 10px;
			text-transform: uppercase;
			color: var(--primary);
			font-family: var(--font-header);
		}
		
		@media (min-width:$tablet) {
			grid-template-columns: repeat(4, 1fr);
			
			div:nth-child(3), div:nth-child(4)  {
				display: block !important;
			}
		}
	}
	
	#solution .button {
		margin-right: 15px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		display: inline-block;
		
		@media (min-width:$phone-landscape) {
			width: auto;
		}
	}
	
	.mobileapp {
		margin-top: 40px;
		
		img {
			max-width: 100%;
			margin: 0px auto;
			display: block;
		}
		
		@media (min-width:$tablet-landscape) {
			display: grid;
			grid-template-columns: 1fr 503px;
			grid-gap: 40px;
			align-items: center;
		}
	}
	
	.prototype {
		margin-bottom: 20px;
		padding-top: 40px;
		
		p {
			padding-bottom: 20px;
		}
	}
	
	.posterlineup {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 10px;
		
		img {
			border-radius: 5px;
			max-width: 100%;
		}
	}
	
	p a {
		text-decoration: underline;
		color: var(--primary);
		
		&:hover {
			color: var(--highlight);
		}
	}
}

.ticket-sharing {
	--highlight: #08B1BE;
	
	@media (prefers-color-scheme: dark) {	
		--highlight: #20e6f6;
	}
	
	.coverimage {
		background-image: url(../ticket-sharing/header-background.jpg);
		background-position: center center;
		opacity: 1;
	}
	
	h1, .description, .sitename, .contact-link {
		color: white;
	}
	
	.sitename #logo {
		stroke: white;
	}

	p a {
		text-decoration: underline;
		color: var(--primary);
		
		&:hover {
			color: var(--highlight);
		}
	}
	
	.shareticket {
		margin-top: 20px;
		display: flex;
		align-items: center;
		flex-direction: column;
	
		@media (min-width: $tablet-landscape) {
			display: grid;
			grid-template-columns: 1fr 444px;
			align-items: center;
			
			.copy {
				margin-top: -40px;
			}
		}
	}
	
	.receiveticket {
		display: flex;
		align-items: center;
		flex-direction: column;
		
		@media (min-width: $tablet-landscape) {
			display: grid;
			grid-template-columns: 444px 1fr;
			align-items: center;
			
			.demo {
				grid-row: 1
			}
		}
	}
		
	.demo {
		position: relative;
		
		img {
			z-index: 2;
			position: relative;
			max-width: 100%;			
		}
		
		video {
			position: absolute;
				top: 3%;
				left: 13%;
				width: 74.5%;
				
			@media (min-width: 482px) {
					top: 25px;
					left: 58px;
					width: 329px;
				}
		}
	}
	
	.passes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		margin-bottom: 40px;
		
		div {
			position: relative;
		}
		
		img {
			max-width: 100%;
		}
		
		h4 {
			text-align: center;
			display: block;
			position: absolute;
			width: 100%;
			padding-top: 10px;
			text-transform: uppercase;
			color: var(--primary);
			font-family: var(--font-header);
			
			span {
				@media (max-width: 414px) {
					display: none;
				}
			}
		}
	}
}


@-moz-document url-prefix() { 
  .portfolio .flexwrapper div {
     width: 100%;
  }
}