---
layout: default
title:  "Trevor Kay - Thoughts"
class: "thoughts"
exclude: true
---

<div class="constrained">
	
	{% include name.html %}
	
	{% for post in site.thoughts reversed %}
		{% unless post.exclude %}
			<div class="slide {{ post.class }}">
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
					<p class="type">{{ post.date | date_to_long_string }}</p>
					<h2>{{ post.title }}</h2>
					<p class="description">{{ post.description }}</p>
				</a>
			</div>
		{% endunless %}
	{% endfor %}


</div>

{% include spin.html %}