---
layout: default
title:  "Trevor Kay - Resume"
class: "resume"
exclude: true
---

<div class="constrained">
	
	{% include name.html %}

	<div class="details">
		<ul>
			<li>trevorkay.me</li>
			<li>trevormkay@me.com</li>
			<li>0429 628 830</li>
		</ul>
	</div>

	<h2 class="type">Employment History</h2>
	
	<div class="job">
 		<h3>Interactive Designer for MullenLowe Profero</h3>
		<h4>April 2013 - April 2016</h4>
		<p>During my time at Mullenlowe Profero I worked for a varied set of clients including <a href="../portfolio/eastland.html" target="_blank">QIC</a>, Johnson &amp; Johnson, Randstad, Western Union, <a href="../portfolio/pizzahut.html" target="_blank">Pizza Hut</a>, and <a href="../portfolio/aptapro.html" target="_blank">Nutricia</a>. This involved producing a variety of digital and physical work. I was involved in projects at all the different stages a project can be in: UX, art direction, template rollout, front end build, template integration, and maintenance. I also created a lot of images for social channels.</p>
		<p>I worked with a wide range of tools including Sketch, Adobe Creative Suite, Sass, Gulp, JIRA, Bamboo, Basecamp, Slack, and many more. Several projects were also run agile.</p>
	</div>
	<div class="job">
		<h3>UI Designer for Exvo</h3>
		<h4>November 2009 - March 2013</h4>
		<p>I worked on a wide range of tasks including designing <a href="../portfolio/tolq.html" target="_blank">web apps</a>, <a href="../portfolio/exvo.html" target="_blank">icons</a>, branding, signage, emails, and banners. Exvo is based in the Netherlands. This meant working remotely over the internet using a variety of communication methods and working to the Netherlands timezone.</p>
	</div>
	<div class="job">
		<h3>Graphic Designer for Synalysis</h3>
		<h4>January 2013</h4>
		<p>I was hired by Andreas Pehnack of Synalysis to redesign their logo. Working closely with Andreas using an iterative process, I created a design that he was happy with that worked on his website and on business cards.</p>
	</div>
	<div class="job">
		<h3>Graphic Designer for Maxine Herman</h3>
		<h4>October 2009</h4>
		<p>My job was to come up with a logo that matched the quality of items Maxine intended to sell on dvinechoices.com. Then create a matching business card and flyer.</p>
	</div>
	<div class="job">
		<h3>UI Designer for Gabe Shabazian</h3>
		<h4>July 2009</h4>
		<p>I took the OS X widget, Percount, that Gabe Shabazian had made and created a design that was suitable as an iOS app. This involved significantly redesigning the interface to include features that made good use of what iOS has to offer such as MapKit. The app was called <a href="../portfolio/epoch.html" target="_blank">Epoch</a> and was available on the App Store during 2010.</p>
	</div>
	<div class="job">
		<h3>Web Designer for Conicom</h3>
		<h4>July 2008 - December 2008</h4>
		<p>I designed and coded websites for Conicom clients. I also worked with Flash to create animated banners and a media player. I worked closely with clients to get the best results possible.</p>
	</div>
	<div class="job">
		<h3>UI Designer for XeroCreative</h3>
		<h4>2007</h4>
		<p>For XeroCreative’s flagship app, YVD, I designed a completely new user interface and set of icons. The goal was to make YVD a much more friendly and easier to use. The icons were also modernized to match Vista standards. The manual for the app was also rewritten by me to be easier to read.</p>
	</div>
	
	<h2 class="type">Education</h2>
	
	<div class="education">
		<h3>Diploma of Graphic Design</h3>
		<p>2007 at Nepean Arts and Design Center</p>
	</div>
	<div class="education">
		<h3>Statement of Attainment in Work Skills</h3>
		<p>2007 at Nepean Arts and Design Center</p>
	</div>
	<div class="education">
		<h3>Higher School Certificate</h3>
		<p>2005 at Evans High School</p>
	</div>
	<div class="education">
		<h3>Statement of Attainment in Design Foundation Studies</h3>
		<p>2005 at Nepean Arts and Design Center</p>
	</div>
	<div class="education">
		<h3>Certificate II in Design Fundamentals</h3>
		<p>2004 at Nepean Arts and Design Center</p>
	</div>
	<div class="education">
		<h3>School Certificate</h3>
		<p>2003 at Evans High School</p>
	</div>

</div>

{% include spin.html %}