$background: #2A3B46;
$primary: #9EAEBC;
$highlight: #FAB96D;

.fireworks {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, li, .type {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/aptapro/header-background.jpg);
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.thought a {
		color: $primary;
		border-bottom: 2px solid $highlight;
		
		&:hover {
			text-decoration: none;
			color: $highlight;
		}
	}
	
	.callout {
		 border-left: 4px solid $primary;
		 background: rgba($primary,0.05);
	}
	
	code {
		background: $highlight;
		border: none;
		color: $background;
		padding: 5px 10px;
	}
}