$background: #E6E6E6;
$primary: #2D2D2D;
$highlight: #2C7DA9;

.microsoft {
	background: $background;
	
	.cover {
		background: rgba($background,0.8);
	}
	
	h1, h2, h3 {
		color: $highlight;
	}
	
	p, caption, .type {
		color: $primary !important;
	}
	
	.type::after {
		background: $primary;
	}
	
	.visit-link {
		color: $highlight;
	}
	
	#arrow {
		fill: $highlight;
	}
	
	.main-nav {
		border-bottom: 2px solid rgba($primary, 0.2);
		
		.sitename, li a {
			color: $primary;
		}
		
		#logo {
			stroke: $primary
		}
		
		li a.active {
			color: $highlight;
		}
		
		.hamburger span {
			background: $highlight;
		}
	}
	
	header {
		background-color: $background-dark;
		
		.coverimage {
			background-image: url(../images/portfolio/aptapro/header-background.jpg);
		}
	}
	
	.anchors {
		border-top: 2px solid rgba($primary, 0.2);
		
		li a {
			color: $primary;
		}
	}
	
	#solution, #other-works {
		background: $background-dark;
	}
	
	.link {
		background: $background;
	}
	
	.thought a {
		color: $primary;
		border-bottom: 2px solid $highlight;
		
		&:hover {
			text-decoration: none;
			color: $highlight;
		}
	}
}