:root {
	--background: #ECECEC;
	--tint: #0372FF;
	--main: #6d6d6d;
	--sidebar: #DFDFDF;
	--backing: rgba(255, 255, 255, 0.3);
}

.light {
	display: block;
}

.dark {
	display: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1E1E1E;
		/* --tint: #FA9E3F; */
		--tint: #50c6ff;
		--main: #949596;
		--sidebar: rgba(0,0,0,0.2);
		--backing: rgba(148, 149, 150, 0.05);
	}
	
	.light {
		display: none;
	}
	
	.dark {
		display: block;
	}
}

 * {
	 box-sizing: border-box;
 }
 
/* html {
	scroll-behavior: smooth;
} */

body {
	background: var(--background);
}

main a {
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-decoration: none;
	font-family: -apple-system, sans-serif;
	color: var(--main);
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

main a::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	background: var(--backing);
	border-radius: 5px;
}

main .imagegrid a::after {
	background: none;
}

main a:hover {
	color: var(--tint);
}

main a:hover::after {
	background: white;
}

@media (prefers-color-scheme: dark) {
	main a:hover::after {
		background: rgba(148, 149, 150, 0.1);
	}
}

main .imagegrid a:hover::after {
	background: none;
}


.icon {
	fill: var(--main);
	stop-color: var(--main);
}

a:hover .icon {
	fill: var(--tint);
	stop-color: var(--tint);
}

h1 {
	font-family: -apple-system, sans-serif;
	color: var(--main);
	font-size: 24px;
	display: flex;
	align-items: center;
	margin-top: 0px;
	padding-top: 20px;
}

h1 svg {
	margin-right: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	margin: 20px;
	padding-bottom: 20px;
}

li a {
	color: var(--main);
	text-decoration: none;
	font-family: -apple-system, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

li:hover a {
	color: var(--tint);
	transition: 0.2s fill ease;
}

aside {
	width: 70px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow-y: auto;
	display: flex;
	padding-top: 10px;
}

main {
	width: calc(100% - 70px);
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px 40px;
}

section {
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-gap: 15px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

.badge {
	font-family: -apple-system, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: var(--main);
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0px;
	font-weight: bold;
	font-size: 10px;
	padding: 5px;
}

.badge::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	background: var(--main);
	opacity: 0.2;
	border-radius: 2px;
}

a:hover .badge {
	color: var(--tint);
}

a:hover .badge::after {
	background: var(--tint);
}

@media (min-width:768px) {	
	section {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (min-width:1000px) {	
	section {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width:1100px) {
	section {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width:1600px) {	
	section {
		grid-template-columns: repeat(5, 1fr);
		
	}
}

@media (min-width:2000px) {	
	section {
		grid-template-columns: repeat(6, 1fr);
		
	}
}


.imagegrid {
	grid-template-columns: repeat( auto-fit,minmax(150px,1fr) );
	grid-gap: 20px;
}

.imagegrid a {
	width: 100%;
	height: auto;
	background: none;
	border-radius: 0px;
}

.imagegrid img {
	width: 100%;
	border-radius: 5px;
	transition: 0.2s box-shadow ease;
	box-shadow: 0px 0px 0px 0px var(--background);
}

.imagegrid img:hover {
	box-shadow: 0px 0px 0px 6px var(--background), 0px 0px 0px 9px var(--tint);
	transition: 0.2s box-shadow ease;
}