---
layout: default
title:  "Apps"
class: "apps"
exclude: true
theme: "#0D0D0D"
description: "Interactive Designer from Sydney"
---

<div class="constrained extra">
	
	{% include name.html %}
	
	<a href="http://www.google.com">
		<div class="appContainer">
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/portfolio/eastland/screenshot.gif" alt="Animated slideshow of Eastland app screenshots">
				<div class="home"></div>
			</div>
		</div>
	</a>

</div>

{% include spin.html %}