---
layout: default
title:  "Apps"
class: "apps"
exclude: true
theme: "#0D0D0D"
description: "Interactive Designer from Sydney"
---

<div class="constrained extra">
	
	{% include name.html %}
	
</div>

<div class="constrained extra">
	
	<div class="appContainer">
		<a href="https://itunes.apple.com/au/app/simple-scales-easily-track/id1144473563?mt=8" target="_blank" class="appLink">
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/apps/screenshot_simplescale.png" alt="A screenshot of Simple Scales">
				<div class="home"></div>
			</div>
			<img src="../images/apps/icon_simplescales.png" srcset="../images/apps/icon_simplescales.png, ../images/apps/icon_simplescales@2x.png 2x" alt="Simple Scales icon" class="icon">
			<h3>Simple Scales</h3>
		</a>
	</div>
	
	<div class="appContainer">
		<a href="https://itunes.apple.com/au/app/eastland-shopping-centre/id774620495?mt=8" target="_blank" class="appLink">
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/apps/screenshot_eastland.png" alt="A screenshot of Eastland">
				<div class="home"></div>
			</div>
			<img src="../images/apps/icon_eastland.png" srcset="../images/apps/icon_eastland.png, ../images/apps/icon_eastland@2x.png 2x" alt="Eastland icon" class="icon">
			<h3>Eastland</h3>
		</a>
	</div>
	
	<div class="appContainer">
		<a href="../portfolio/epoch.html" class="appLink">
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/apps/screenshot_epoch.png" alt="A screenshot of Epoch">
				<div class="home"></div>
			</div>
			<img src="../images/apps/icon_epoch.png" srcset="../images/apps/icon_epoch.png, ../images/apps/icon_epoch@2x.png 2x" alt="Epoch icon" class="icon">
			<h3>Epoch</h3>
		</a>
	</div>
	
	<div class="appContainer">
		<a href="https://itunes.apple.com/au/app/robina/id523794516?mt=8" target="_blank" class="appLink">
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/apps/screenshot_robina.png" alt="A screenshot of Robina">
				<div class="home"></div>
			</div>
			<img src="../images/apps/icon_robina.png" srcset="../images/apps/icon_robina.png, ../images/apps/icon_robina@2x.png 2x" alt="Robina icon" class="icon">
			<h3>Robina</h3>
		</a>
	</div>
	
	<div class="appContainer">
		<a href="https://itunes.apple.com/au/app/grand-central/id774628402?mt=8" target="_blank" class="appLink">
			<div class="phone">
				<div class="speaker"></div>
				<img class="screen" src="../images/apps/screenshot_grandcentral.png" alt="A screenshot of Grand Central">
				<div class="home"></div>
			</div>
			<img src="../images/apps/icon_grandcentral.png" srcset="../images/apps/icon_grandcentral.png, ../images/apps/icon_grandcentral@2x.png 2x" alt="Grand Central icon" class="icon">
			<h3>Grand Central</h3>
		</a>
	</div>
	

</div>

{% include spin.html %}