---
layout: default
---
<header>
	<div class="constrained">
		<div class="content">
			<div class="copy">
				<p class="type">{{ page.type }}</p>
				<h1>{{ page.title }}</h1>
				<p class="description">{{ page.description }}</p>
				<a href="{{ page.link }}" class="visit-link" target="_blank">
					{{ page.cta }} 
					{% include arrowRight.svg %}				
				</a>
			</div>
			<div class="logo">
				<img src="../images/portfolio/{{ page.class }}/header-logo.png" srcset="../images/portfolio/{{ page.class }}/header-logo.png, ../images/portfolio/{{ page.class }}/header-logo@2x.png 2x">
			</div>
			<div id="radar">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<ul class="anchors">
			<li><a href="#challenge">Challenge</a></li>
			<li><a href="#solution">Solution</a></li>
			<li><a href="#process">Process</a></li>
		</ul>
	</div>
	<div class="coverimage"></div>
</header>
<div class="case-study">
	{{ content }}
</div>