---
layout: default
---
<header>
	<div class="constrained">
		<div class="content">
			<div class="copy">
				<h1>{{ page.title }}</h1>
				<p class="description">{{ page.description }}</p>
				{% if page.visitlink1 %}<a href="{{ page.link1 }}" class="button first" target="_blank"><span>The </span>App Store</a>{% endif %}
				{% if page.visitlink2 %}<a href="{{ page.link2 }}" class="button second" target="_blank">Google Play</a>{% endif %}
			</div>
		</div>
	</div>
	<div class="coverimage"></div>
</header>
<div class="case-study">
	{{ content }}
	{% include footer.html %}
</div>
