---
layout: default
title:  "Trevor Kay - Downloads"
class: "downloads"
exclude: true
---

<div class="constrained extra">
	
	{% include name.html %}
	
	<section class="card-list">
		{% assign featuredItems = site.downloads %}
		{% assign featuredItems = featuredItems | sort: "weight" %}
		
		{% for item in featuredItems %}
			{% unless item.exclude %}
				<div class="card {{ item.class }}">
					<a href="/downloads/{{ item.class }}.zip">
						<img src="../images/downloads/tile{{ item.class }}.jpg" srcset="../images/downloads/tile{{ item.class }}.jpg, ../images/downloads/tile{{ item.class }}@2x.jpg 2x">
						<p class="type">{{ item.type }}</p>
						<h2>{{ item.title }}</h2>
						<p class="description">{{ item.description }}</p>
					</a>
				</div>
			{% endunless %}
		{% endfor %}
	</section>

</div>

{% include spin.html %}