---
layout: default
title:  "Downloads"
class: "downloads"
exclude: true
theme: "#F8F8F8"
description: "Interactive Designer from Sydney"
---

<div class="constrained extra">
	
	{% include name.html %}
	
	<section class="card-list">
		{% assign featuredItems = site.downloads %}
		{% assign featuredItems = featuredItems | sort: "weight" %}
		
		{% for item in featuredItems %}
			{% unless item.exclude %}
				<div class="card {{ item.class }}">
					<a href="/downloads/{{ item.class }}.zip" onclick="_gaq.push(['_trackEvent','{{ item.event }}','{{ item.event }}',this.href]);" target="_blank">
						<div class="border">
							<img src="../images/downloads/tile{{ item.class }}.jpg" srcset="../images/downloads/tile{{ item.class }}.jpg, ../images/downloads/tile{{ item.class }}@2x.jpg 2x">
						</div>
					</a>
				</div>
			{% endunless %}
		{% endfor %}
	</section>

</div>
